{% extends "templates/base.tmpl" %}
{% block pagetitle %}Turkish{% endblock %}
{% block title %}{% endblock %}
{% block header %}
{% endblock header %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>OpenStack Belgelendirmesine Hoşgeldiniz</h1>
                <p>
                    <strong>OpenStack Nedir?</strong> OpenStack, kullanıcılarına kaynak hazırlama, yöneticilere ise tam kontrol imkanı veren bir web arayüzü üzerinden yönetilen, hesaplama, depolama ve ağ kaynakları havuzlarını bir verimerkezi üzerinden kontrol eden bur bulut işletim sistemidir.
                </p>
                <hr>
                <h3>Sonraki adımlar neler?</h3>
                <a href="#docs-main-body" class="overview-btn docs-btn">Belgeleri görüntüleyin <i class="fa fa-arrow-circle-o-down"></i></a>
                <a href="https://www.openstack.org/software/start/" class="overview-btn docs-btn">OpenStack Edinin <i class="fa fa-arrow-circle-o-right"></i></a>
                <a href="https://www.openstack.org/marketplace/training" class="overview-btn docs-btn">Eğitim Alın <i class="fa fa-arrow-circle-o-right"></i></a>
               {% include 'templates/os_search.tmpl' %}
       </div>
        <div class="col-lg-4 col-md-4 col-sm-4 superuser-wrapper">
            <div id="superuser-img"></div>
        </div>
    </div>
</div>
<div class="mid-docs-wrapper" id="docs-main-body">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h2>Türkçe Belgeler</h2>
                <p>Bu en son Türkçe belgeleri yayınıdır. Menüyü kullanarak önceki sürümleri veya farklı dilleri seçebilirsiniz.</p>
            </div>
            {% include 'templates/dropdown_releases_and_languages.tmpl' %}
        </div>
    </div>
</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3 id="install-guides"><i class="fa fa-cogs"></i> Kurulum Kılavuzları</h3>
                        <p>En çok kullanılan OpenStack servislerine giriş</p>

                        <h4>Pike (ve ilerisi)</h4>
                        <a href="/tr_TR/install-guide">OpenStack Kurulum Kılavuzu</a>
                        <h4>Ocata</h4>
                        <a href="/ocata/tr_TR/install-guide-obs/">openSUSE ve SUSE Linux Kurumsal için OpenStack Kurulum Öğreticisi</a>
                        <a href="/ocata/tr_TR/install-guide-rdo/">Red Hat Kurumsal Linux ve CentOS için OpenStack Kurulum Öğreticisi</a>
                        <a href="/ocata/tr_TR/install-guide-ubuntu/">Ubuntu için OpenStack Kurulum Öğreticisi</a>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="ops-and-admin-guides"><i class="fa fa-users"></i>İşlemler ve Yönetim Kılavuzları</h3>
                        <a href="/ocata/tr_TR/networking-guide/">Ağ Kılavuzu (Ocata)</a>
                        <p>OpenStack Ağını (neutron) kurun ve yönetin</p>
                        <a href="/tr_TR/security-guide/">Security Guide</a>
                        <p>Guidelines and scenarios for creating more secure OpenStack clouds</p>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="api-guides"><i class="fa fa-book"></i>API Kılavuzları</h3>
                        <a href="https://developer.openstack.org/tr_TR/api-guide/quick-start/">API Kılavuzları</a>
                        <p>OpenStack API Belgelendirmesi</p>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="contributor-guides"><i class="fa fa-pencil"></i>Katkıcı Kılavuzları</h3>
                        <a href="/i18n/latest/tr_TR/">OpenStack I18n Guide</a>
                        <p>Uluslararasılaştırma iş akışı ve gelenekleri</p>
                    </div>
                </div>
            </div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>Belgelendirmeye kod gibi davranılır, ve topluluk tarafından güçlendirilmiştir - ilginizi çekti mi?</p>
                    <a href="/doc-contrib-guide/" class="overview-btn contribute-btn">Nasıl katkıda bulunulacağı<i class="fa fa-chevron-right"></i></a>
                    <p>OpenStack projesi ve belgelerin çevirilerine katılmak için, lütfen <a href="https://translate.openstack.org/language/view/tr-TR">Zanata'da Türkçe çeviri ekibine</a> katılın.</p>
                </div>
            </div>
        </div>
</div>
    <!-- End Page Content -->
{% endblock content %}
