{% set scriptdir = '../common/js/' %}
{% set cssdir = '../common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Mitaka{% endblock %}
{% block title %}{% endblock %}
{% block header %}
{% endblock header %}
{% block content %}
<!-- Begin Page Content -->
<div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Welcome to OpenStack Documentation</h1>
                <p>
                    <strong>What is OpenStack?</strong> OpenStack is a cloud operating system that controls large pools of compute, storage, and networking resources throughout a datacenter, all managed through a dashboard that gives administrators control while empowering their users to provision resources through a web interface.
                </p>
                <hr>
                <h3>What are the next steps?</h3>
                <a href="#docs-main-body" class="overview-btn docs-btn">View The Docs <i class="fa fa-arrow-circle-o-down"></i></a>
                <a href="https://www.openstack.org/software/start/" class="overview-btn docs-btn">Get OpenStack <i class="fa fa-arrow-circle-o-right"></i></a>
                <a href="https://www.openstack.org/marketplace/training" class="overview-btn docs-btn">Get Training <i class="fa fa-arrow-circle-o-right"></i></a>
                {% include 'templates/swiftype_search.tmpl' %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 superuser-wrapper">
                <div id="superuser-img"></div>
            </div>
        </div>
    </div>
    <div class="mid-docs-wrapper" id="docs-main-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <h2>Documentation for Mitaka (April 2016)</h2>
                    <p>This is the latest release. Use the menu to select a prior release if needed.</p>
                </div>
                {% include 'templates/dropdown_releases_and_languages.tmpl' %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
        <div class="row docs-toc">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="docs-link-sections">
                    <h3 id="release-notes"><i class="fa fa-refresh"></i>Release Notes</h3>
                    <p>New features, upgrade and deprecation notes, known issues, and bug fixes</p>
                    <a href="http://releases.openstack.org/mitaka/index.html">OpenStack Projects Release Notes</a>
                    <a href="/releasenotes/openstack-manuals/mitaka.html">OpenStack Documentation Release Notes</a>
                </div>
                <div class="docs-link-sections">
                    <h3 id="install-guides"><i class="fa fa-cogs"></i> Install Guides</h3>
                    <p>Getting started with the most commonly used OpenStack services</p>
                    <a href="/mitaka/install-guide-obs/">Installation Guide for openSUSE Leap 42.1 and SUSE Linux Enterprise Server 12 SP1</a>
                    <a href="/mitaka/install-guide-rdo/">Installation Guide for Red Hat Enterprise Linux 7 and CentOS 7</a>
                    <a href="/mitaka/install-guide-ubuntu/">Installation Guide for Ubuntu 14.04 (LTS)</a>
                </div>
                <div class="docs-link-sections">
                    {% include 'templates/ops_and_admin_guides.tmpl' %}
                    <a href="/mitaka/networking-guide/">Networking Guide</a>
                    <p>Deploy and manage OpenStack Networking (neutron)</p>
                </div>
                <div class="docs-link-sections">
                    <h3 id="configuration-guides"><i class="fa fa-wrench"></i> Configuration Guides</h3>
                    <a href="/mitaka/config-reference/">Configuration Reference</a>
                    <p>Installation and configuration options for OpenStack</p>
                </div>
                {% include 'templates/api_guides.tmpl' %}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                {% include 'templates/user_guides.tmpl' %}
                {% include 'templates/project_guides.tmpl' %}
                {% include 'templates/contributor_guides.tmpl' %}
                {% include 'templates/training_guides.tmpl' %}
            </div>
        </div>
        <div class="row docs-contribute-wrapper">
            <div class="col-lg-12">
                <p>Documentation treated like code, powered by the community - interested?</p>
                <a href="/contributor-guide/index.html" class="overview-btn contribute-btn">How To Contribute <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- End Page Content -->
{% endblock content %}
