{% extends "templates/indexbase.tmpl" %}
{% block pagetitle %}Mitaka{% endblock %}
{% block title %}{% endblock %}
{% block header %}
{% endblock header %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12"></div>
  </div>
  <div class="row docs-toc">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="docs-link-sections">
        <h3 id="release-notes"><i class="fa fa-refresh"></i>Release Notes</h3>
        <p>New features, upgrade and deprecation notes, known issues, and bug fixes</p>
        <a href="https://releases.openstack.org/mitaka/index.html">OpenStack Projects Release Notes</a>
        <a href="/releasenotes/openstack-manuals/mitaka.html">OpenStack Documentation Release Notes</a>
      </div>
      <div class="docs-link-sections">
        <h3 id="install-guides"><i class="fa fa-cogs"></i>Installation Guides</h3>
        <p>Getting started with the most commonly used OpenStack services</p>
        <a href="/mitaka/install-guide-obs/">Installation Guide for openSUSE Leap 42.1 and SUSE Linux Enterprise Server 12 SP1</a>
        <a href="/mitaka/install-guide-rdo/">Installation Guide for Red Hat Enterprise Linux 7 and CentOS 7</a>
        <a href="/mitaka/install-guide-ubuntu/">Installation Guide for Ubuntu 14.04 (LTS)</a>
      </div>
      <div class="docs-link-sections">
        {% include 'templates/ops_and_admin_guides.tmpl' %}
        <a href="/mitaka/networking-guide/">Networking Guide</a>
        <p>Deploy and manage OpenStack Networking (neutron)</p>
      </div>
      <div class="docs-link-sections">
        <h3 id="configuration-guides"><i class="fa fa-wrench"></i>Configuration Guides</h3>
        <a href="/mitaka/config-reference/">Configuration Reference</a>
        <p>Installation and configuration options for OpenStack</p>
      </div>
      {% include 'templates/api_guides.tmpl' %}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      {% include 'templates/user_guides.tmpl' %}
      <div class="docs-link-sections">
        <h3 id="services-libraries"><i class="fa fa-leaf"></i>Project-specific Guides</h3>
        <a href="projects.html">Services and Libraries</a>
        <p>Documentation for OpenStack services and libraries</p>
        <a href="language-bindings.html">Language Bindings and Python Clients</a>
        <p>Documentation for the OpenStack Python bindings and clients</p>
      </div>
      {% include 'templates/contributor_guides.tmpl' %}
    </div>
  </div>
</div>
{% endblock content %}
