                <div class="docs-link-sections">
                    <h3 id="api-guides"><i class="fa fa-book"></i> API Guides</h3>
                    <a href="http://developer.openstack.org/api-ref.html">API Complete References</a>
                    <p>Comprehensive OpenStack API reference</p>
                    <a href="http://developer.openstack.org/api-guide/quick-start/">API Guide</a>
                    <p>Introduction to using the OpenStack API</p>
                </div>
