                <div class="docs-link-sections">
                    <h3 id="api-guides"><i class="fa fa-book"></i> API Guides</h3>
                    <a href="https://developer.openstack.org/api-guide/quick-start/">API Guide</a>
                    <p>OpenStack API Documentation</p>
                </div>
