<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta content="text/html; charset=utf8" http-equiv="Content-Type"/>
  <title>OpenStack Docs: {% block pagetitle %}{% endblock %}</title>
{% include 'templates/css.tmpl' %}
 </head>
 <body class="docshome" id="docshome">
  <div class="container">
   <div id="header">
{% include 'templates/header.tmpl' %}
    <div class="span-19 last blueLine">
     <div class="span-19" id="navigation">
{% include 'templates/navigation.tmpl' %}
     </div>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="span-12">
    <h3 class="subhead">
     {% block title %}{% endblock %}
    </h3>
   </div>

   <div class="searchArea span-10 last">
    <div id="cse" style="width: 100%;">
     Loading
    </div>
   </div>
{% include 'templates/script_search.tmpl' %}
  </div>
{% block content %}{% endblock %}
  <div class="container">
   <div id="footer">
{% include 'templates/footer.tmpl' %}
   </div>
  </div>
{% include 'templates/script_footer.tmpl' %}
 </body>
</html>
