                    <div class="docs-link-sections">
                        <h3 id="doc-contrib-guides"><i class="fa fa-pencil"></i>Contributor Guides</h3>
                        <a href="/doc-contrib-guide/index.html">OpenStack Documentation Contributor Guide</a>
                        <p>Documentation workflow and conventions</p>
                        <a href="https://governance.openstack.org/tc/">OpenStack Technical Committee Governance Documents</a>
                        <p>OpenStack Technical Committee reference documents and official resolutions</p>
                        <a href="http://specs.openstack.org/">OpenStack Project specifications</a>
                        <p>Specifications for future project features</p>
                        <a href="/project-team-guide/">OpenStack Project Team Guide</a>
                        <p>Guide to the OpenStack project and community</p>
                        <a href="/infra/">OpenStack Testing and Collaboration Tools Documentation</a>
                        <p>Community-managed development and communication systems</p>
                        <a href="/i18n/">OpenStack I18n Guide</a>
                        <p>Internationalization workflow and conventions</p>
                        <a href="https://openinfra.dev/join/">Join the Open Infrastructure Foundation</a>
                        <p>How to join the Open Infrastructure Foundation</p>
                        <a href="https://www.openstack.org/user-survey/">Take the Deployment Survey</a>
                        <p>Influence the future of OpenStack</p>
                    </div>
