                    <div class="docs-link-sections">
                        <h3 id="contributor-guides"><i class="fa fa-pencil"></i> Contributor Guides</h3>
                        <a href="http://docs.openstack.org/contributor-guide/index.html">OpenStack Documentation Contributor Guide</a>
                        <a href="/developer/openstack-projects.html">Python Developer Documentation</a>
                        <a href="/developer/language-bindings.html">Language Bindings and Python Clients</a>
                        <a href="http://specs.openstack.org/">OpenStack Project specifications</a>
                        <a href="/project-team-guide/">OpenStack Project Team Guide</a>
                        <a href="/infra/">OpenStack Developer and
                        Community Infrastructure Documentation</a>
                        <a href="/infra/manual/">OpenStack Infrastructure User Manual</a>
                        <a href="/developer/i18n/">OpenStack I18n Guide</a>
                        <a href="/developer/tempest">Tempest Test Suite for OpenStack</a>
                        <a href="http://governance.openstack.org">OpenStack Technical Committee Governance
                        Documents</a>
                        <a href="https://www.openstack.org/join/">Join the OpenStack Foundation</a>
                        <a href="https://www.openstack.org/user-survey/">Take the Deployment Survey</a>
                    </div>
