  <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin" rel="stylesheet" type="text/css"/>
  <link href="http://openstack.org/themes/openstack/css/blueprint/screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
  <link href="http://openstack.org/themes/openstack/css/blueprint/print.css" media="print" rel="stylesheet" type="text/css"/>
  <!--[if lt IE 8]><link rel="stylesheet" href="http://openstack.org/themes/openstack/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <link href="http://openstack.org/themes/openstack/css/main.css" media="screen, projection, print" rel="stylesheet" type="text/css"/>
  <link href="http://docs.openstack.org/common/css/main-landing.css" media="screen, projection, print" rel="stylesheet" type="text/css"/>
  <link href="http://docs.openstack.org/common/css/docblitz.css" rel="stylesheet" type="text/css"/>
  <link href="http://openstack.org/themes/openstack/css/dropdown.css" media="screen, projection, print" rel="stylesheet" type="text/css"/>
