{# -*- mode: html -*- #}

<!-- Custom CSS -->

<link href="{{ CSSDIR }}deprecated-badge.css" rel="stylesheet">
<script src="{{ SCRIPTDIR }}deprecated-badge.js"></script>

<div id="deprecated-badge" class="deprecated-badge fixed
    {% if SERIES == RELEASED_SERIES %}
        deprecated-badge-current
    {% else %}
        deprecated-badge-{{ SERIES_INFO.status| lower }}
    {% endif %}
    ">
    <span id="deprecated-badge-close-button" title="close" class="deprecated-badge-close-button">x</span>
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {% if SERIES_PATH_PREFIX %}
            <p>Currently viewing</p>
            {% include 'templates/switch_releases.tmpl' %}
            <p>
            {% if SERIES_INFO.status == 'obsolete' %}
                which is no longer supported by the community. The current supported release is <a href="/{{RELEASED_SERIES}}/">{{RELEASED_SERIES.capitalize()}}.</a>
                </p>
            {% elif SERIES_INFO.status == 'EOL' %}
                which is no longer supported by the community. The current supported release is <a href="/{{RELEASED_SERIES}}/">{{RELEASED_SERIES.capitalize()}}.</a>
            {% elif SERIES == RELEASED_SERIES %}
                which is the current supported release.
            {% elif SERIES_INFO.status == 'maintained' %}
                which is maintained, but old. The current supported
                release is <a href="/{{RELEASED_SERIES}}/">{{RELEASED_SERIES.capitalize()}}.</a>
            {% elif SERIES_INFO.status == 'development' %}
                which is in development. The current supported release is
                    <a href="/{{RELEASED_SERIES}}">{{RELEASED_SERIES.capitalize()}}.</a>
            {% endif %}
            </p>
            {% endif %}
            <a href="#top" class="deprecated-badge-right"><i class="fa fa-chevron-up" aria-hidden="true"></i>&nbsp;Back to Top</a>
        </div>
    </div>
</div>
