            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="dropdown docs-dropdown">
                  <a data-toggle="dropdown" href="#">More Releases &amp; Languages <i class="fa fa-caret-down fa-3"></i></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <li role="presentation" class="dropdown-header">Releases</li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/{{SERIES_IN_DEVELOPMENT}}">{{SERIES_IN_DEVELOPMENT|title}} (under development)</a></li>
{% for series_name in PAST_SERIES|reverse %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/{{series_name}}">{{series_name|title}}{% if series_name == RELEASED_SERIES %} (current release){% endif %}</a></li>
{% endfor %}
                    <li role="presentation" class="dropdown-header">Languages</li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/de">Deutsch (German)</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/fr">Français (French)</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/id">Bahasa Indonesia (Indonesian)</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/it">Italiano (Italian)</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/ja">日本語 (Japanese)</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/ko_KR">한국어 (Korean)</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/pt_BR">Português (Portuguese)</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/zh_CN">简体中文 (Simplified Chinese)</a></li>
                  </ul>
                </div>
            </div>
