<div class="span-12">
 <div class="dropDownTrigger">
  <p>
   <a href="#">
    More releases and languages...
   </a>
  </p>
  <div class="dropDown">
   <div>
    <ul>
     <li>
      Releases
     </li>
     <li class="link">
      <a href="/trunk/" title='Go to the "in progress docs" page'>
       In progress (master branch)
      </a>
     </li>
     <li class="link">
      <a href="/juno/" title='Go to the "Juno release" page'>
       Juno (current release)
      </a>
     </li>
     <li class="link">
      <a href="/icehouse/" title='Go to the "Icehouse release" page'>
       Icehouse
      </a>
     </li>
     <li>
      Languages
     </li>
     <li class="link">
      <a href="/ja/" title="Go to the Japanese documentation">
       日本語 (Japanese)
      </a>
     </li>
     <li class="link">
      <a href="/de/" title="Go to the German documentation">
       Deutsch (German)
      </a>
     </li>
     <li class="link">
      <a href="/fr/" title="Go to the French documentation">
       Français (French)
      </a>
     </li>
     <li class="link">
      <a href="/pt_BR/" title="Go to the Portuguese documentation">
       Português (Portuguese)
      </a>
     </li>
     <li class="link">
      <a href="/zh_CN/" title="Go to the Chinese documentation">
       简体中文 (Simplified Chinese)
      </a>
     </li>
     <li class="link">
      <a href="/ko_KR/" title="Go to the Korean documentation">
       한국어 (Korean)
      </a>
     </li>
    </ul>
   </div>
  </div>
 </div>
</div>
