<hr/>
<p>
  Documentation treated like code, powered by the community - interested? Here's
  <a href="http://wiki.openstack.org/Documentation/HowTo">how to contribute</a>.
</p>
<p>
  The OpenStack project is provided under the Apache 2.0 license. Openstack.org is
  powered by <a href="http://www.rackspacecloud.com/">Rackspace Cloud Computing</a>.
</p>
