    <!-- Header -->
        <!-- Header Navigation -->


        <nav class="navbar navbar-default inner" role="navigation">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="brand-wrapper">
                    <a class="navbar-brand" href="/"></a>
                </div>
                <div class="search-icon show"><i class="fa fa-search"></i>
Search</div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling
-->
            <div class="collapse navbar-collapse"
id="bs-example-navbar-collapse-1">
                <div class="search-container tiny">



  <div id="gcse">
    <script type="text/javascript">
      (function() {
        var cx = '000108871792296872333:noj9nikm74i';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' :
'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search gname="standard"></gcse:search>
  </div>


                    <i class="fa fa-times close-search"></i>
                </div>
                    <ul class="nav navbar-nav navbar-main show">
                        <li>



  <div id="gcse-mobile">
    <gcse:search gname="mobile"></gcse:search>
  </div>


                        </li>


                        <li>

                                <a href="http://www.openstack.org/software/" class="drop"
id="dropdownMenuSoftware">Software <i class="fa fa-caret-down"></i></a>
                                <ul class="dropdown-menu" role="menu"
aria-labelledby="dropdownMenuSoftware">


                                            <li role="presentation"><a
role="menuitem" tabindex="-1" href="http://www.openstack.org/software/">Overview</a></li>



                                            <li role="presentation"
class="divider"></li>



                                            <li role="presentation"><a
role="menuitem" tabindex="-1"
href="http://www.openstack.org/software/openstack-compute/">Compute</a></li>



                                            <li role="presentation"><a
role="menuitem" tabindex="-1"
href="http://www.openstack.org/software/openstack-storage/">Storage</a></li>



                                            <li role="presentation"><a
role="menuitem" tabindex="-1"
href="http://www.openstack.org/software/openstack-networking/">Networking</a></li>



                                            <li role="presentation"><a
role="menuitem" tabindex="-1"
href="http://www.openstack.org/software/openstack-dashboard/">Dashboard</a></li>



                                            <li role="presentation"><a
role="menuitem" tabindex="-1"
href="http://www.openstack.org/software/openstack-shared-services/">Shared Services</a></li>



                                            <li role="presentation"
class="divider"></li>



                                            <li role="presentation"><a
role="menuitem" tabindex="-1" href="http://www.openstack.org/software/start/">Get
Started</a></li>


                                </ul>

                        </li>

                        <li>

                                <a href="http://www.openstack.org/user-stories/" class="drop"
id="dropdownMenuUsers">Users <i class="fa fa-caret-down"></i></a>
                                <ul class="dropdown-menu" role="menu"
aria-labelledby="dropdownMenuUsers">


                                            <li role="presentation"><a
role="menuitem" tabindex="-1" href="http://www.openstack.org/user-stories/">Overview</a></li>



                                            <li role="presentation"
class="divider"></li>



                                            <li role="presentation"><a
role="menuitem" tabindex="-1" href="//superuser.openstack.org/">Superuser
Magazine</a></li>



                                            <li role="presentation"><a
role="menuitem" tabindex="-1"
href="http://www.openstack.org/enterprise/auto/">Featured:  Top 10
Automaker</a></li>


                                </ul>

                        </li>

                        <li>

                                <a href="http://www.openstack.org/community/" class="drop"
id="dropdownMenuCommunity">Community <i class="fa fa-caret-down"></i></a>
                                <ul class="dropdown-menu" role="menu"
aria-labelledby="dropdownMenuCommunity">


                                            <li role="presentation"><a
role="menuitem" tabindex="-1" href="http://www.openstack.org/community/">Welcome! Start Here</a></li>



                                            <li role="presentation"><a
role="menuitem" tabindex="-1" href="//ask.openstack.org/">Ask A Technical
Question</a></li>



                                            <li role="presentation"><a
role="menuitem" tabindex="-1"
href="//wiki.openstack.org/wiki/Main_Page">OpenStack Wiki</a></li>



                                            <li role="presentation"><a
role="menuitem" tabindex="-1"
href="//www.openstack.org/community/events/">Community Events</a></li>



                                            <li role="presentation"><a
role="menuitem" tabindex="-1"
href="//wiki.openstack.org/wiki/Getting_The_Code">Source Code</a></li>



                                            <li role="presentation"
class="divider"></li>



                                            <li role="presentation"><a
role="menuitem" tabindex="-1"
href="//www.openstack.org/foundation/companies/">Supporting Companies</a></li>



                                            <li role="presentation"><a
role="menuitem" tabindex="-1"
href="//www.openstack.org/community/jobs/">Jobs</a></li>



                                            <li role="presentation"
class="divider"></li>



                                            <li role="presentation"><a
role="menuitem" tabindex="-1" href="//www.openstack.org/join/">Join The
Community</a></li>


                                </ul>

                        </li>

                        <li>

                                <a href="http://www.openstack.org/marketplace/">Marketplace</a>

                        </li>

                        <li>

                                <a href="http://www.openstack.org/events/" class="drop"
id="dropdownMenuEvents">Events <i class="fa fa-caret-down"></i></a>
                                <ul class="dropdown-menu" role="menu"
aria-labelledby="dropdownMenuEvents">


                                            <li role="presentation"><a
role="menuitem" tabindex="-1"
href="//www.openstack.org/community/events/">Overview</a></li>



                                            <li role="presentation"><a
role="menuitem" tabindex="-1"
href="//www.openstack.org/summit/openstack-paris-summit-2014/">The OpenStack
Summit</a></li>



                                            <li role="presentation"><a
role="menuitem" tabindex="-1" href="//www.openstack.org/community/events/">More
OpenStack Events</a></li>


                                </ul>

                        </li>

                        <li>

                                <a href="http://www.openstack.org/blog/">Blog</a>

                        </li>

                        <li>

                                <a href="http://docs.openstack.org/">Docs</a>

                        </li>


                        <li>
                            <a href="http://openstack.org/Security/login/"
class="sign-in-btn">Sign In</a>
                        </li>
                    </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

