{# -*- mode: html -*- #}

<!-- Custom CSS -->
{# reason to not use the CSSDIR its because introduces a relative path #}
{# not an absolute, so when its included on docthemes, its tried to include the css #}
{# from a wrong path instead of the right one #}

<link href="https://docs.openstack.org/common/css/deprecated-badge.css" rel="stylesheet">
<script src="https://docs.openstack.org/common/js/deprecated-badge.js"></script>

<div id="deprecated-badge" class="deprecated-badge fixed deprecated-badge-inactive-project">
    <span id="deprecated-badge-close-button" title="close" class="deprecated-badge-close-button">x</span>
    <div class="container">
        <p class="deprecated-badge-left">
            This project is inactive and no longer maintained.
        </p>
        <a href="#top" class="deprecated-badge-right"><i class="fa fa-chevron-up" aria-hidden="true"></i>&nbsp;Back to Top</a>
    </div>
</div>
