<ul id="Menu1">
 <li>
  <a href="http://www.openstack.org/" title="Go to the OpenStack Home page">Home</a>
 </li>
 <li>
  <a class="link" href="http://www.openstack.org/software/" title="About OpenStack">About</a>
 </li>
 <li>
  <a class="link" href="http://www.openstack.org/user-stories/" title="Read stories about companies that use OpenStack to get work done.">User Stories</a>
 </li>
 <li>
  <a class="link" href="http://www.openstack.org/community/" title="Go to the OpenStack Community page">Community</a>
 </li>
 <li>
  <a class="link" href="http://www.openstack.org/profile/" title="Edit your OpenStack community profile">Profile</a>
 </li>
 <li>
  <a href="http://www.openstack.org/blog/" title="Go to the OpenStack Blog">Blog</a>
 </li>
 <li>
  <a href="http://wiki.openstack.org/" title="Go to the OpenStack Wiki">Wiki</a>
 </li>
 <li>
  <a href="http://docs.openstack.org/glossary/content/glossary.html" title="See definitions of OpenStack terms">Glossary</a>
 </li>
 <li>
  <a class="current" href="http://docs.openstack.org/" title="Go to the OpenStack Documentation">Documentation</a>
 </li>
</ul>
