                <div class="docs-link-sections">
                    <h3 id="ops-and-admin-guides"><i class="fa fa-users"></i> Operations and Administration Guides</h3>
                    <a href="/admin-guide-cloud/">Cloud Administrator Guide</a>
                    <a href="/ha-guide/">High Availability Guide</a>
                    <a href="/networking-guide/">Networking Guide</a>
                    <a href="/ops/">Operations Guide</a>
                    <a href="/security-guide/">Security Guide</a>
                    <a href="/image-guide/content/">Virtual Machine Image Guide</a>
                    <a href="/arch-design/content/">Architecture Design Guide</a>
                </div>
