                    <h3 id="ops-and-admin-guides"><i class="fa fa-users"></i>Operations and Administration Guides</h3>
                    <a href="admin/">Administrator Guides</a>
                    <p>Manage and troubleshoot an OpenStack cloud</p>
                    <a href="/ha-guide/">High Availability Guide</a>
                    <p>Install and configure OpenStack for high availability</p>
                    <a href="/security-guide/">Security Guide</a>
                    <p>Guidelines and scenarios for creating more secure OpenStack clouds</p>
                    <a href="/image-guide/">Virtual Machine Image Guide</a><a href="/image-guide/ImageGuide.pdf">[PDF]</a>
                    <p>Obtain, create, and modify OpenStack-compatible virtual machine images</p>
                    <a href="/arch-design/">Architecture Design Guide</a><a href="/arch-design/ArchGuide.pdf">[PDF]</a>
                    <p>Guidelines for designing an OpenStack cloud</p>
