                    <div class="docs-link-sections">
                        <h3 id="services-libraries"><i class="fa fa-leaf"></i> Project-specific Guides</h3>
                        <a href="/openstack-projects.html">Services and Libraries</a>
                        <p>Documentation for OpenStack services and libraries</p>
                        <a href="/language-bindings.html">Language Bindings and Python Clients</a>
                        <p>Documentation for the OpenStack Python bindings and clients</p>
                    </div>
