<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" type="text/javascript">
</script>
<script charset="utf-8" src="http://docs.openstack.org/common/jquery/jquery.hoverIntent.minified.js" type="text/javascript">
</script>
<script charset="utf-8" type="text/javascript">
//<![CDATA[
$(document).ready(function () {
    function addMenu() {
        $(".dropDown").addClass("menuHover");
    }
    function removeMenu() {
        $(".dropDown").removeClass("menuHover");
    }
    var menuConfig = {
        interval: 500,
        sensitivity: 4,
        over: addMenu,
        timeout: 500,
        out: removeMenu
    };
    $(".dropDownTrigger").hoverIntent(menuConfig);
});//]]>
</script>
