    <!-- jQuery Version 1.11.0 -->
    <script type="text/javascript" src="{{ scriptdir }}jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{{ scriptdir }}bootstrap.min.js"></script>

    <!-- The rest of the JS -->
    <script type="text/javascript" src="{{ scriptdir }}navigation.js"></script>

    <!-- Docs JS -->
    <script type="text/javascript" src="{{ scriptdir }}docs.js"></script>

    <!-- Popovers -->
    <script type="text/javascript" src="{{ scriptdir }}webui-popover.js"></script>

    <!-- Javascript for page -->
    <script type="text/javascript">
      // Change character image on refresh
      // Add file names and captions to doc-characters.json
      $.getJSON("{{ scriptdir }}/doc-characters.json", function(data) {
        var item = data.images[Math.floor(Math.random()*data.images.length)];
        $('<img src="{{ scriptdir }}../images/docs/' + item.image + '">').appendTo('#superuser-img');
        $('<p>' + item.caption + '<strong>OpenStack Operator</strong></p>').appendTo('#superuser-img');
      });
    </script>
