    <!-- jQuery Version 1.11.0 -->
    <script type="text/javascript" src="{{ scriptdir }}jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{{ scriptdir }}bootstrap.min.js"></script>

    <!-- The rest of the JS -->
    <script type="text/javascript" src="{{ scriptdir }}navigation.js"></script>

    <!-- Docs JS -->
    <script type="text/javascript" src="{{ scriptdir }}docs.js"></script>

    <!-- Popovers -->
    <script type="text/javascript" src="{{ scriptdir }}webui-popover.js"></script>

    <!-- Javascript for page -->
