                <div class="docs-link-sections">
                    <h3 id="training-guides"><i class="fa fa-university"></i>Training Guides And Training Labs</h3>
                    <a href="/upstream-training/">Upstream training</a>
                    <p>Resources for the OpenStack Upstream Training program</p>
                    <a href="/training_labs/">Training Labs</a>
                    <p>Tools for OpenStack Training. Automatic deployment of lean virtualized multi-node openstack cluster.</p>
                </div>
