                <div class="docs-link-sections">
                    <h3 id="training_labs"><i class="training-labs"></i>Training Labs</h3>
                    <a href="http://docs.openstack.org/training_labs/index.html">Training Labs</a>
                    <p>Tools for OpenStack Training. Automatic deployment of lean virtualized multi-node openstack cluster.</p>
                </div>
