                <div class="docs-link-sections">
                    <h3 id="user-guides"><i class="fa fa-cloud"></i> User Guides</h3>
                    <a href="/user-guide/">End User Guide (includes Python SDK)</a><a href="/user-guide/UserGuide.pdf">[PDF]</a>
                    <p>Create and manage resources using the OpenStack dashboard, command-line client, and Python SDK</p>
                    <a href="https://developer.openstack.org">Open source software for application development</a>
                    <p>Resources for application development on OpenStack clouds</p>
                </div>
