{% extends "templates/base.tmpl" %}
{% block pagetitle %}Icehouse{% endblock %}
{% block title %}Documentation (Icehouse){% endblock %}
{% block content %}
<div class="container">
 <div class="span-12">
 </div>
</div>
<div class="container">
{% include 'templates/dropdown_releases_and_languages.tmpl' %}
 <div class="span-12" id="subnav">
  <ul class="subsectionNav-link">
   <li class="link">
    <a href="http://openstack.org/software/start/" title='Go to the "How to Get Started with OpenStack" page'>
     Get started
    </a>
   </li>
  </ul>
  <ul class="subsectionNav-link">
   <li class="link">
    <a href="http://docs.openstack.org/training-guides/content/" title='Go to the "OpenStack Training Guides" page'>
     Get training
    </a>
   </li>
  </ul>
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Install OpenStack
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/icehouse/install-guide/install/apt-debian/content/">
     Installation Guide for Debian 7.0
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/icehouse/install-guide/install/zypper/content/">
     Installation Guide for openSUSE and SUSE Linux Enterprise Server
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/icehouse/install-guide/install/yum/content/">
     Installation Guide for Red Hat Enterprise Linux, CentOS, and Fedora
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/icehouse/install-guide/install/apt/content/">
     Installation Guide for Ubuntu 12.04/14.04 (LTS)
    </a>
   </dd>
  </dl>
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Configure and run
            OpenStack
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/arch-design/content/">
     Architecture Design Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/icehouse/config-reference/content/">
     Configuration Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/admin-guide-cloud/content/">
     Cloud Administrator Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/high-availability-guide/content/index.html">
     High Availability Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/openstack-ops/content/">
     Operations Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/security-guide/content/">
     Security Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/image-guide/content/">
     Virtual Machine Image Guide
    </a>
   </dd>
  </dl>
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Use OpenStack
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/api/quick-start/content/">
     API Quick Start
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/user-guide/content/">
     End User Guide (includes Python SDK)
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/user-guide-admin/content/">
     Admin User Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/cli-reference/content/">
     Command-Line Interface Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/hot-reference/content/">
     Heat Orchestration Template (HOT) Reference
    </a>
   </dd>
   <dd>
    <a href="http://developer.openstack.org/">
     Open source software for application development
    </a>
   </dd>
  </dl>
 </div>
 <div class="span-12 last-right" id="subnav-right">
  <ul class="subsectionNav last-right">
   <li class="link">
    <a>
     Get API reference information
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://developer.openstack.org/api-ref.html">
     API Complete Reference (HTML)
    </a>
   </dd>
   <dd>
    <a href="http://developer.openstack.org/api-ref-guides/bk-api-ref.pdf">
     API Complete Reference (PDF)
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/api/openstack-block-storage/2.0/content/">
     Block Storage API v2.0 Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/api/openstack-block-storage/1.0/content/">
     Block Storage API v1.0 Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/api/openstack-compute/2/content/">
     Compute API v2 Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/api/openstack-identity-service/2.0/content/">
     Identity API v2.0 Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/api/openstack-network/2.0/content/">
     Networking API v2.0 Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/api/openstack-image-service/2.0/content/">
     Image Service API v2 Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/api/openstack-image-service/1.1/content/">
     Image Service API v1 Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/api/openstack-object-storage/1.0/content/">
     Object Storage API v1 Reference
    </a>
   </dd>
  </dl>
  <ul class="subsectionNav last-right-more">
   <li class="link last-right-more">
    <a>
     Contribute to OpenStack
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://wiki.openstack.org/Documentation/HowTo">
     OpenStack Documentation
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/openstack-projects.html">
     Python Developer Documentation
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/language-bindings.html">
     Language Bindings and Python Clients
    </a>
   </dd>
   <dd>
    <a href="http://ci.openstack.org/">
     OpenStack Project Infrastructure
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/infra/manual/">
     OpenStack Infrastructure User Manual
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/tempest/">
     Tempest Test Suite for OpenStack
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/devstack/">
     DevStack: Deploying OpenStack for Developers
    </a>
   </dd>
  </dl>
  <ul class="subsectionNav last-right-most">
   <li class="link last-right-most">
    <a>
     Get involved
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://www.openstack.org/join">
     Join the OpenStack Foundation
    </a>
   </dd>
   <dd>
    <a href="http://www.openstack.org/user-survey/">
     Take the Deployment Survey
    </a>
   </dd>
  </dl>
 </div>
</div>
{% endblock content %}
