{% set scriptdir = '../common/js/' %}
{% set cssdir = '../common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Japanese{% endblock %}
{% block title %}ドキュメント{% endblock %}
{% block content %}
   <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>日本語版のドキュメント</h1>
                <p>
      本ページでは、日本語版のドキュメントを掲載しています。
     <a href="http://docs.openstack.org/">
      英語版
     </a>
     ドキュメントもご覧ください。
                </p>
</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cogs"></i> OpenStack のインストール</h3>
     <a href="http://docs.openstack.org/ja/trunk/install-guide/install/apt-debian/content/">
       インストールガイド Debian 7.0 (Wheezy) 版 (ドラフト版)
      </a>
      <a href="http://docs.openstack.org/ja/trunk/install-guide/install/zypper/content/">
       インストールガイド openSUSE、SUSE Linux Enterprise Server 版 (ドラフト版)
      </a>
      <a href="http://docs.openstack.org/ja/trunk/install-guide/install/yum/content/">
       インストールガイド Red Hat Enterprise Linux、CentOS、Fedora 版 (ドラフト版)
      </a>
      <a href="http://docs.openstack.org/ja/trunk/install-guide/install/apt/content/">
       インストールガイド Ubuntu 14.04 (LTS) 版 (ドラフト版)
      </a>
                    </div>
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-book"></i> OpenStack の API</h3>
      <a href="http://docs.openstack.org/ja/api/quick-start/content/">
       API クイックスタート (ドラフト版)
      </a>
                    </div>
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-wrench"></i> 他の日本語ドキュメント </h3>
    <a href="http://openstack.jp/documents.html">
       日本 OpenStack ユーザ会のドキュメント
      </a>
      ユーザ会主催のイベント、勉強会でのプレゼンテーションなど
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-users"></i> OpenStack の設定と運用</h3>
<a href="http://openstack-ja.github.io/openstack-manuals/openstack-ops/content/">
       運用ガイド
      </a>
      <a href="http://docs.openstack.org/ja/security-guide/content/">
       セキュリティガイド (ドラフト版)
      </a>
      <a href="http://docs.openstack.org/ja/high-availability-guide/content/">
       高可用性ガイド (ドラフト版)
      </a>
      <a href="http://docs.openstack.org/ja/image-guide/content/">
       仮想マシンイメージガイド (ドラフト版)
      </a>
                    </div>
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cloud"></i> OpenStack の利用</h3>
      <a href="http://docs.openstack.org/ja/api/quick-start/content/">
       API クイックスタート (ドラフト版)
      </a>
     </dd>
     <dd>
      <a href="http://docs.openstack.org/ja/user-guide/content/">
       エンドユーザーガイド (ドラフト版)
      </a>
     </dd>
     <dd>
      <a href="http://docs.openstack.org/ja/user-guide-admin/content/">
       管理ユーザーガイド (ドラフト版)
      </a>
                    </div>
                    <!--<div class="docs-link-sections">
                        <h3><i class="fa fa-pencil"></i> Contributor Guides</h3>
                        <a href="http://wiki.openstack.org/Documentation/HowTo">OpenStack Documentation</a>
                        <a href="/developer/openstack-projects.html">Python Developer Documentation</a>
                        <a href="/developer/language-bindings.html">Language Bindings and Python Clients</a>
                        <a href="http://ci.openstack.org">OpenStack Project Infrastructure</a>
                        <a href="/infra/manual/">OpenStack Infrastructure User Manual</a>
                        <a href="/developer/tempest">Tempest Test Suite for OpenStack</a>
                        <a href="https://www.openstack.org/join/">Join the OpenStack Foundation</a>
                        <a href="https://www.openstack.org/user-survey/">Take the Deployment Survey</a>
                    </div>-->
                </div>
            </div>
         </div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>日本語版の作成・翻訳について</p>
      OpenStack ドキュメントの翻訳は、
      <a href="https://wiki.openstack.org/wiki/I18nTeam/ja">
       OpenStack I18N team
      </a>
      が担当しています。
     </dd>
     <dd>
      日本語への翻訳は、
      <a href="https://wiki.openstack.org/wiki/OpenStack_User_Groups#Japan">
       日本 OpenStack ユーザ会
      </a>
      のメンバーが中心となって、翻訳・レビューを行っています。
     </dd>
     <dd>
      どなたでも参加できますので、是非ご参加ください。
                </div>
            </div>
        </div>
</div>
    <!-- End Page Content -->

{% endblock content %}
