{% extends "templates/indexbase.tmpl" %}
{% block pagetitle %}{{SERIES_TITLE}}{% endblock %}
{% block title %}{% endblock %}
{% block header %}
{% endblock header %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12"></div>
  </div>
  <div class="row docs-toc">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="docs-link-sections">
        <h3 id="release-notes"><i class="fa fa-refresh"></i>Release Notes</h3>
        <p>New features, upgrade and deprecation notes, known issues, and bug fixes</p>
        <a href="https://releases.openstack.org/{{SERIES}}/index.html">OpenStack Projects Release Notes</a>
        <a href="/releasenotes/openstack-manuals/index.html">OpenStack Documentation Release Notes</a>
      </div>
      <div class="docs-link-sections">
        <h3 id="install-guides"><i class="fa fa-cogs"></i>Installation Guides</h3>
        <p>Getting started with the most commonly used OpenStack services</p>
        <a href="install/">Installation Guides</a>
      </div>
      <div class="docs-link-sections">
        <h3 id="project-deploy-guide"><i class="fa fa-cogs"></i>Deployment Guides</h3>
        <p>Choose how to deploy OpenStack and get started with the most commonly used OpenStack services</p>
        <a href="deploy/">Deployment Guides</a>
      </div>
      <div class="docs-link-sections">
        <h3 id="ops-and-admin-guides"><i class="fa fa-users"></i>Operations and Administration Guides</h3>
        <a href="admin/">Administrator Guides</a>
        <p>Manage and troubleshoot an OpenStack cloud</p>
        <!-- TODO(jaegerandi): Enable once we have content again
        <a href="/ha-guide/">High Availability Guide</a> -->
        <p>Install and configure OpenStack for high availability</p>
        <a href="/arch-design/">Architecture Guide</a>
        <p>Plan and design an OpenStack cloud</p>
        <a href="/operations-guide/">Operations Guide</a>
        <p>Operate an OpenStack cloud</p>
        <a href="/security-guide/">Security Guide</a>
        <p>Guidelines and scenarios for creating more secure OpenStack clouds</p>
        <a href="/image-guide/">Virtual Machine Image Guide</a><a href="/image-guide/ImageGuide.pdf">[PDF]</a>
        <p>Obtain, create, and modify OpenStack-compatible virtual machine images</p>
      </div>
      <div class="docs-link-sections">
        <h3 id="configuration-guides"><i class="fa fa-wrench"></i>Configuration Guides</h3>
        <a href="configuration/">Configuration Reference</a>
        <p>Installation and configuration options for OpenStack</p>
      </div>
      <div class="docs-link-sections">
        <h3 id="api-guides"><i class="fa fa-book"></i>API Guides</h3>
        <a href="api/">API Guides</a>
        <p>OpenStack API Documentation</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="docs-link-sections">
        <h3 id="user-guides"><i class="fa fa-cloud"></i>User Guides</h3>
        <a href="user/">End User Guides</a>
        <p>Create and manage resources using the OpenStack dashboard, command-line client, and Python SDK</p>
        <a href="https://developer.openstack.org">Open source software for application development</a>
        <p>Resources for application development on OpenStack clouds</p>
      </div>
      <div class="docs-link-sections">
        <h3 id="services-libraries"><i class="fa fa-leaf"></i>Project-specific Guides</h3>
        <a href="projects.html">Services and Libraries</a>
        <p>Documentation for OpenStack services and libraries</p>
        <a href="language-bindings.html">Language Bindings and Python Clients</a>
        <p>Documentation for the OpenStack Python bindings and clients</p>
      </div>
      <div class="docs-link-sections">
        <h3 id="services-libraries"><i class="fa fa-users-cog"></i>SIG-specific Documentation</h3>
        <a href="https://docs.openstack.org/project-team-guide/stable-branches.html">Extended Maintenance SIG</a>
        <p>The Extended Maintenance SIG manages the existing stable branches</p>
        <a href="/self-healing-sig/">Self-healing SIG documentation</a>
        <p>Self-healing use cases and implementation details</p>
      </div>
      <div class="docs-link-sections">
        <h3 id="doc-contrib-guides"><i class="fa fa-pencil"></i>Contributor Guides</h3>
        <a href="/doc-contrib-guide/index.html">OpenStack Documentation Contributor Guide</a>
        <p>Documentation workflow and conventions</p>
        <a href="https://governance.openstack.org/tc/">OpenStack Technical Committee Governance Documents</a>
        <p>OpenStack Technical Committee reference documents and official resolutions</p>
        <a href="http://specs.openstack.org/">OpenStack Project specifications</a>
        <p>Specifications for future project features</p>
        <a href="/project-team-guide/">OpenStack Project Team Guide</a>
        <p>Guide to the OpenStack project and community</p>
        <a href="/infra/">OpenStack Testing and Collaboration Tools Documentation</a>
        <p>Community-managed development and communication systems</p>
        <a href="/i18n/">OpenStack I18n Guide</a>
        <p>Internationalization workflow and conventions</p>
        <a href="https://openinfra.dev/join/">Join the Open Infrastructure Foundation</a>
        <p>How to join the Open Infrastructure Foundation</p>
        <a href="https://www.openstack.org/user-survey/">Take the Deployment Survey</a>
        <p>Influence the future of OpenStack</p>
      </div>
      <div class="docs-link-sections">
        <h3 id="training-guides"><i class="fa fa-university"></i>Training Guides and Training Labs</h3>
        <a href="/upstream-training/">Upstream training</a>
        <p>Resources for the OpenStack Upstream Training program</p>
        <a href="/training_labs/">Training Labs</a>
        <p>Tools for OpenStack Training. Automatic deployment of lean virtualized multi-node openstack cluster.</p>
      </div>
    </div>
  </div>
</div>
<!-- End Page Content -->
{% endblock content %}
