{% extends "templates/base.tmpl" %}
{% block pagetitle %}Ocata Installation Guides{% endblock %}
{% block title %}
<a href="https://docs.openstack.org">Documentation</a> &gt; Ocata Installation Guides
{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Ocata Installation Guides</h1>
                <p>The following guides support basic installation
                of core and optional OpenStack services on variants of
                Red Hat, SUSE, and Ubuntu
                distributions. A minimal deployment necessary to launch a simple
                instance (VM) requires following the core content.
                Optional content augments a minimal deployment with
                additional services.</p>
            </div>
        </div>
    </div>
</div>
<div class="mid-docs-wrapper" id="docs-main-body">
    <div class="container">
        <div class="row docs-toc" style="padding-top: 10px;">
            <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="os-box row-eq-height">
                  <div class="logo-box">
                     <img src ="https://docs.openstack.org/common/images/OpenSUSE_Logo.svg" class="os-logo" onclick="window.open('obs-services.html')" />
                  </div>
                  <div class="os-name">
                     openSUSE and SUSE Linux Enterprise
                  </div>
                  <div class="os-description">
                    Install core and optional OpenStack services on
                    an openSUSE or SUSE Linux Enterprise system,
                    using a manual installation method.
                  </div>
                  <div class="os-button">
                     <input class="go-button" type="button" onclick="location.href='obs-services.html';" value="    Go!    " name="Go"/>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="os-box row-eq-height">
                  <div class="logo-box">
                     <img src ="https://docs.openstack.org/common/images/centos-logo-light-vertical.svg" class="os-logo" alt="CentOS Logo"  onclick="window.open('rdo-services.html')"/>
                  </div>
                  <div class="os-name">
                     Red Hat Enterprise Linux 7 and CentOS 7
                  </div>
                  <div class="os-description">
                    Install core and optional OpenStack services on
                    a Red Hat Enterprise Linux 7 or CentOS 7 system,
                    using a manual installation method.
                  </div>
                  <div class="os-button">
                     <input class="go-button" type="button" onclick="location.href='rdo-services.html';" value="    Go!    " name="Go"/>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="os-box row-eq-height">
                  <div class="logo-box" style="height:120px;">
                     <img src ="https://docs.openstack.org/common/images/ATT00001.png" class="os-logo" style="width:260px;margin-top:50px" onclick="window.open('ubuntu-services.html')" />
                  </div>
                  <div class="os-name">
                     Ubuntu
                  </div>
                  <div class="os-description">
                    Install core and optional OpenStack services on
                    an Ubuntu system,
                    using a manual installation method.
                  </div>
                  <div class="os-button">
                     <input class="go-button" type="button" onclick="location.href='ubuntu-services.html';" value="    Go!    " name="Go"/>
                  </div>
               </div>
            </div>
        </div>
        <div class="row docs-contribute-wrapper">
            <div class="col-lg-12">
                <p>Documentation treated like code, powered by the community - interested?</p>
                <a href="/doc-contrib-guide/" class="overview-btn contribute-btn">How To Contribute <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
