{% extends "templates/base.tmpl" %}
{% block pagetitle %}Ocata Installation Guides{% endblock %}
{% block title %}
<a href="https://docs.openstack.org">Documentation</a> &gt; Ocata Installation Guides
{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Ocata Installation Guides</h1>
                <p>The following guides support basic installation
                of core and optional OpenStack services on SUSE system.
                A minimal deployment necessary to launch a simple instance (VM)
                requires following the core content. Optional content augments a
                minimal deployment with additional services.</p>
            </div>
        </div>
    </div>
</div>
<div class="mid-docs-wrapper" id="docs-main-body">
    <div class="container">
        <div class="row docs-toc">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="docs-link-sections services-section">
                    <h3><i class="fa fa-cogs"></i>Installation Guides</h3>
                    <p>
                       <a class="overview-btn docs-btn" style="width:80%;text-transform:initial;" href="/ocata/install-guide-obs/">
                          openSUSE and SUSE Linux Enterprise
                       </a>
                    </p>
                    <p>
                       <a class="overview-btn docs-btn" style="width:80%;text-transform:initial;" href="/ocata/install-guide-obs/InstallGuide.pdf">
                          PDF Download
                       </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="docs-link-sections">
                    <h3><i class="fa fa-cogs"></i>By chapter</h3>
                    <p>
                    <a href="/ocata/install-guide-obs/">Abstract</a></p>
                    <p>
                    <a href="/ocata/install-guide-obs/common/conventions.html">Conventions</a></p>
                    <p>
                    <a href="/ocata/install-guide-obs/overview.html">Overview</a></p>
                    <p>
                    <a href="/ocata/install-guide-obs/environment.html">Environment (Basic)</a></p>
                    <p>
                    <a href="/ocata/install-guide-obs/keystone.html">Identity service (Basic)</a></p>
                    <p>
                    <a href="/ocata/install-guide-obs/glance.html">Image service (Basic)</a></p>
                    <p>
                    <a href="/ocata/install-guide-obs/nova.html">Compute service (Basic)</a></p>
                    <p>
                    <a href="/ocata/install-guide-obs/neutron.html">Networking service (Basic)</a></p>
                    <p>
                    <a href="/ocata/install-guide-obs/horizon.html">Dashboard (Optional)</a></p>
                    <p>
                    <a href="/ocata/install-guide-obs/cinder.html">Block Storage service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/baremetal/ocata/">Bare Metal service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/container-infrastructure-management/ocata/">Container Infrastructure Management service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/database/ocata/">Database service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/dns/ocata/">DNS service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/ec2-api/draft/">EC2
                    API compatibility layer (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/key-manager/ocata/">Key Manager service (Optional) </a>
                    <p>
                    <a href="/project-install-guide/messaging/ocata/">Messaging service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/object-storage/ocata/">Object Storage service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/orchestration/ocata/">Orchestration service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/shared-file-systems/ocata/">Shared File Systems service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/telemetry-alarming/ocata/">Telemetry Alarming services (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/telemetry/ocata/">Telemetry Data Collection service (Optional)</a></p>
                    <p>
                    <a href="/ocata/install-guide-obs/launch-instance.html">Launch an instance (Basic)</a></p>
                </div>
            </div>
        </div>
        <div class="row docs-contribute-wrapper">
            <div class="col-lg-12">
                <p>Documentation treated like code, powered by the community - interested?</p>
                <a href="/doc-contrib-guide/" class="overview-btn contribute-btn">How To Contribute <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
