{% extends "templates/base.tmpl" %}
{% block pagetitle %}Chinese(Simplified){% endblock %}
{% block title %}{% endblock %}
{% block header %}
{% endblock header %}
{% block content %}
<!-- Begin Page Content -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
    
    
<div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>歡迎使用OpenStack</h1>
                <p>
                    <strong>何謂OpenStack?</strong> OpenStack是一個雲端系統，通過資料中心可控制大型的計算、存儲、網路等資源池。所有的管理通過前端介面管理員就可以完成，同樣也可以通過web介面讓最終使用者部署資源。
                </p>
                <hr>
                <h3>想深入了解OpenStack?</h3>
                <a href="#docs-main-body" class="overview-btn docs-btn">查看文件<i class="fa fa-arrow-circle-o-down"></i></a>
                <a href="http://www.openstack.org/software/start/" class="overview-btn docs-btn">開始使用OpenStack<i class="fa fa-arrow-circle-o-right"></i></a>
                <a href="http://www.openstack.org/marketplace/training" class="overview-btn docs-btn">教育訓練<i class="fa fa-arrow-circle-o-right"></i></a>
               {% include 'templates/os_search.tmpl' %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 superuser-wrapper">
                <div id="superuser-img"></div>
            </div>
        </div>
    </div>
    <div class="mid-docs-wrapper" id="docs-main-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <h2>中文</h2>
                    <p>最新的中文文檔。包括安裝手冊，API文件</p>
                </div>
                {% include 'templates/dropdown_languages.tmpl' %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
        <div class="row docs-toc">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="docs-link-sections">
                    <h3 id="install-guides"><i class="fa fa-cogs"></i>安裝文件</h3>
                    <p>從最通用的OpenStack服務開始</p>
                    <h4>Mitaka 版本</h4>
                    <a href="/mitaka/zh_CN/install-guide-obs/">openSUSE Leap 42.1、SUSE Linux Enterprise Server 12 SP1</a>
                    <a href="/mitaka/zh_CN/install-guide-rdo/">Red Hat Enterprise Linux 7、CentOS 7</a>
                    <a href="/mitaka/zh_CN/install-guide-ubuntu/">Ubuntu 14.04 (LTS) </a>
                    <h4>Liberty 版本</h4>
                    <a href="/liberty/zh_CN/install-guide-obs/">openSUSE 13.2、SUSE Linux Enterprise Server 12</a>
                    <a href="/liberty/zh_CN/install-guide-rdo/">Red Hat Enterprise Linux 7、CentOS 7</a>
                    <a href="/liberty/zh_CN/install-guide-ubuntu/">Ubuntu 14.04 (LTS)</a>
                </div>
                <div class="docs-link-sections">
                    <h3 id="user-guides"><i class="fa fa-book"></i>API手冊</h3>
                    <a href="/zh_CN/api-quick-start/">API快速手冊</a>
                    <p>OpenStack API 使用方法介绍</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="docs-link-sections">
                    <h3 id="doc-contrib-guides"><i class="fa fa-pencil"></i> 貢獻者指南</h3>
                    <a href="https://www.openstack.org/user-survey/?lang=zh_CN">参加用戶調查</a>
                    <p>影響penStack的未來</p>
                </div>
            </div>
        </div>
        <div class="row docs-contribute-wrapper">
            <div class="col-lg-12">
                <p>像在OpenStack社群裡貢獻文件及翻譯! 有興趣嗎?</p>
                <a href="https://wiki.openstack.org/wiki/I18nTeam/team/zh_cn" class="overview-btn contribute-btn">了解如何貢獻 <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- End Page Content -->
{% endblock content %}
