{% extends "templates/base.tmpl" %}
{% block pagetitle %}{{SERIES_TITLE}} Language bindings{% endblock %}
{% block title %}
<a href="https://docs.openstack.org/">Documentation</a> &gt; Language Bindings and Python Clients
{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>OpenStack {{SERIES_TITLE}} API Bindings</h1>
                <p>
                This page contains documentation about the Python
                bindings provided by OpenStack and how to use them.
                </p>
           </div>
        </div>
    </div>
    <div class="mid-docs-wrapper" id="docs-main-body">
        <div class="container">
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-book"></i>Bindings for the OpenStack APIs</h3>
    <a href="/python-ironicclient/ocata/">
    Bare Metal service Python Bindings (ironic client)
    </a><br />
    <a href="/python-cinderclient/ocata/">
    Block Storage service Python Bindings (cinder client)
    </a><br />
    <a href="/python-novaclient/ocata/">
    Compute service Python Bindings (nova client)
    </a><br />
    <a href="/python-magnumclient/ocata/">
    Container Infrastructure Management service Python Bindings (magnum client)
    </a><br />
    <a href="/python-saharaclient/ocata/">
    Data Processing service Python Bindings (sahara client)
    </a><br />
    <a href="/python-troveclient/ocata/">
    Database service Python Bindings (trove client)
    </a><br />
    <a href="/python-designateclient/ocata/">
    DNS service Python Bindings (designate client)
    </a><br />
    <a href="/python-congressclient/ocata/">
    Governance service Python Bindings (congress client)
    </a><br />
    <a href="/python-keystoneclient/ocata/">
    Identity service Python Bindings (keystone client)
    </a><br />
    <a href="/python-glanceclient/ocata/">
    Image service Python Bindings (glance client)
    </a><br />
    <a href="/python-watcherclient/ocata/">
    Infrastructure Optimization service Python Bindings (watcher client)
    </a><br />
    <a href="/python-barbicanclient/ocata/">
    Key Management service Python Bindings (barbican client)
    </a><br />
    <a href="/python-zaqarclient/ocata/">
    Messaging service Python Bindings (zaqarclient client)
    </a><br />
    <a href="/python-neutronclient/ocata/">
    Networking service Python Bindings (neutron client)
    </a><br />
    <a href="/python-swiftclient/ocata/">
    Object Storage service Python Bindings (swift client)
    </a><br />
    <a href="/python-heatclient/ocata/">
    Orchestration service Python Bindings (heat client)
    </a><br />
    <a href="/python-manilaclient/ocata/">
    Shared File Systems service Python Bindings (manila client)
    </a><br />
    <a href="/python-aodhclient/ocata/">
    Telemetry Alarming service Python Bindings (aodh client)
    </a><br />
    <a href="/python-ceilometerclient/ocata/">
    Telemetry Data Collection service Python Bindings (ceilometer client)
    </a><br />
    <a href="/python-gnocchiclient/ocata/">
    Telemetry Time Series Database as a Service Python Bindings (gnocchi client)
    </a><br />
    <a href="/python-mistralclient/ocata/">
    Workflow service Python Bindings (mistral client)
    </a><br />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cloud"></i>Use the dashboard and command-line clients</h3>
    <a href="user-guide">
    OpenStack End User Guide
    </a><br />
    <p>
   User guide for the OpenStack dashboard and command-line clients.
    </p>
    <a href="cli-reference/">
    OpenStack Command Line Interface Reference
    </a><br />
    <p>
    Reference listing of all commands and parameters
    available for keystone, glance, neutron, nova,
    cinder, swift, heat, and ceilometer commands.
    </p>
    <a href="/python-openstackclient/ocata/">
    Unified OpenStack Client
    </a><br />
    <p>
    Documentation for python-openstackclient, a unified shell command structure.
    </p>
                    </div>
                </div>
            </div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>Documentation treated like code, powered by the community - interested?</p>
                    <a href="/doc-contrib-guide/" class="overview-btn contribute-btn"
                    >How To Contribute <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
