{% extends "templates/base.tmpl" %}
{% block pagetitle %}Services and Libraries{% endblock %}
{% block title %}
<a href="https://docs.openstack.org">Documentation</a> &gt; Services and Libraries
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>OpenStack Projects</h1>
                <p>
                This page contains project-specific documentation for
                OpenStack services and libraries.
                </p>
       </div>
    </div>
</div>
<div class="mid-docs-wrapper" id="docs-main-body">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
        <div class="row docs-toc">
            <div class="col-lg-6 col-md-6 col-sm-6">

    <div class="docs-link-sections">
        <h3><i class="fa fa-cog"></i> OpenStack Services</h3>
        <a href="/murano/ocata/">
            Application Catalog service (murano)</a><br />
        <a href="/ironic/ocata/">
            Bare Metal service (ironic)</a><br />
        <a href="/cinder/ocata/">
            Block Storage service (cinder)</a><br />
        <a href="/senlin/ocata/">
            Clustering service (senlin)</a><br />
        <a href="/storlets/ocata/">
            Compute inside Object Storage service (storlets)</a><br />
        <a href="/nova/ocata/">
            Compute service (nova)</a><br />
        <a href="/magnum/ocata/">
            Container Infrastructure Management service (magnum)</a><br />
        <a href="/zun/ocata/">
            Containers service (zun)</a><br />
        <a href="/horizon/ocata/">
            Dashboard (horizon)</a><br />
        <a href="/sahara/ocata/">
            Data Processing service (sahara)</a><br />
        <a href="/trove/ocata/">
            Database service (trove)</a><br />
        <a href="/designate/ocata/">
            DNS service (designate)</a><br />
        <a href="/congress/ocata/">
            Governance service (congress)</a><br />
        <a href="/keystone/ocata/">
            Identity service (keystone)</a><br />
        <a href="/glance/ocata/">
            Image service (glance)</a><br />
        <a href="/watcher/ocata/">
            Infrastructure Optimization service (watcher)</a><br />
        <a href="/barbican/ocata/">
            Key Management service (barbican)</a><br />
        <a href="/zaqar/ocata/">
            Message service (zaqar)</a><br />
        <a href="/neutron/ocata/">
            Networking service (neutron)</a><br />
        <a href="/tacker/ocata/">
            NFV Orchestration service (tacker)</a><br />
        <a href="/swift/ocata/">
            Object Storage service (swift)</a><br />
        <a href="/heat/ocata/">
            Orchestration service (heat)</a><br />
        <a href="/cloudkitty/ocata/">
            Rating service (cloudkitty)</a><br />
        <a href="/vitrage/ocata/">
            Root Cause Analysis service (vitrage)</a><br />
        <a href="/searchlight/ocata/">
            Search service (searchlight)</a><br />
        <a href="/manila/ocata/">
            Shared File Systems service (manila)</a><br />
        <a href="/aodh/ocata/">
            Telemetry Alarming service (aodh)</a><br />
        <a href="/ceilometer/ocata/">
            Telemetry Data Collection service (ceilometer)</a><br />
        <a href="/panko/ocata/">
            Telemetry Event service (panko)</a><br />
        <a href="/gnocchi/ocata/">
            Telemetry Time Series Database service (gnocchi)</a><br />
        <a href="/mistral/ocata/">
            Workflow service (mistral)</a><br />
    </div>

    <div class="docs-link-sections">
        <h3><i class="fa fa-cog"></i> Bare Metal Sub Projects</h3>
        <a href="/ironic-inspector/ocata/">
            Bare Metal Introspection service (ironic-inspector)</a><br />
    </div>

    <div class="docs-link-sections">
        <h3><i class="fa fa-cog"></i> Networking Sub Projects</h3>
        <a href="/networking-bagpipe/ocata/">
            BaGPipe backend (networking-bagpipe)</a><br />
        <a href="/networking-bgpvpn/ocata/">
            BGP-MPLS VPN Networking service Plug-in (networking-bgpvpn)</a><br />
        <a href="/neutron-dynamic-routing/ocata/">
            Dynamic Routing service Plug-in (neutron-dynamic-routing)</a><br />
        <a href="/neutron-fwaas/ocata/">
            Firewall-as-a-Service Plug-in (neutron-fwaas)</a><br />
        <a href="/networking-midonet/ocata/">
            MidoNet Networking service Plug-in (networking-midonet)</a><br />
        <a href="/networking-odl/ocata/">
            OpenDaylight(ODL) Networking service Plug-in (networking-odl)</a><br />
        <a href="/networking-ovn/ocata/">
            OVN Networking service Plug-in (networking-ovn)</a><br />
        <a href="/networking-sfc/ocata/">
            Service Function Chaining Networking service Plug-in (networking-sfc)</a><br />
    </div>

    <div class="docs-link-sections">
        <h3><i class="fa fa-cog"></i> Deployment Projects</h3>
        <a href="/charm-guide/ocata/">
            Deploying OpenStack using Juju Charms (charms)</a><br />
        <a href="/fuel-docs/ocata/">
            Deploying OpenStack using Fuel (fuel)</a><br />
        <a href="/kolla/ocata/">
            Deploying OpenStack using Ansible in Docker Containers (kolla)</a><br />
        <a href="/openstack-ansible/ocata/">
            Deploying OpenStack with Ansible (openstack-ansible)</a><br />
        <a href="/tripleo-docs/ocata/">
            Deploying OpenStack with TripleO (tripleo)</a><br />
    </div>

    <div class="docs-link-sections">
        <h3><i class="fa fa-cog"></i> Contributor Tools</h3>
        <a href="/devstack/ocata/">
            DevStack (DevStack)</a><br />
        <a href="/reno/ocata/">
            Release Notes Manager (reno)</a><br />
        <a href="/tempest/ocata/">
            Tempest Test Suite for OpenStack</a><br />
    </div>

    <div class="docs-link-sections">
        <h3><i class="fa fa-book"></i> Related Projects</h3>
        <a href="/bandit/ocata/">bandit</a><br />
        <p>Security linter for Python.</p>
        <a href="/bashate/ocata/">bashate</a><br />
        <p>Linter for bash scripts.</p>
        <a href="/grenade/ocata/">grenade</a><br />
        <p>Grenade is an OpenStack test harness to exercise the upgrade process between releases.</p>
        <a href="/refstack/ocata/">refstack</a><br />
        <p>RefStack is a toolset for testing interoperability between OpenStack clouds.</p>
        <a href="/syntribos/ocata/">syntribos</a><br />
        <p>Automated API security testing tool.</p>
    </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">

    <div class="docs-link-sections">
        <h3><i class="fa fa-pencil"></i> Using Libraries</h3>
        <a href="/automaton/ocata/">automaton</a><br />
        <p>Friendly state machines for python.</p>
        <a href="/cliff/ocata/">cliff</a><br />
        <p>Builds command-line programs in Python.</p>
        <a href="/debtcollector/ocata/">debtcollector</a><br />
        <p>A collection of Python deprecation patterns and strategies that
            help you collect your technical debt in a non-destructive manner.</p>
        <a href="/futurist/ocata/">futurist</a><br />
        <p>Asynchronous code from the future, helping you build out your
            applications to handle asynchronous and periodic work in a nice manner.</p>
        <a href="/keystoneauth/ocata/">keystoneauth</a><br />
        <p>Common authentication library for OpenStack clients.</p>
        <a href="/keystonemiddleware/ocata/">keystonemiddleware</a><br />
        <p>Middleware provided for integrating with the OpenStack Identity API.</p>
        <a href="/neutron-lib/ocata/">neutron-lib</a><br />
        <p>Library provided for integrating with the OpenStack Networking platform.</p>
        <a href="/oslo.cache/ocata/">oslo.cache</a><br />
        <p>Generic caching mechanism for OpenStack projects by wrapping
            the dogpile.cache.</p>
        <a href="/oslo.concurrency/ocata/">oslo.concurrency</a><br />
        <p>External process management and task synchronization.</p>
        <a href="/oslo.config/ocata/">oslo.config</a><br />
        <p>Configuration option parsing from the command line or configuration files.</p>
        <a href="/oslo.context/ocata/">oslo.context</a><br />
        <p>Helpers to maintain useful information about a request context</p>
        <a href="/oslo.db/ocata/">oslo.db</a><br />
        <p>Database connectivity.</p>
        <a href="/oslo.i18n/ocata/">oslo.i18n</a><br />
        <p>Internationalization and translation.</p>
        <a href="/oslo.log/ocata/">oslo.log</a><br />
        <p>A logging configuration library.</p>
        <a href="/oslo.messaging/ocata/">oslo.messaging</a><br />
        <p>Inter-process communication.</p>
        <a href="/oslo.middleware/ocata/">oslo.middleware</a><br />
        <p>A collection of WSGI middleware for web service development.</p>
        <a href="/oslo.policy/ocata/">oslo.policy</a><br />
        <p>Common policy enforcement.</p>
        <a href="/oslo.reports/ocata/">oslo.reports</a><br />
        <p>Error report framework for projects.</p>
        <a href="/oslo.rootwrap/ocata/">oslo.rootwrap</a><br />
        <p>Fine filtering of shell commands to run as root.</p>
        <a href="/oslo.serialization/ocata/">oslo.serialization</a><br />
        <p>Serialization with special handling for some common types.</p>
        <a href="/oslo.service/ocata/">oslo.service</a><br />
        <p>Library for running and managing OpenStack services.</p>
        <a href="/oslo.utils/ocata/">oslo.utils</a><br />
        <p>Database and RPC object schema versioning.</p>
        <a href="/oslo.versionedobjects/ocata/">oslo.versionedobjects</a><br />
        <p>Library of common low-level utility modules.</p>
        <a href="/oslo.vmware/ocata/">oslo.vmware</a><br />
        <p>Common functionality required by VMware drivers in several projects.</p>
        <a href="/oslosphinx/ocata/">oslosphinx</a><br />
        <p>Theme and extension support for Sphinx documentation.</p>
        <a href="/oslotest/ocata/">oslotest</a><br />
        <p>Unit test and fixture framework.</p>
        <a href="/osprofiler/ocata/">osprofiler</a><br />
        <p>Cross-Project profiling library.</p>
        <a href="/pbr/ocata/">pbr</a><br />
        <p>Manages setuptools packaging needs in a consistent way.</p>
        <a href="/pycadf/ocata/">PyCADF</a><br />
        <p>Creates CADF events to capture cloud-related events.</p>
        <a href="/pylockfile/ocata/">pylockfile</a><br />
        <p>The lockfile package provides a simple API for locking files.</p>
        <a href="/stevedore/ocata/">stevedore</a><br />
        <p>Manages dynamic plug-ins for Python applications.</p>
        <a href="/taskflow/ocata/">TaskFlow</a><br />
        <p>Makes task execution easy, consistent, and reliable.</p>
        <a href="/tooz/ocata/">Tooz</a><br />
        <p>Distributed primitives like group membership protocol, lock service and leader elections.</p>
    </div>

            </div>
        </div>
        <div class="row docs-contribute-wrapper">
            <div class="col-lg-12">
                <p>Documentation treated like code, powered by the community - interested?</p>
                <a href="/doc-contrib-guide/" class="overview-btn contribute-btn">How To Contribute <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
