.DS_Store
*.xpr
.idea

# Build results
target/
/publish-docs/
/www/output/
/generated/
/doc/user-guides/build-admin/
.doctrees
build/
/build-*.log.gz
glossary.rst
*.mo

# Python compiled files
*.pyc

# Ignore Vagrant Related Files
acceptance_config.yml
boxes/*
/.vagrant

# Testenvironment
.tox/

# Editors
*~
.*.swp
.bak
/.project
