.DS_Store
*.xpr
.idea

# Build results
target/
bk-ha-guide.xml
publish-docs/

# Ignore Vagrant Related Files
acceptance_config.yml
boxes/*
/.vagrant

# Testenvironment
.tox/

# Editors
*~
.*.swp
.bak
