.DS_Store
*.xpr
.idea

# Build results
target/
/publish-docs/
/generated/
build/
/build-*.log.gz

# Ignore Vagrant Related Files
acceptance_config.yml
boxes/*
/.vagrant

# Testenvironment
.tox/

# Editors
*~
.*.swp
.bak
/.project
