{% extends "templates/base.tmpl" %}
{% block pagetitle %}German{% endblock %}
{% block title %}{% endblock %}
{% block header %}
{% endblock header %}
{% block content %}
<!-- Begin Page Content -->
<div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Willkommen bei der OpenStack Dokumentation</h1>
                <p>
                    <strong>Was ist OpenStack ?</strong> OpenStack ist ein Cloud-Betriebssystem, das eine große Anzahl von Compute-, Storage- und Netzwerk-Ressourcen in einem Datencenter steuert. Die Verwaltung erfolgt über ein Dashboard, das dem Administrator Kontrolle gibt und den Benutzern ermöglicht, Ressourcen durch ein Webinterface zu provisionieren.
                </p>
                <hr>
                <h3>Was sind die nächsten Schritte?</h3>
                <a href="#docs-main-body" class="overview-btn docs-btn">Anleitungen lesen <i class="fa fa-arrow-circle-o-down"></i></a>
                <a href="https://www.openstack.org/software/start/" class="overview-btn docs-btn">OpenStack holen <i class="fa fa-arrow-circle-o-right"></i></a>
                <a href="https://www.openstack.org/marketplace/training" class="overview-btn docs-btn">Trainieren <i class="fa fa-arrow-circle-o-right"></i></a>
                {% include 'templates/os_search.tmpl' %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 superuser-wrapper">
                <div id="superuser-img"></div>
            </div>
        </div>
    </div>
    <div class="mid-docs-wrapper" id="docs-main-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <h2> Dokumentation in Deutsch (Newton - Oktober 2016)</h2>
                    <p>Auf dieser Seite finden Sie die auf Deutsch übersetzten OpenStack Dokumente. Bitte beachten Sie, dass noch nicht alle Dokumente auf Deutsch zur Verfügung stehen und Sie durch Verweise auf andere Dokumente auch in den englischsprachigen Originalen landen können. Weitere Sprachen und Releases finden Sie über den Button rechts.</p>
                    <p>Das Team hat sich darauf geeinigt, Fachbegriffe soweit möglich zu übersetzen. Nur Begriffe, deren Übersetzung nicht sinnvoll erscheint (z.B. Kommandos oder in der Gemeinschaft übliche Ausdrücke), bleiben unübersetzt. Hier finden Sie das vom Team gepflegte <a href="https://wiki.openstack.org/wiki/German_Translation_Dictionary">Wörterbuch</a>.</p>
                </div>
                {% include 'templates/dropdown_releases_and_languages.tmpl' %}
            </div>
        </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3 id="install-guides"><i class="fa fa-cogs"></i>Installationsanleitungen</h3>
                        <p>Erste Schritte mit den am häufigsten verwendeten OpenStack-Diensten</p>
                        <a href="/newton/de/install-guide-debian/">OpenStack-Installationsleitfaden für Debian</a>
                        <a href="/newton/de/install-guide-obs/">OpenStack-Installationsleitfaden für openSUSE und SUSE Linux Enterprise</a>
                        <a href="/newton/de/install-guide-rdo/">OpenStack-Installationsleitfaden für Red Hat Enterprise Linux und CentOS</a>
                        <a href="/newton/de/install-guide-ubuntu/">OpenStack-Installationsleitfaden für Ubuntu</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row docs-contribute-wrapper">
            <div class="col-lg-12">
                <p>Verwaltung der Dokumentation wie Quellcode, angetrieben von der Gemeinschaft - interessiert?</p>
                <a href="/doc-contrib-guide/index.html" class="overview-btn contribute-btn">Wie kann man mitarbeiten <i class="fa fa-chevron-right"></i></a>
            </div>
            <div class="col-lg-12">
                <p>Unterstützung des Deutschen Übersetzerteams</p>
Wir freuen uns über jede helfende Hand bei der Übersetzung der Dokumentation oder einzelner OpenStack Projekte! Kontakt zum Team finden Sie <a href="https://wiki.openstack.org/wiki/I18nTeam/team/de">über unsere Wiki-Seite</a> oder direkt beim <a href="https://translate.openstack.org/language/view/de">Deutschen Übersetzersteam auf Zanata</a>
            </div>
        </div>
    </div>
</div>
<!-- End Page Content -->
{% endblock content %}
