# Redirect for the rename of quantum to neutron
redirect 301 /developer/quantum/ /developer/neutron/

# Redirect for the rename of python-quantumclient to python-neutronclient
redirect 301 /developer/python-quantumclient/ /developer/python-neutronclient/

# Redirect to api.openstack.org for nova's old api_ext doc
redirect 301 /developer/nova/api_ext/ http://api.openstack.org/api-ref.html

# Redirect for the rename of savanna to sahara
redirect 301 /developer/savanna/ /developer/sahara/
