{% extends "templates/base.tmpl" %}
{% block pagetitle %}Language bindings{% endblock %}
{% block title %}
<a href="http://docs.openstack.org/">Documentation</a> &gt; Language Bindings and Python Clients
{% endblock %}
{% block content %}
<div class="container">
 <div class="span-12">
  <h2>
   Language bindings for OpenStack APIs
  </h2>
  <h4>
   <a href="http://docs.openstack.org/developer/python-novaclient">
    Compute Python Bindings (nova client)
   </a>
  </h4>
  <h4>
   <a href="http://docs.openstack.org/developer/python-troveclient">
    Database Service Python Bindings (trove)
   </a>
  </h4>
  <h4>
   <a href="http://docs.openstack.org/developer/python-keystoneclient/">
    Identity Python Bindings (keystone client)
   </a>
  </h4>
  <h4>
   <a href="http://docs.openstack.org/developer/python-glanceclient/">
    Image Service Python Bindings (glance client)
   </a>
  </h4>
  <h4>
   <a href="http://docs.openstack.org/developer/python-neutronclient">
    Networking Service Python Bindings (neutron client)
   </a>
  </h4>
  <h4>
   <a href="http://docs.openstack.org/developer/python-swiftclient/">
    Object Storage Python Bindings (swift client)
   </a>
  </h4>
  <h4>
   <a href="http://docs.openstack.org/developer/python-heatclient/">
    Orchestration Python Bindings (heat client)
   </a>
  </h4>
  <h4>
   <a href="http://docs.openstack.org/developer/python-ceilometerclient/">
    Telemetry Python Bindings (ceilometer client)
   </a>
  </h4>
  <h4>
   <a href="http://docs.openstack.org/developer/python-cinderclient/">
    Volume Python Bindings (cinder client)
   </a>
  </h4>
 </div>
 <div class="span-12 last">
  <h2>
   Use the OpenStack dashboard and command-line clients
  </h2>
  <h4>
   <a href="http://docs.openstack.org/user-guide/content/">
    OpenStack End User Guide
   </a>
  </h4>
  <p>
   User guide for the OpenStack dashboard and command-line clients.
  </p>
  <h4>
   <a href="http://docs.openstack.org/user-guide/content/">
    OpenStack Admin User Guide
   </a>
  </h4>
  <p>
   Admin user guide for the OpenStack
    dashboard and command-line clients.
  </p>
  <h4>
   <a href="http://docs.openstack.org/cli-reference/content/">
    OpenStack Command Line Interface Reference
   </a>
  </h4>
  <p>
   Reference listing of all commands and parameters
    available for keystone, glance, neutron, nova,
    cinder, swift, heat, and ceilometer commands.
  </p>
  <h4>
   <a href="http://docs.openstack.org/developer/python-openstackclient/">
    Unified OpenStack Client
   </a>
  </h4>
  <p>
   Documentation for python-openstackclient, a unified shell command structure.
  </p>
 </div>
</div>
{% endblock content %}
