{% set scriptdir = '../common/js/' %}
{% set cssdir = '../common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Language bindings{% endblock %}
{% block title %}
<a href="http://docs.openstack.org/">Documentation</a> &gt; Language Bindings and Python Clients
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>OpenStack API Bindings</h1>
                <p>
                This page contains documentation about the Python bindings provided by OpenStack and how to use them.
                </p>
       </div>
    </div>
</div>
<div class="mid-docs-wrapper" id="docs-main-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-book"></i> Bindings for the OpenStack APIs</h3>
     <a href="http://docs.openstack.org/developer/python-novaclient">
    Compute Python Bindings (nova client)
   </a>
       <a href="http://docs.openstack.org/developer/python-troveclient">
    Database Service Python Bindings (trove)
   </a>
       <a href="http://docs.openstack.org/developer/python-designateclient">
    DNS Services Python Bindings (designate)
   </a>
       <a href="http://docs.openstack.org/developer/python-keystoneclient/">
    Identity Python Bindings (keystone client)
   </a>
       <a href="http://docs.openstack.org/developer/python-glanceclient/">
    Image Service Python Bindings (glance client)
   </a>
       <a href="http://docs.openstack.org/developer/python-neutronclient">
    Networking Service Python Bindings (neutron client)
   </a>
       <a href="http://docs.openstack.org/developer/python-swiftclient/">
    Object Storage Python Bindings (swift client)
   </a>
       <a href="http://docs.openstack.org/developer/python-heatclient/">
    Orchestration Python Bindings (heat client)
   </a>
       <a href="http://docs.openstack.org/developer/python-manilaclient/">
     Shared File Systems Python Bindings (manila client)
   </a>
       <a href="http://docs.openstack.org/developer/python-ceilometerclient/">
    Telemetry Python Bindings (ceilometer client)
   </a>
       <a href="http://docs.openstack.org/developer/python-cinderclient/">
    Volume Python Bindings (cinder client)
   </a>
   </div>
 </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cloud"></i> Use the dashboard and command-line clients</h3>
     <a href="http://docs.openstack.org/user-guide/content/">
    OpenStack End User Guide
   </a>
    <p>
   User guide for the OpenStack dashboard and command-line clients.
  </p>
     <a href="http://docs.openstack.org/user-guide/content/">
    OpenStack Admin User Guide
   </a>
    <p>
   Admin user guide for the OpenStack
    dashboard and command-line clients.
  </p>
     <a href="http://docs.openstack.org/cli-reference/content/">
    OpenStack Command Line Interface Reference
   </a>
    <p>
   Reference listing of all commands and parameters
    available for keystone, glance, neutron, nova,
    cinder, swift, heat, and ceilometer commands.
  </p>
     <a href="http://docs.openstack.org/developer/python-openstackclient/">
    Unified OpenStack Client
   </a>
    <p>
   Documentation for python-openstackclient, a unified shell command structure.
  </p>
                    </div>
                </div>
            </div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>Documentation treated like code, powered by the community - interested?</p>
                    <a href="https://wiki.openstack.org/wiki/Documentation/HowTo" class="overview-btn contribute-btn">How To Contribute <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
</div>

{% endblock content %}
