{% set scriptdir = '../common/js/' %}
{% set cssdir = '../common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Developers{% endblock %}
{% block title %}
<a href="http://docs.openstack.org">Documentation</a> &gt; Python developer
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>OpenStack Contributor Documentation</h1>
                <p>
                This page contains documentation for Python developers,
                who work on OpenStack itself.
                </p>
       </div>
    </div>
</div>
<div class="mid-docs-wrapper" id="docs-main-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cog"></i> OpenStack Services</h3>
       <a href="http://docs.openstack.org/developer/ironic/">
     Bare Metal Provisioning Developer Documentation (ironic)
    </a>
          <a href="http://docs.openstack.org/developer/cinder/">
     Block Storage Developer Documentation (cinder)
    </a>
          <a href="http://docs.openstack.org/developer/nova/">
     Compute Service Developer Documentation (nova)
    </a>
          <a href="http://docs.openstack.org/developer/horizon/">
     Dashboard Developer Documentation (horizon)
    </a>
          <a href="http://docs.openstack.org/developer/sahara/">
     Data Processing Developer Documentation (sahara)
    </a>
          <a href="http://docs.openstack.org/developer/trove/">
     Database Service Developer Documentation (trove)
    </a>
          <a href="http://docs.openstack.org/developer/designate/">
     DNS Services Developer Documentation (designate)
    </a>
          <a href="http://docs.openstack.org/developer/keystone/">
     Identity Service Developer Documentation (keystone)
    </a>
          <a href="http://docs.openstack.org/developer/glance/">
     Image Service Developer Documentation (glance)
    </a>
          <a href="http://docs.openstack.org/developer/barbican/">
     Key Management Service Developer Documentation (barbican)
    </a>
          <a href="http://docs.openstack.org/developer/neutron/">
     Networking Service Developer Documentation (neutron)
    </a>
          <a href="http://docs.openstack.org/developer/swift/">
     Object Storage Developer Documentation (swift)
    </a>
          <a href="http://docs.openstack.org/developer/heat/">
     Orchestration Developer Documentation (heat)
    </a>
          <a href="http://docs.openstack.org/developer/zaqar/">
     Queue Service Developer Documentation (zaqar)
    </a>
          <a href="http://docs.openstack.org/developer/manila/">
     Shared File Systems Developer Documentation (manila)
    </a>

          <a href="http://docs.openstack.org/developer/ceilometer/">
     Telemetry Service Developer Documentation (ceilometer)
    </div>
    <div class="docs-link-sections">
       <h3><i class="fa fa-book"></i> Related Projects</h3>
       <a href="http://docs.openstack.org/developer/os-cloud-config/">
     os-cloud-config
    </a>
     <p>Configuration tools for OpenStack clouds. Used primarily by TripleO.</p>
 </div>
 </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
       <div class="docs-link-sections">
       <h3><i class="fa fa-pencil"></i> Using Libraries</h3>
    <a href="http://docs.openstack.org/developer/debtcollector/">
     debtcollector
    </a>
    <p>
     A collection of Python deprecation patterns and strategies that help you
     collect your technical debt in a non-destructive manner.
    </p>
       <a href="http://docs.openstack.org/developer/oslo.concurrency/">
     oslo.concurrency
    </a>
     <p>External process management and task synchronization.</p>
          <a href="http://docs.openstack.org/developer/oslo.config/">
     oslo.config
    </a>
     <p>Configuration option parsing from the command line or configuration files.</p>
          <a href="http://docs.openstack.org/developer/oslo.db/">
     oslo.db
    </a>
     <p>Database connectivity.</p>
          <a href="http://docs.openstack.org/developer/oslo.i18n/">
     oslo.i18n
    </a>
     <p>Internationalization and translation.</p>
          <a href="http://docs.openstack.org/developer/oslo.log/">
     oslo.log
    </a>
     <p>A logging configuration library.</p>
          <a href="http://docs.openstack.org/developer/oslo.messaging/">
     oslo.messaging
    </a>
     <p>Inter-process communication.</p>
          <a href="http://docs.openstack.org/developer/oslo.middleware/">
     oslo.middleware
    </a>
    <p> A collection of WSGI middleware for web service development.
   </p>
    <a href="http://docs.openstack.org/developer/oslo.policy/">
     oslo.policy
    </a>
    <p> Common policy enforcement.</p>
    <a href="http://docs.openstack.org/developer/oslo.rootwrap/">
     oslo.rootwrap
    </a>
     <p>Fine filtering of shell commands to run as root.</p>
          <a href="http://docs.openstack.org/developer/oslo.serialization/">
     oslo.serialization
    </a>
     <p>Serialization with special handling
      for some common types.</p>
          <a href="http://docs.openstack.org/developer/oslo.utils/">
     oslo.utils
    </a>
     <p>Library of common low-level utility modules.</p>
          <a href="http://docs.openstack.org/developer/oslo.vmware/">
     oslo.vmware
    </a>
     <p>Common functionality required by VMware drivers in
      several projects.</p>
          <a href="http://docs.openstack.org/developer/oslosphinx/">
     oslosphinx
    </a>
     <p>Theme and extension support for Sphinx documentation.</p>
          <a href="http://docs.openstack.org/developer/oslotest/">
     oslotest
    </a>
     <p>Unit test and fixture framework.</p>
          <a href="http://docs.openstack.org/developer/cliff/">
     cliff
    </a>
     <p>Builds command-line programs in Python.</p>
          <a href="http://docs.openstack.org/developer/pbr/">
     pbr
    </a>
     <p>Manages setuptools packaging needs in a consistent way.</p>
          <a href="http://docs.openstack.org/developer/pycadf/">
     PyCADF
    </a>
     <p>Creates CADF events to capture cloud-related events.</p>
          <a href="http://docs.openstack.org/developer/pylockfile/">
     pylockfile
    </a>
     <p>The lockfile package provides a simple API for locking files.</p>
          <a href="http://docs.openstack.org/developer/stevedore/">
     stevedore
    </a>
     <p>Manages dynamic plug-ins for Python applications.</p>
          <a href="http://docs.openstack.org/developer/taskflow/">
     TaskFlow
    </a>
     <p>Makes task execution easy, consistent, and reliable.</p>
          <a href="http://docs.openstack.org/developer/tooz/">
     Tooz
    </a>
     <p>Distributed primitives like group membership protocol, lock service and leader elections.</p>
 </div>
 </div>
</div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>Documentation treated like code, powered by the community - interested?</p>
                    <a href="https://wiki.openstack.org/wiki/Documentation/HowTo" class="overview-btn contribute-btn">How To Contribute <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
</div>

{% endblock content %}
