{% extends "templates/base.tmpl" %}
{% block pagetitle %}Developers{% endblock %}
{% block title %}
<a href="http://docs.openstack.org">Documentation</a> &gt; Python developer
{% endblock %}
{% block content %}
<div class="container">
 <div class="span-12">
 </div>
</div>
<div class="container">
 <div class="span-12">
  <div>
  </div>
 </div>
 <div class="span-12" id="subnav">
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Developer documentation for OpenStack
            services
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/developer/ironic/">
     Bare Metal Provisioning Developer Documentation (ironic)
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/cinder/">
     Block Storage Developer Documentation (cinder)
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/nova/">
     Compute Service Developer Documentation (nova)
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/horizon/">
     Dashboard Developer Documentation (horizon)
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/sahara/">
     Data Processing Developer Documentation (sahara)
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/trove/">
     Database Service Developer Documentation (trove)
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/designate/">
     DNS Services Developer Documentation (designate)
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/keystone/">
     Identity Service Developer Documentation (keystone)
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/glance/">
     Image Service Developer Documentation (glance)
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/manila/">
     Shared File Systems Developer Documentation (manila)
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/barbican/">
     Key Management Service Developer Documentation (barbican)
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/neutron/">
     Networking Service Developer Documentation (neutron)
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/swift/">
     Object Storage Developer Documentation (swift)
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/heat/">
     Orchestration Developer Documentation (heat)
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/ceilometer/">
     Telemetry service Developer Documentation (ceilometer)
    </a>
   </dd>
  </dl>
 </div>
 <div class="span-12 last-right" id="subnav-right">
  <ul class="subsectionNav last-right">
   <li class="link">
    <a>
     Developer documentation for using libraries
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/developer/oslo.concurrency/">
     oslo.concurrency
    </a>
    — Provides support for managing external processes and
       task synchronization.
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/oslo.config/">
     oslo.config
    </a>
    — Parses config options from command line and config files.
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/oslo.db/">
     oslo.db
    </a>
    — Provides database connectivity.
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/oslo.i18n/">
     oslo.i18n
    </a>
    — Internationalization and translation utilities.
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/oslo.messaging/">
     oslo.messaging
    </a>
    — Provides inter-process communication.
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/oslo.log/">
     oslo.log
    </a>
    — A logging configuration library.
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/oslo.middleware/">
     oslo.middleware
    </a>
    — A collection of WSGI middleware for web service development.
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/oslo.serialization/">
     oslo.serialization
    </a>
    — Provides serialization functionality with special handling
      for some common types.
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/oslo.utils/">
     oslo.utils
    </a>
    — Provides library of various common low-level utility modules.
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/oslo.vmware/">
     oslo.vmware
    </a>
    — Provides common functionality required by VMware drivers in
      several projects.
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/oslotest/">
     oslotest
    </a>
    — Provides a unit test and fixture framework.
   </dd>
   <dd>
    <a href="http://cliff.readthedocs.org/">
     cliff
    </a>
    — Builds command-line programs in Python.
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/pbr/">
     pbr
    </a>
    — Manages setuptools packaging needs in a consistent way.
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/pycadf/">
     PyCADF
    </a>
    — Creates CADF events to capture cloud-related events.
   </dd>
   <dd>
    <a href="http://stevedore.readthedocs.org/">
     stevedore
    </a>
    — Manages dynamic plug-ins for Python applications.
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/taskflow/">
     TaskFlow
    </a>
    — Makes task execution easy, consistent, and reliable.
   </dd>
  </dl>
 </div>
</div>
{% endblock content %}
