{% set scriptdir = '../common/js/' %}
{% set cssdir = '../common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Services and Libraries{% endblock %}
{% block title %}
<a href="https://docs.openstack.org">Documentation</a> &gt; Services and Libraries
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>OpenStack Contributor Documentation</h1>
                <p>
                This page contains project-specific documentation for
                OpenStack services and libraries.
                </p>
       </div>
    </div>
</div>
<div class="mid-docs-wrapper" id="docs-main-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cog"></i> OpenStack Services</h3>
       <a href="/developer/murano/">
     Application Catalog service (murano)
    </a>
          <a href="/developer/ironic/">
     Bare Metal service (ironic)
    </a>
          <a href="/developer/cinder/">
     Block Storage service (cinder)
    </a>
          <a href="/developer/senlin/">
     Clustering service (senlin)
    </a>
          <a href="/developer/nova/">
     Compute service (nova)
    </a>
          <a href="/developer/magnum/">
     Container Infrastructure Management service (magnum)
    </a>
          <a href="/developer/horizon/">
     Dashboard (horizon)
    </a>
          <a href="/developer/sahara/">
     Data Processing service (sahara)
    </a>
          <a href="/developer/trove/">
     Database service (trove)
    </a>
          <a href="/developer/designate/">
     DNS service (designate)
    </a>
          <a href="/developer/congress/">
     Governance service (congress)
    </a>
          <a href="/developer/keystone/">
     Identity service (keystone)
    </a>
          <a href="/developer/glance/">
     Image service (glance)
    </a>
          <a href="/developer/watcher/">
     Infrastructure Optimization service (watcher)
    </a>
          <a href="/developer/barbican/">
     Key Management service (barbican)
    </a>
          <a href="/developer/zaqar/">
     Message service (zaqar)
    </a>
          <a href="/developer/neutron/">
     Networking service (neutron)
    </a>
          <a href="/developer/tacker/">
     NFV Orchestration service (tacker)
    </a>
          <a href="/developer/swift/">
     Object Storage service (swift)
    </a>
          <a href="/developer/heat/">
     Orchestration service (heat)
    </a>
          <a href="/developer/cloudkitty/">
     Rating service (cloudkitty)
    </a>
          <a href="/developer/vitrage/">
     Root Cause Analysis service (vitrage)
    </a>
          <a href="/developer/searchlight/">
     Search service (searchlight)
    </a>
          <a href="/developer/manila/">
     Shared File Systems service (manila)
    </a>
          <a href="/developer/aodh/">
     Telemetry Alarming service (aodh)
    </a>
          <a href="/developer/ceilometer/">
     Telemetry Data Collection service (ceilometer)
    </a>
          <a href="/developer/panko/">
     Telemetry Event service (panko)
    </a>
          <a href="/developer/gnocchi/">
     Telemetry Time Series Database service (gnocchi)
    </a>
          <a href="/developer/mistral/">
     Workflow service (mistral)
    </div>

    <div class="docs-link-sections">
       <h3><i class="fa fa-cog"></i> Bare Metal Sub Projects</h3>
       <a href="/developer/ironic-inspector/">
     Bare Metal Introspection service (ironic-inspector)
    </a>
    </div>

    <div class="docs-link-sections">
       <h3><i class="fa fa-cog"></i> Networking Sub Projects</h3>
       <a href="/developer/networking-bagpipe/">
     BaGPipe backend (networking-bagpipe)
    </a>
       <a href="/developer/networking-bgpvpn/">
     BGP-MPLS VPN Networking service Plug-in (networking-bgpvpn)
    </a>
       <a href="/developer/neutron-dynamic-routing/">
     Dynamic Routing service Plug-in (neutron-dynamic-routing)
    </a>
       <a href="/developer/neutron-fwaas/">
     Firewall-as-a-Service Plug-in (neutron-fwaas)
    </a>
       <a href="/developer/networking-midonet/">
     MidoNet Networking service Plug-in (networking-midonet)
    </a>
       <a href="/developer/networking-odl/">
     OpenDaylight(ODL) Networking service Plug-in (networking-odl)
    </a>
       <a href="/developer/networking-ovn/">
     OVN Networking service Plug-in (networking-ovn)
    </a>
       <a href="/developer/networking-sfc/">
     Service Function Chaining Networking service Plug-in (networking-sfc)
    </a>
    </div>

    <div class="docs-link-sections">
       <h3><i class="fa fa-cog"></i> Deployment Projects</h3>
        <a href="/developer/charm-guide/">
     Deploying OpenStack using Juju Charms (charms)
    </a>
        <a href="/developer/fuel-docs/">
     Deploying OpenStack using Fuel (fuel)
    </a>
       <a href="/developer/kolla/">
     Deploying OpenStack using Ansible in Docker Containers (kolla)
    </a>
       <a href="/developer/openstack-ansible/">
     Deploying OpenStack with Ansible (openstack-ansible)
    </a>
       <a href="/developer/tripleo-docs/">
     Deploying OpenStack with TripleO (tripleo)
    </a>
    </div>

    <div class="docs-link-sections">
       <h3><i class="fa fa-cog"></i> Contributor Tools</h3>
       <a href="/developer/devstack/">
         DevStack (DevStack)
       </a>
       <a href="/developer/reno/">
         Release Notes Manager (reno)
       </a>
       <a href="/developer/tempest/">
         Tempest Test Suite for OpenStack
       </a>
    </div>

    <div class="docs-link-sections">
       <h3><i class="fa fa-book"></i> Related Projects</h3>
       <a href="/developer/bandit/">
     bandit
    </a>
    <p>Security linter for Python.</p>
       <a href="/developer/bashate/">
     bashate
    </a>
    <p>Linter for bash scripts.</p>
       <a href="/developer/grenade/">
     grenade
    </a>
    <p>Grenade is an OpenStack test harness to exercise the upgrade process between releases.</p>
       <a href="/developer/os-cloud-config/">
     os-cloud-config
    </a>
    <p>Configuration tools for OpenStack clouds. Used primarily by TripleO.</p>
       <a href="/developer/syntribos/">
     syntribos
    </a>
    <p>Automated API security testing tool.</p>

</div>
 </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
       <div class="docs-link-sections">
       <h3><i class="fa fa-pencil"></i> Using Libraries</h3>
         <a href="/developer/automaton/">
     automaton
     </a>
     <p>Friendly state machines for python.</p>
         <a href="/developer/cliff/">
     cliff
     </a>
     <p>Builds command-line programs in Python.</p>
         <a href="/developer/debtcollector/">
     debtcollector
    </a>
    <p>
     A collection of Python deprecation patterns and strategies that help you
     collect your technical debt in a non-destructive manner.
    </p>
        <a href="/developer/futurist/">
    futurist
    </a>
    <p>
    Asynchronous code from the future, helping you build out your applications
    to handle asynchronous and periodic work in a nice manner.
    </p>
          <a href="/developer/keystoneauth/">
     keystoneauth
    </a>
     <p>Common authentication library for OpenStack clients.</p>
          <a href="/developer/keystonemiddleware/">
     keystonemiddleware
    </a>
     <p>Middleware provided for integrating with the OpenStack Identity API.</p>
          <a href="/developer/neutron-lib/">
     neutron-lib
    </a>
     <p>Library provided for integrating with the OpenStack Networking platform.</p>
          <a href="/developer/oslo.cache/">
     oslo.cache
    </a>
     <p>Generic caching mechanism for OpenStack projects by wrapping
         the dogpile.cache.</p>
          <a href="/developer/oslo.concurrency/">
     oslo.concurrency
    </a>
     <p>External process management and task synchronization.</p>
          <a href="/developer/oslo.config/">
     oslo.config
    </a>
     <p>Configuration option parsing from the command line or configuration files.</p>
          <a href="/developer/oslo.context/">
     oslo.context
    </a>
     <p>Helpers to maintain useful information about a request context</p>
          <a href="/developer/oslo.db/">
     oslo.db
    </a>
     <p>Database connectivity.</p>
          <a href="/developer/oslo.i18n/">
     oslo.i18n
    </a>
     <p>Internationalization and translation.</p>
          <a href="/developer/oslo.log/">
     oslo.log
    </a>
     <p>A logging configuration library.</p>
          <a href="/developer/oslo.messaging/">
     oslo.messaging
    </a>
     <p>Inter-process communication.</p>
          <a href="/developer/oslo.middleware/">
     oslo.middleware
    </a>
    <p> A collection of WSGI middleware for web service development.
   </p>
    <a href="/developer/oslo.policy/">
     oslo.policy
    </a>
    <p> Common policy enforcement.</p>
    <a href="/developer/oslo.reports/">
     oslo.reports
    </a>
     <p>Error report framework for projects.</p>
    <a href="/developer/oslo.rootwrap/">
     oslo.rootwrap
    </a>
     <p>Fine filtering of shell commands to run as root.</p>
          <a href="/developer/oslo.serialization/">
     oslo.serialization
    </a>
     <p>Serialization with special handling
      for some common types.</p>
           <a href="/developer/oslo.service/">
     oslo.service
    </a>
     <p>Library for running and managing OpenStack services.</p>
          <a href="/developer/oslo.utils/">
     oslo.utils
    </a>
     <p>Database and RPC object schema versioning.</p>
          <a href="/developer/oslo.versionedobjects/">
     oslo.versionedobjects
    </a>
     <p>Library of common low-level utility modules.</p>
          <a href="/developer/oslo.vmware/">
     oslo.vmware
    </a>
     <p>Common functionality required by VMware drivers in
      several projects.</p>
          <a href="/developer/oslosphinx/">
     oslosphinx
    </a>
     <p>Theme and extension support for Sphinx documentation.</p>
          <a href="/developer/oslotest/">
     oslotest
    </a>
     <p>Unit test and fixture framework.</p>
          <a href="/developer/osprofiler/">
     osprofiler
    </a>
     <p>Cross-Project profiling library.</p>
          <a href="/developer/pbr/">
     pbr
    </a>
     <p>Manages setuptools packaging needs in a consistent way.</p>
          <a href="/developer/pycadf/">
     PyCADF
    </a>
     <p>Creates CADF events to capture cloud-related events.</p>
          <a href="/developer/pylockfile/">
     pylockfile
    </a>
     <p>The lockfile package provides a simple API for locking files.</p>
          <a href="/developer/stevedore/">
     stevedore
    </a>
     <p>Manages dynamic plug-ins for Python applications.</p>
          <a href="/developer/taskflow/">
     TaskFlow
    </a>
     <p>Makes task execution easy, consistent, and reliable.</p>
          <a href="/developer/tooz/">
     Tooz
    </a>
     <p>Distributed primitives like group membership protocol, lock service and leader elections.</p>
 </div>
 </div>
</div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>Documentation treated like code, powered by the community - interested?</p>
                    <a href="/contributor-guide/" class="overview-btn contribute-btn">How To Contribute <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
</div>

{% endblock content %}
