{% set scriptdir = '../common/js/' %}
{% set cssdir = '../common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Operations Guide{% endblock %}
{% block title %}
<a href="http://docs.openstack.org/">Documentation</a> &gt; Operations Guide
{% endblock %}
{% block content %}
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>OpenStack Operations Guide</h1>
  <p>
   This book offers hard-earned experience from OpenStack operators who have run OpenStack
    in production for six months or longer. They've gathered their notes, shared their stories,
    and learned from each other. We invite you to join in the quest for best practices
    in OpenStack cloud operations. You can read the
   <a href="/openstack-ops/content/" onclick="recordOutboundLink(this, 'Outbound Links', 'ops.html');return false;">
    latest updates
   </a>
   or download the new O'Reilly published versions below.
  </p>
<hr />
                <h3>Get the Book!</h3>
                <a class="overview-btn docs-btn" href="/openstack-ops/content/" onclick="recordOutboundLink(this, 'Outbound Links', 'ops.html');return false;">Current HTML <i class="fa fa-arrow-circle-o-down"></i></a>
                <a class="overview-btn docs-btn" href="/openstack-ops/openstack-ops-manual.pdf" onclick="recordOutboundLink(this, 'Outbound Links', 'ops.pdf');return false;">Current PDF <i class="fa fa-arrow-circle-o-down"></i></a>

                <a class="overview-btn docs-btn" href="oreilly-openstack-ops-guide.mobi" onclick="recordOutboundLink(this, 'Outbound Links', 'ops.mobi');return false;">O'Reilly .mobi <i class="fa fa-arrow-circle-o-right"></i></a>
                <a class="overview-btn docs-btn" href="oreilly-openstack-ops-guide.epub" onclick="recordOutboundLink(this, 'Outbound Links', 'ops.epub');return false;">O'Reilly .epub <i class="fa fa-arrow-circle-o-right"></i></a>
       </div>
        <div class="col-lg-4 col-md-4 col-sm-4 superuser-wrapper">
        <img src="../common/images/oreilly-openstack-ops-guide.png" width="100%"/>
        </div>

       </div>
    </div>
</div>
<div class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
 <div class="row">
  <p>
   <iframe allowfullscreen="" frameborder="0" height="315" src="http://www.youtube.com/embed/lYfHEy6E2n0?rel=0" width="560">
   </iframe>
  </p>
  <p>
   If you're interested in OpenStack books, please take a look at the
   <a href="http://docs.openstack.org/sec/">
    OpenStack Security Guide
   </a>
   , also written in a five-day book sprint.
  </p>
  <p align="right">
   <a href="http://creativecommons.org/licenses/by/3.0/us/" rel="license">
    <img alt="Creative Commons License" src="http://i.creativecommons.org/l/by/3.0/us/88x31.png" style="border-width:0"/>
   </a>
   <br/>
   This work is licensed under a
   <a href="http://creativecommons.org/licenses/by/3.0/us/" rel="license">
    Creative Commons Attribution 3.0 United States License
   </a>
   .
  </p>
 </div>
</div>
</div>
{% endblock content %}
