/* deprecated badge css */

.deprecated-badge {
    background: #2A4E68;
    padding: 5px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.46);
    -webkit-font-smoothing: subpixel-antialiased;
}

.deprecated-badge a, .deprecated-badge p {
    text-decoration: none;
    position: relative;
    margin-top: 8px;
}

.deprecated-badge a:hover {
    text-decoration: underline;
}

.deprecated-badge.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

p.deprecated-badge-left {
    float: left;
}

a.deprecated-badge-right {
    float: right;
    display: none;
    font-size: 0.9em;
}

.deprecated-badge.fixed a.deprecated-badge-right {
    display: inline-block;
}

.navbar-default{
  margin-top: 50px !important;
}

.deprecated-badge-obsolete {
  background: #b33a3a !important;
}

.deprecated-badge-eol {
   background: #b33a3a !important;
}

.deprecated-badge-current {
   background: #30739C !important;
}

.deprecated-badge-maintained {
   background: #eaeaea !important;
}

.deprecated-badge-development {
   background: #eaeaea !important;
}

.deprecated-badge-development a, .deprecated-badge-development p {

}

.deprecated-badge-maintained a, .deprecated-badge-maintained p {

}

.deprecated-badge-current a, .deprecated-badge-current p {
  color: #edf2f7 !important;
}

.deprecated-badge .container
{

}

.deprecated-badge .deprecated-badge-close-button{
  position:absolute;
  top:1%;
  margin-top: 5px;
  left:99%;
  cursor: pointer;
}

.deprecated-badge-maintained .deprecated-badge-close-button{
    color: #000000 !important;
}

.deprecated-badge-development .deprecated-badge-close-button{
    color: #000000 !important;
}

.deprecated-badge-current .deprecated-badge-close-button{
    color: white !important;
}

@media (max-width: 767px), only screen and (max-device-width: 1024px) {
     .deprecated-badge .deprecated-badge-close-button{
          left:97%;
      }
}
