/* deprecated badge css */

.deprecated-badge {
  padding: 5px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.46);
  -webkit-font-smoothing: subpixel-antialiased;
}

.deprecated-badge a, .deprecated-badge p {
  text-decoration: none;
  position: relative;
  margin-top: 8px;
}

.deprecated-badge .docs-dropdown {
  display: inline-block;
}

.deprecated-badge .docs-dropdown > a {
  padding: 5px 12px;
  margin: 0px 4px 0px 4px;
  width: inherit; }

.deprecated-badge .docs-dropdown .dropdown-menu {
  margin-top: 10px; }

.deprecated-badge .docs-dropdown .dropdown-menu a {
  padding: 5px 25px;
  margin-top: 0px;
}

.deprecated-badge .docs-dropdown > .dropdown-menu > li.current {
  padding: 5px 25px;
  text-align: left;
}

.deprecated-badge a:hover {
  text-decoration: underline;
}

.deprecated-badge.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.deprecated-badge p {
  display: inline-block;
}

a.deprecated-badge-right {
  float: right;
  display: none;
  font-size: 0.9em;
}

.deprecated-badge.fixed a.deprecated-badge-right {
  display: inline-block;
}

.navbar-default{
  margin-top: 50px !important;
}

.deprecated-badge-obsolete,
.deprecated-badge-eol {
  background: #b33a3a;
}

.deprecated-badge-obsolete a,
.deprecated-badge-obsolete p,
.deprecated-badge-eol a,
.deprecated-badge-eol p {
  color: #edf2f7;
}

.deprecated-badge-maintained,
.deprecated-badge-extended-maintenance,
.deprecated-badge-unmaintained,
.deprecated-badge-development {
  background: #eaeaea;
}

.deprecated-badge-current {
  background: #30739c;
}

.deprecated-badge-current a,
.deprecated-badge-current p {
  color: #edf2f7;
}

.deprecated-badge .deprecated-badge-close-button{
  position:absolute;
  top:1%;
  margin-top: 5px;
  left:99%;
  cursor: pointer;
}

.deprecated-badge-maintained .deprecated-badge-close-button{
  color: #000000 !important;
}

.deprecated-badge-extended-maintenance .deprecated-badge-close-button{
  color: #000000 !important;
}

.deprecated-badge-unmaintained .deprecated-badge-close-button{
  color: #000000 !important;
}

.deprecated-badge-development .deprecated-badge-close-button{
  color: #000000 !important;
}

.deprecated-badge-current .deprecated-badge-close-button{
  color: white !important;
}

@media (max-width: 767px), only screen and (max-device-width: 1024px) {
  .deprecated-badge .deprecated-badge-close-button{
    left:97%;
  }
}
