/* @override http://docs.openstack.org/common/css/homepage.css */

/* @override http://docs.openstack.org/common/css/homepage.css */

body.homepage #header h1 {
  display: none;
}

body.homepage #header {
  background: white;
  text-align: center;
}

body.homepage #header img {
  display: inline;
  margin: auto;
  float: none;
  margin-top: 20px;
}

.bookCatalog {
  -webkit-box-shadow: inset 0px 1px 2px 0px #bdd1e5;
  -moz-box-shadow: inset 0px 1px 2px 0px #bdd1e5;
  background-color: #f3f9fc;
  padding: 20px;
  width: 800px;
  margin: auto;
  border: 1px solid #b9c6c6;
}

.bookSet {
  float: left;
  width: 400px;
}

.bookSet h1{
  text-align: center;
}

.bookBox ul {
  display: block;
  margin: 0;
  padding: 0px;
}

.bookBox li {
  display: block;
  float: left;
  text-align: center;
}

.bookSet li a {
  text-decoration: none;
  color: #2b3f4c;
}

.bookSet li a span.icon {
  display: block;
  padding-top: 190px;
  background: no-repeat;
  -webkit-background-size: 80%;
  margin-bottom: -10px;
}

#compute.bookSet li.devGuide a span.icon {
  background: url(../images/compute-dev-guide.png) no-repeat;
}

#storage.bookSet li.devGuide a span.icon {
  background: url(../images/storage-dev-guide.png) no-repeat;
}

#compute.bookSet li.adminGuide a span.icon {
  background: url(../images/compute-admin.png) no-repeat;
}

#storage.bookSet li.adminGuide a span.icon {
  background: url(../images/storage-admin.png) no-repeat;
}

.searchArea label {
  display: block;
  color: #618da9;
}

.searchArea h1 {
  padding: 0px!important;
  margin: 0px!important;
}

input.gsc-input, input#query {
  padding: 10px;
  background-color: #f1f8fa;
  border: 3px solid #c5e2ea!important;
}

input#query {
  width: 100%;
}

input.gsc-search-button {
  margin-left: 10px!important;
}

div.bookBox {
  margin-right: 40px;
  padding: 8px;
  background-color: #f3f3f3;
  clear: both;
}

/* @group Rounded Buttons */

a.roundedButton {
  border: 1px solid #bfbfbf;
  padding: 2px 15px;
  color: #7c201b;
  text-decoration: none;
  font-size: 12px;
  line-height: 3em;
  background: #FFFFFF; /* old browsers */
  background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 50%, #EBEBEB 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(50%,#F3F3F3), color-stop(100%,#EBEBEB)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EBEBEB',GradientType=0 ); /* ie */
  text-shadow: #fff 0px 1px 1px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-right: 10px;
}

a.roundedButton:active, input.action:active {
  background: #ababab;
    box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-color: #ababab;
  border-top-color: #636363;
  background: -webkit-gradient(linear, left top, left bottom, from(#bebebe), to(#dddddd));
  background: -moz-linear-gradient(top,  #bebebe,  #eeeeee);  
  -webkit-transition:none;
  padding: 2px 15px;
  color: #black;
}

.bookBox img {
  float: left;
  margin-left: -20px;
  margin-right: 10px;
  width: 90px;
}


.bookBox h2 a {
  text-decoration: none;
  text-shadow: #fff 0px 1px 1px;
  color: black;
}

div.bookRow h1 {
  color: #33495d;
  font-size: 13px;
  margin-top: 0px;
  margin-left: -40px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

div.bookRow {
  margin-bottom: 30px;
  margin-left: 40px;
}

div.searchArea h1 {
  color: grey;
  font-size: 14px;
  margin-left: -40px;
}

div.searchArea table {
  width: 100%;
}

div.footer {
    border-top: 1px solid #DDDDDD;
    clear: both;
    margin: 1em 1.5em 0 242px;
    padding: 0.5em 0;
}

div.footer p {
  font-size: 11px;
}

#manuals h1 {
  font-size: 16px;
  clear: both;
  margin-top: 30px;
}

.bookBox h2 {
  font-size: 16px;
  margin-right: 100px;
  margin-bottom: 0px;
  line-height: 1.2em;
  padding-top: 15px;
}

.bookBox {
  height: 100px;
  margin-bottom: 10px;
}

#manuals p {
  margin-bottom: 0px;
}

#releaseNav ul li a {
  display: block;
  padding: 10px 20px 10px 10px;
  text-decoration: none;
  color: black;
  background: #e2ecef;
  margin-bottom: 5px;
}

#releaseNav ul li a.selected {
  background: #c4e0e9;
}

#releaseNav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  margin-top: 30px ;
}

.leftBorder {padding-left:24px;margin-left:25px;border-left:1px solid #eee;}

p.instructions {
  color: #9d9d9d;
}

/* @end */
