body {
  font: 12px Verdana, Geneva, sans-serif;
}

p, ul, ol, li {
  font: 10pt Verdana, Geneva, sans-serif;
}

h1 {
  font: 15pt Arial, Helvetica, geneva;
  color: #cf2f19;
}

h2 {
  font: normal 12pt Arial, Helvetica, geneva;
  color: black!important;
}

#header {
  position: fixed;
  width: 100%;
  height: 95px;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  border-bottom: 1px solid #bbc4c5;
  z-index: 2000;
  background: white url(../images/book_open.png) no-repeat 250px center;
}

#header h1, p.breadcrumbs {
  margin-left: 300px;
}

#header img {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

#leftnavigation {
  overflow: auto;
  position: fixed;
  height: auto;
  top: 90px;
  bottom: 0;
  left: 0;
  width: 280px;
  z-index: 1500;
  border-right:1px solid #bbc4c5;
  padding: 0px;
  background-color: #f2f7f7!important;
}

#content {
  position: relative;
  top: 90px; /* left: 240px;*/
  right: auto; /*  bottom: 20px;  */
  margin: 0px 0px 0px 280px;
  width: auto;
  height: inherit;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 30px;
  color: #000000;
  /*border-left: 2px solid #cccccc; overflow :scroll;*/
  z-index: 1000;

  max-width: 70em;
  min-width:800px;
}

#navheader {
  position: fixed;
  top: 65px;
  right:4px;
}

#content h1, #content h2 { color: #cc0000; }
.navfooter { bottom: 2%; }
.highlight { background-color: #c5d3c3; }
.highlightButton{ font-size: 0; }

/*  Show Hide TOC tree */
.pointLeft {
  cursor: pointer;
  padding-right: 20px;
  display: block;
}

.pointRight {
  cursor: pointer;
  padding-right: 20px;
  display: block;
}

/* Search results Styling */
.searchExpression {
  color: #0050A0;
  background-color: #EBEFF8;
  font-size: 12pt;
}

.searchresult li a {
  text-decoration: none;
  color: #0050A0;
}

.searchresult li {
  color: #0050A0;
}

.shortdesclink {
  color: gray;
  font-size: 9pt;
}

.searchText {
  border: #BFCEE9 solid 1pt;
  width: 11em
}

.searchButton {
  margin-left: 3px;
  background: #EBEFF8;
  color: #0050A0;
  border: #BFCEE9 solid 1pt;
  font-weight: bold;
  font-size: 10pt
}

.title, div.toc>p {
  font-weight: bold;
}

p.breadcrumbs {
  margin-bottom: 0px;
  margin-top: 33px;
}

p.breadcrumbs a {
  padding-right: 12px;
  margin-right: 5px;
  text-decoration: none;
  color: #575757;
  text-transform: uppercase;
  font-size: 10px;
  background: url(../images/breadcrumb-arrow.png) no-repeat right center;
}

p.breadcrumbs a:hover {
  text-decoration: underline;
}

#header h1 {
  margin-top: 2px;
}

table.navLinks {
  margin-right: 20px;
}

.navLinks a, .navLinks td a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 11px;
}

a.navLinkPrevious {
  padding-left: 12px;
  background: url(../images/previous-arrow.png) no-repeat left center;
}

a.navLinkNext {
  padding-right: 12px;
  background: url(../images/next-arrow.png) no-repeat right center;
}

a#showHideButton {
  padding-left: 20px;
  background: url(../images/sidebar.png) no-repeat left center;
}

hr {
  height: 1px;
  background-color: #ccdcea;
  border: none;
}

.navfooter {
  margin-top: 30px;
}

h2.userNotes {
  margin-top: 30px;
  font-size: 14px;
  font-weight: bold;
  background: url(../../common/images/paperclip.gif) no-repeat left center;
  padding-left: 22px;
}

a:link {
  color: #517291;
}

div.note, div.important {
  padding-right: 10px;
  border: 1px solid #e5e5c5;
  padding-left: 50px;
  background: #f7f7de url(../images/note.png) no-repeat 10px 10px;
}

div.note h3.title, div.important h3.title {
  margin-bottom: 0px;
}

div.note p {
  margin-top: 0px;
}

#content li {
  list-style-type: square;
}

pre {
  color: #5b5857;
}

#content table td {
  border: 1px solid #c8eff5;
}

#content table td, #content table th {
  padding: 5px;
}

#content table {
  width: 100%;
  margin-bottom: 20px;
}

#content caption {
  padding-top: 10px;
  margin: 3px;
  color: #858686;
}

div#disqus_thread h3 {
  font-weight: normal;
}

div#disqus_thread {
  font-size: 90%;
}

.searchFieldSet {
  border: none;
}

.searchFieldSet legend {
  padding-left: 15px;
  color: #0050a0;
}

p.searchHighlight a {
  padding-left: 20px;
  background: url(../images/highlighter.png) no-repeat left center;
  font-size: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
}
