/*hide close button*/
.ossw-search-bar-close {
  display: none !important;
}

#search-bar-input{
  width: 98% !important;
  margin-top: 10px !important;
}

.search-container-mobile {
  display: none !important;
  position: relative !important;
  width: 100% !important;
}

@media (max-width: 767px), only screen and (max-device-width: 1024px) {
  .search-container-mobile {
    display: block !important;
  }

  .search-container {
    display: none !important;
  }
}
