{% set scriptdir = '../../common/js/' %}
{% set cssdir = '../../common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Draft Installation Tutorials and Guides{% endblock %}
{% block title %}
<a href="http://docs.openstack.org">Documentation</a> &gt; Draft Installation Tutorials and Guides
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Draft Installation Tutorials and Guides for Newton (October 2016)</h1>
                <p>
                This is documentation in progress for the next release.
                </p>
       </div>
    </div>
</div>
<div class="mid-docs-wrapper" id="docs-main-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cogs"></i>Draft Installation Tutorial for Debian with debconf</h3>
                        <a href="/draft/install-guide-debconf/">Abstract</a></li>
                        <a href="/draft/install-guide-debconf/common/conventions.html">Conventions</a></li>
                        <a href="/draft/install-guide-debconf/overview.html">Overview</a></li>
                        <a href="/draft/install-guide-debconf/environment.html">Environment</a></li>
                        <a href="/draft/install-guide-debconf/keystone.html">Identity service</a></li>
                        <a href="/draft/install-guide-debconf/glance.html">Image service</a></li>
                        <a href="/draft/install-guide-debconf/nova.html">Compute service</a></li>
                        <a href="/draft/install-guide-debconf/neutron.html">Networking service</a></li>
                        <a href="/draft/install-guide-debconf/horizon.html">Dashboard</a></li>
                        <a href="/draft/install-guide-debconf/cinder.html">Block Storage service</a></li>
                        <a href="/project-install-guide/shared-file-systems/draft/">Shared File Systems service</a></li>
                        <a href="/project-install-guide/object-storage/draft/">Object Storage service</a></li>
                        <a href="/project-install-guide/orchestration/draft/">Orchestration service</a></li>
                        <a href="/project-install-guide/database/draft/">Database service</a></li>
                        <a href="/draft/install-guide-debconf/launch-instance.html">Launch an instance</a></li>
                    </div>
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cogs"></i>Draft Installation Tutorial for Debian</h3>
                        <a href="/draft/install-guide-debian/">Abstract</a></li>
                        <a href="/draft/install-guide-debian/common/conventions.html">Conventions</a></li>
                        <a href="/draft/install-guide-debian/overview.html">Overview</a></li>
                        <a href="/draft/install-guide-debian/environment.html">Environment</a></li>
                        <a href="/draft/install-guide-debian/keystone.html">Identity service</a></li>
                        <a href="/draft/install-guide-debian/glance.html">Image service</a></li>
                        <a href="/draft/install-guide-debian/nova.html">Compute service</a></li>
                        <a href="/draft/install-guide-debian/neutron.html">Networking service</a></li>
                        <a href="/draft/install-guide-debian/horizon.html">Dashboard</a></li>
                        <a href="/draft/install-guide-debian/cinder.html">Block Storage service</a></li>
                        <a href="/project-install-guide/shared-file-systems/draft/">Shared File Systems service</a></li>
                        <a href="/project-install-guide/object-storage/draft/">Object Storage service</a></li>
                        <a href="/project-install-guide/orchestration/draft/">Orchestration service</a></li>
                        <a href="/project-install-guide/database/draft/">Database service</a></li>
                        <a href="/project-install-guide/container-infrastructure-management/draft/">Container Infrastructure Management service</a></li>
                        <a href="/draft/install-guide-debian/launch-instance.html">Launch an instance</a></li>
                    </div>
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cogs"></i>Draft Installation Tutorial for openSUSE Leap 42.1 and SUSE Linux Enterprise Server 12 SP1</h3>
                        <a href="/draft/install-guide-obs/">Abstract</a></li>
                        <a href="/draft/install-guide-obs/common/conventions.html">Conventions</a></li>
                        <a href="/draft/install-guide-obs/overview.html">Overview</a></li>
                        <a href="/draft/install-guide-obs/environment.html">Environment</a></li>
                        <a href="/draft/install-guide-obs/keystone.html">Identity service</a></li>
                        <a href="/draft/install-guide-obs/glance.html">Image service</a></li>
                        <a href="/draft/install-guide-obs/nova.html">Compute service</a></li>
                        <a href="/draft/install-guide-obs/neutron.html">Networking service</a></li>
                        <a href="/draft/install-guide-obs/horizon.html">Dashboard</a></li>
                        <a href="/draft/install-guide-obs/cinder.html">Block Storage service</a></li>
                        <a href="/project-install-guide/shared-file-systems/draft/">Shared File Systems service</a></li>
                        <a href="/project-install-guide/object-storage/draft/">Object Storage service</a></li>
                        <a href="/project-install-guide/orchestration/draft/">Orchestration service</a></li>
                        <a href="/project-install-guide/telemetry/draft/">Telemetry service</a></li>
                        <a href="/project-install-guide/telemetry-alarming/draft/">Telemetry Alarming services</a></li>
                        <a href="/project-install-guide/database/draft/">Database service</a></li>
                        <a href="/project-install-guide/container-infrastructure-management/draft/">Container Infrastructure Management service</a></li>
                        <a href="/project-install-guide/key-manager/draft/">Key Manager service</a></li>
                        <a href="/draft/install-guide-obs/launch-instance.html">Launch an instance</a></li>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cogs"></i>Draft Installation Tutorial for Red Hat Enterprise Linux 7 and CentOS 7</h3>
                        <a href="/draft/install-guide-rdo/">Abstract</a></li>
                        <a href="/draft/install-guide-rdo/common/conventions.html">Conventions</a></li>
                        <a href="/draft/install-guide-rdo/overview.html">Overview</a></li>
                        <a href="/draft/install-guide-rdo/environment.html">Environment</a></li>
                        <a href="/draft/install-guide-rdo/keystone.html">Identity service</a></li>
                        <a href="/draft/install-guide-rdo/glance.html">Image service</a></li>
                        <a href="/draft/install-guide-rdo/nova.html">Compute service</a></li>
                        <a href="/draft/install-guide-rdo/neutron.html">Networking service</a></li>
                        <a href="/draft/install-guide-rdo/horizon.html">Dashboard</a></li>
                        <a href="/draft/install-guide-rdo/cinder.html">Block Storage service</a></li>
                        <a href="/project-install-guide/shared-file-systems/draft/">Shared File Systems service</a></li>
                        <a href="/project-install-guide/object-storage/draft/">Object Storage service</a></li>
                        <a href="/project-install-guide/orchestration/draft/">Orchestration service</a></li>
                        <a href="/project-install-guide/telemetry/draft/">Telemetry service</a></li>
                        <a href="/project-install-guide/telemetry-alarming/draft/">Telemetry Alarming services</a></li>
                        <a href="/project-install-guide/database/draft/">Database service</a></li>
                        <a href="/project-install-guide/container-infrastructure-management/draft/">Container Infrastructure Management service</a></li>
                        <a href="/project-install-guide/messaging/draft/">Messaging service</a></li>
                        <a href="/project-install-guide/key-manager/draft/">Key Manager service</a></li>
                        <a href="/draft/install-guide-rdo/launch-instance.html">Launch an instance</a></li>
                    </div>
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cogs"></i>Draft Installation Tutorial for Ubuntu 14.04 (LTS)</h3>
                        <a href="/draft/install-guide-ubuntu/">Abstract</a></li>
                        <a href="/draft/install-guide-ubuntu/common/conventions.html">Conventions</a></li>
                        <a href="/draft/install-guide-ubuntu/overview.html">Overview</a></li>
                        <a href="/draft/install-guide-ubuntu/environment.html">Environment</a></li>
                        <a href="/draft/install-guide-ubuntu/keystone.html">Identity service</a></li>
                        <a href="/draft/install-guide-ubuntu/glance.html">Image service</a></li>
                        <a href="/draft/install-guide-ubuntu/nova.html">Compute service</a></li>
                        <a href="/draft/install-guide-ubuntu/neutron.html">Networking service</a></li>
                        <a href="/draft/install-guide-ubuntu/horizon.html">Dashboard</a></li>
                        <a href="/draft/install-guide-ubuntu/cinder.html">Block Storage service</a></li>
                        <a href="/project-install-guide/shared-file-systems/draft/">Shared File Systems service</a></li>
                        <a href="/project-install-guide/object-storage/draft/">Object Storage service</a></li>
                        <a href="/project-install-guide/orchestration/draft/">Orchestration service</a></li>
                        <a href="/project-install-guide/telemetry/draft/">Telemetry service</a></li>
                        <a href="/project-install-guide/telemetry-alarming/draft/">Telemetry Alarming services</a></li>
                        <a href="/project-install-guide/database/draft/">Database service</a></li>
                        <a href="/project-install-guide/container-infrastructure-management/draft/">Container Infrastructure Management service</a></li>
                        <a href="/project-install-guide/key-manager/draft/">Key Manager service</a></li>
                        <a href="/draft/install-guide-ubuntu/launch-instance.html">Launch an instance</a></li>
                    </div>
                </div>
            </div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>Documentation treated like code, powered by the community - interested?</p>
                    <a href="http://docs.openstack.org/contributor-guide/" class="overview-btn contribute-btn">How To Contribute <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
</div>

{% endblock content %}
