{% set scriptdir = '../../common/js/' %}
{% set cssdir = '../../common/css/' %}
{% set imagedir = '../../common/images/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Draft Installation Tutorials and Guides{% endblock %}
{% block title %}
<a href="https://docs.openstack.org">Documentation</a> &gt; Draft Installation Tutorials and Guides
{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Draft Installation Tutorials and Guides</h1>
                <p>The following tutorials and guides support basic installation
                of core and optional OpenStack services on Ubuntu system.
                A minimal deployment necessary to launch a simple instance (VM)
                requires following the core content. Optional content augments a
                minimal deployment with additional services.</p>
            </div>
        </div>
    </div>
</div>
<div class="mid-docs-wrapper" id="docs-main-body">
    <div class="container">
        <div class="row docs-toc">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="docs-link-sections services-section">
                    <h3><i class="fa fa-cogs"></i>Installation Tutorials</h3>
                    <p>
                       <a class="overview-btn docs-btn" style="width:80%;text-transform:initial;" href="/draft/install-guide-ubuntu/">
                          Ubuntu
                       </a>
                    </p>
                    <p>
                       <a class="overview-btn docs-btn" style="width:80%;text-transform:initial;" href="/draft/install-guide-ubuntu/InstallGuide.pdf">
                          PDF Download
                       </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="docs-link-sections">
                    <h3><i class="fa fa-cogs"></i>By chapter</h3>
                    <p>
                    <a href="/draft/install-guide-ubuntu/">Abstract</a></p>
                    <p>
                    <a href="/draft/install-guide-ubuntu/common/conventions.html">Conventions</a></p>
                    <p>
                    <a href="/draft/install-guide-ubuntu/overview.html">Overview</a></p>
                    <p>
                    <a href="/draft/install-guide-ubuntu/environment.html">Environment (Basic)</a></p>
                    <p>
                    <a href="/draft/install-guide-ubuntu/keystone.html">Identity service (Basic)</a></p>
                    <p>
                    <a href="/draft/install-guide-ubuntu/glance.html">Image service (Basic)</a></p>
                    <p>
                    <a href="/draft/install-guide-ubuntu/nova.html">Compute service (Basic)</a></p>
                    <p>
                    <a href="/draft/install-guide-ubuntu/neutron.html">Networking service (Basic)</a></p>
                    <p>
                    <a href="/draft/install-guide-ubuntu/horizon.html">Dashboard (Optional)</a></p>
                    <p>
                    <a href="/draft/install-guide-ubuntu/cinder.html">Block Storage service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/baremetal/draft/">Bare Metal service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/container-infrastructure-management/draft/">Container Infrastructure Management service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/database/draft/">Database service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/dns/draft/">DNS service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/ec2-api/draft/">EC2
                    API compatibility layer (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/key-manager/draft/">Key Manager service (Optional) </a>
                    <p>
                    <a href="/project-install-guide/messaging/draft/">Messaging service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/object-storage/draft/">Object Storage service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/orchestration/draft/">Orchestration service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/shared-file-systems/draft/">Shared File Systems service (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/telemetry-alarming/draft/">Telemetry Alarming services (Optional)</a></p>
                    <p>
                    <a href="/project-install-guide/telemetry/draft/">Telemetry Data Collection service (Optional)</a></p>
                    <p>
                    <a href="/draft/install-guide-ubuntu/launch-instance.html">Launch an instance (Basic)</a></p>
                </div>
            </div>
        </div>
        <div class="row docs-contribute-wrapper">
            <div class="col-lg-12">
                <p>Documentation treated like code, powered by the community - interested?</p>
                <a href="/contributor-guide/" class="overview-btn contribute-btn">How To Contribute <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
