/* @override http://docs.openstack.org/common/css/homepage.css */

/* @override http://docs.openstack.org/common/css/homepage.css */

body.homepage #header h1 {
  display: none;
}

body.homepage #header {
  background: white;
  text-align: center;
}

body.homepage #header img {
  display: inline;
  margin: auto;
  float: none;
  margin-top: 20px;
}

.bookCatalog {
  -webkit-box-shadow: inset 0px 1px 2px 0px #bdd1e5;
  -moz-box-shadow: inset 0px 1px 2px 0px #bdd1e5;
  background-color: #f3f9fc;
  padding: 20px;
  width: 800px;
  margin: auto;
  border: 1px solid #b9c6c6;
}

.bookSet {
  float: left;
  width: 400px;
}

.bookSet h1{
  text-align: center;
}

.bookBox ul {
  display: block;
  margin: 0;
  padding: 0px;
}

.bookBox li {
  display: block;
  float: left;
  text-align: center;
}

.bookSet li a {
  text-decoration: none;
  color: #2b3f4c;
}

.bookSet li a span.icon {
  display: block;
  padding-top: 190px;
  background: no-repeat;
  -webkit-background-size: 80%;
  margin-bottom: -10px;
}

#compute.bookSet li.devGuide a span.icon {
  background: url(../images/compute-dev-guide.png) no-repeat;
}

#storage.bookSet li.devGuide a span.icon {
  background: url(../images/storage-dev-guide.png) no-repeat;
}

#compute.bookSet li.adminGuide a span.icon {
  background: url(../images/compute-admin.png) no-repeat;
}

#storage.bookSet li.adminGuide a span.icon {
  background: url(../images/storage-admin.png) no-repeat;
}

.searchArea label {
  display: block;
  color: #618da9;
}

.searchArea h1 {
  padding: 0px!important;
  margin: 0px!important;
}

input.gsc-input, input#query {
  padding: 10px;
  background-color: #f1f8fa;
  border: 3px solid #c5e2ea!important;
}

input#query {
  width: 100%;
}

input.gsc-search-button {
  margin-left: 10px!important;
}

div.bookBox {
  margin-right: 10px;
  padding: 8px;
  background-color: #f3f3f3;
  clear: both;
}

/* @group Rounded Buttons */

a.roundedButton {
  border: 1px solid #bfbfbf;
  padding: 2px 15px;
  color: #7c201b;
  text-decoration: none;
  font-size: 12px;
  line-height: 3em;
  background: #FFFFFF; /* old browsers */
  background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 50%, #EBEBEB 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(50%,#F3F3F3), color-stop(100%,#EBEBEB)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EBEBEB',GradientType=0 ); /* ie */
  text-shadow: #fff 0px 1px 1px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-right: 10px;
}

a.roundedButton:active, input.action:active {
  background: #ababab;
    box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-color: #ababab;
  border-top-color: #636363;
  background: -webkit-gradient(linear, left top, left bottom, from(#bebebe), to(#dddddd));
  background: -moz-linear-gradient(top,  #bebebe,  #eeeeee);  
  -webkit-transition:none;
  padding: 2px 15px;
  color: #black;
}

.bookBox img {
  float: left;
  margin-left: -20px;
  margin-right: 10px;
  width: 55px;
}

.bookBox h2 a {
  text-decoration: none;
  text-shadow: #fff 0px 1px 1px;
  color: black;
}

div.bookRow h1 {
  color: #33495d;
  font-size: 13px;
  margin-top: 0px;
  margin-left: -40px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

div.bookRow {
  margin-bottom: 30px;
  margin-left: 40px;
}

div.searchArea h1 {
  color: grey;
  font-size: 14px;
  margin-left: -40px;
}

div.searchArea table {
  width: 100%;
}

div.footer {
    border-top: 1px solid #DDDDDD;
    clear: both;
    margin: 1em 1.5em 0 242px;
    padding: 0.5em 0;
}

div.footer p {
  font-size: 11px;
}

#manuals h1 {
  font-size: 16px;
  clear: both;
  margin-top: 30px;
}

.bookBox h2 {
  font-size: 16px;
  margin-right: 20px;
  margin-bottom: 0px;
  line-height: 1.2em;
  padding-top: 15px;
}

.bookBox {
  height: 100px;
  margin-bottom: 10px;
}

#manuals p {
  margin-bottom: 0px;
}

#releaseNav ul li a {
  display: block;
  padding: 10px 20px 10px 10px;
  text-decoration: none;
  color: black;
  background: #e2ecef;
  margin-bottom: 5px;
}

#releaseNav ul li a.selected {
  background: #c4e0e9;
}

#releaseNav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  margin-top: 30px ;
}

.leftBorder {padding-left:24px;margin-left:25px;border-left:1px solid #eee;}

p.instructions {
  color: #9d9d9d;
}

.statBlock p {
  font-family: 'PT Sans', serif;
  text-align: center;
  margin-bottom: 0px;
  text-transform: uppercase;
  border-top: 1px solid #d5d5d5;
  font-size: 10px;
  color: #969696;
}

.statBlock p.number {
  font-weight: bold;
  font-size: 30px;
  border-top: none;
  margin: 0px;
  padding: 0px;
  line-height: 1.2em;
  color: #7f7f7f;
}

div.releaseSwitcher {
  border: 3px solid #d5d5d5;
  -webkit-border-radius: 8px;
  padding: 2px;
  padding-right: 13px;
  padding-left: 13px;
  margin-bottom: 15px;
  float: left;
}

.releaseSwitcher .rightArrow {
  border-left: 1px solid #d5d5d5;
  display: inline-block;
  padding-left: 8px;
  padding-right: 4px;
  margin-left: 8px;
}

#manuals hr {
  color: white;
  background: white;
  margin: none;
}

/* @end */

.dropDown {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 300px;
}

.dropDown div {  
  display: none;  
}
 
.menuHover div {
  display: block;
  z-index: 100;
  background-color: white;
  border: 1px solid #979797;
  right: 0px;
  width: 350px;
  padding-top: 10px;
  }
  
.manualTable th {
  background-color: #f6f5f6;
  font-weight: normal;
  padding-top: 8px;
  padding-bottom: 8px;
}

.manualTable td {
  border-bottom: 1px solid #e6e5e6;
  padding-top: 5px;
  padding-bottom: 5px;
}

.manualTable td:first-child a {
  color: black;
  padding: 5px;
  display: inline-block;
  background: url(../images/small-manual.png) no-repeat left center;
  padding-left: 30px;
}

#SoftwareManuals, #ApiManuals, #DeveloperDocs {
  background: url(../images/large-manual.png) no-repeat 5px center;
  padding: 8px;
  padding-left: 70px;
  height: 70px;
  margin-right: 5px;
  border: 3px solid white;
} 

#SoftwareManuals h2, #ApiManuals h2, #DeveloperDocs h2 {
  margin-top: 10px;
  margin-bottom: 2px;
}

#SoftwareManuals h2 a, #ApiManuals h2 a, #DeveloperDocs h2 a {
  color: black;
}

.Selected {
  background-color: #f5fcfe!important;
  border: 3px solid #cfe8ed!important;
}

.Selected:after {
  content: url('../images/selection-arrow.png');
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-left: -70px;
} 

.dropDown li {
  list-style: none;
  border-bottom: 1px solid #e6e5e6;
  width: 300px;
}

.dropDown li:last-child {
  border-bottom: none;
}

.dropDown li a {
  padding: 8px 10px;
  display: block;
  color: black;
}

.dropDown li a:hover {
  text-decoration: none;
  background-color: #f5fcfe;
}

#twitterFeed li {
  list-style: none;
  border-bottom: 1px solid #e6e5e6;
  margin: 0px;
  margin-bottom: 10px;
}

#twitterFeed ul {
  padding: 0px;
  margin: 0px;
}

.jta-tweet-timestamp-link {
  padding: 3px;
  margin-left: 10px;
  background-color: #f5fcfe;
  color: #6e9fac;
  white-space:nowrap;
  display: inline-block;
}

#subnav ul li {
  text-align: left;
}
