/* @override http://docs.openstack.org/common/css/homepage.css */

body.homepage #header {
  text-align: center;
}

body.homepage #header img {
  display: inline;
  margin: auto;
  float: none;
  margin-top: 20px;
}

.bookCatalog {
  -webkit-box-shadow: inset 0px 1px 2px 0px #bdd1e5;
  -moz-box-shadow: inset 0px 1px 2px 0px #bdd1e5;
  background-color: #f3f9fc;
  padding: 20px;
  border: 1px solid #b9c6c6;
}

.bookSet {
  float: left;
  width: 400px;
}

.bookSet h1{
  text-align: center;
}

.bookBox ul {
  display: block;
  margin: 0;
  padding: 0px;
}

.bookBox li {
  display: block;
  float: left;
  text-align: center;
}

.bookSet li a {
  text-decoration: none;
  color: #2b3f4c;
}

.bookSet li a span.icon {
  display: block;
  padding-top: 190px;
  background: no-repeat;
  -webkit-background-size: 80%;
  margin-bottom: -10px;
}

#compute.bookSet li.devGuide a span.icon {
  background: url(../images/compute-dev-guide.png) no-repeat;
}

#storage.bookSet li.devGuide a span.icon {
  background: url(../images/storage-dev-guide.png) no-repeat;
}

#compute.bookSet li.adminGuide a span.icon {
  background: url(../images/compute-admin.png) no-repeat;
}

#storage.bookSet li.adminGuide a span.icon {
  background: url(../images/storage-admin.png) no-repeat;
}

.bookSet li a:hover span.icon {
  display: block;
  padding-top: 190px;
  -webkit-background-size: 100%;
  -webkit-transition:background-size 0.2s ease-out;
  z-index: 1001;
  -webkit-transform: rotate(9deg);
}

.bookSet li a:hover {
  color: black;
}

.bookSet li a span.label {
  -webkit-border-radius: 20px;
  padding: 5px 15px;
}

.bookSet li a:hover span.label {
  background: #618da9;
  color: white;
}

.bookSet h1 {
  color: black;
  opacity: 0.5;
  margin-left: -80px;
}

.bookRow {
  margin: auto;
  width: 800px;
}


.searchArea label {
  display: block;
  color: #618da9;
}

.searchArea {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width:800px;
  margin: auto;
  margin-top: 20px;
}

input.gsc-input, input#query {
  padding: 10px;
  background-color: #f1f8fa;
  border: 1px solid #b9c6c6;
}

input#query {
  width: 100%;
}

input.gsc-search-button {
  margin-left: 10px!important;
}

div.bookBox {
  float: left;
  width: 330px;
  margin-right: 40px;
  padding: 8px;
  background-color: #d1e9f3;
  -webkit-border-radius: 6px;
  margin-left: 10px;
}

.bookBox img {
  float: left;
  margin-left: -20px;
  margin-right: 10px;
  width: 90px;
}


.bookBox h2 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1.2em;
}

.bookBox h2 a {
  text-decoration: none;
  text-shadow: #fff 0px 1px 1px;
  color: black;
}

div.bookRow h1 {
  color: #33495d;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

div.bookRow {
  margin-bottom: 30px;
  margin-left: 10px;
}

div.searchArea h1 {
  color: grey;
  font-size: 14px;
  margin-left: -40px;
}

div.searchArea table {
  width: 100%;
}

div.footer {
    border-top: 1px solid #DDDDDD;
    clear: both;
    margin: 1em 1.5em 0 242px;
    padding: 0.5em 0;
}

div.footer p {
  font-size: 11px;
}

a.roundedButton {
  margin-left: 0px;
  font-size: 12px;
}

.versionNav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.versionNav li {
  padding: 10px;
  margin-bottom: 5px;
}

.versionNav li.active {
  background-color: #d1e9f3;
}

.versionNav h3 {
  color: #33495d;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.bookIcons {
  border-left: 1px solid #aad0e0;
  margin-left: -1px;
}
