/* @override http://docs.openstack.org/common/css/main.css */

#subnav ul li{
    text-align:left;
}

ul{
    list-style-type:none;
}

#subnav{
    padding-top:0px;
}

a,
a:visited{
    color:firebrick;
    text-decoration:none;
}

.last-right{
    margin-right:0px;
    margin-top:0px;
}

.last-right-more{
    margin-right:0px;
    margin-top:22px;
}

.last-right-most{
    margin-right:0px;
    margin-top:37px;
}
.last-right ul, ol{
    margin:0px 1.5em 1.5em 0px;
    padding-left:0;
}

ul.subsectionNav-link li a {
    display: block;
    padding: 10px 20px 10px 42px;
    text-decoration: none;
    color: #000;
    background: none no-repeat scroll 5px center #D5EFD4;
    margin-right: 40px;
}
ul.subsectionNav li a {
    display: block;
    padding: 10px 20px 10px 42px;
    text-decoration: none;
    color: #000;
    background: none no-repeat scroll 5px center lightgray;
    margin-right: 40px;
}