{% set scriptdir = '../common/js/' %}
{% set cssdir = '../common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Draft{% endblock %}
{% block title %}{% endblock %}
{% block header %}
{% endblock header %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Welcome to OpenStack Documentation</h1>
                <p>
                    <strong>What is OpenStack?</strong> OpenStack is a cloud operating system that controls large pools of compute, storage, and networking resources throughout a datacenter, all managed through a dashboard that gives administrators control while empowering their users to provision resources through a web interface.
                </p>
                <h2>Warning: Major rework in progress</h2>
            <p><strong>Note that on July 3rd of 2017, all projects have been
                moved to a new location on this server. Each project
                is required to merge any single change in order to be
                published. Keep in mind that bookmarks saved before
                the changes may no longer function.

                See <a href="http://specs.openstack.org/openstack/docs-specs/specs/pike/os-manuals-migration.html">the specification</a>
                       for more information.</strong>
              </p>
                <hr>
                <h3>What are the next steps?</h3>
                <a href="#docs-main-body" class="overview-btn docs-btn">View The Docs <i class="fa fa-arrow-circle-o-down"></i></a>
                <a href="https://www.openstack.org/software/start/" class="overview-btn docs-btn">Get OpenStack <i class="fa fa-arrow-circle-o-right"></i></a>
                <a href="https://www.openstack.org/marketplace/training" class="overview-btn docs-btn">Get Training <i class="fa fa-arrow-circle-o-right"></i></a>
                {% include 'templates/swiftype_search.tmpl' %}
       </div>
        <div class="col-lg-4 col-md-4 col-sm-4 superuser-wrapper">
            <div id="superuser-img"></div>
        </div>
    </div>
</div>
</div>
<div class="mid-docs-wrapper" id="docs-main-body">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <h2>Documentation preview for Pike (August 2017)</h2>
                <p>This is documentation in progress for the next release. You can use the menu to select a prior release.</p>
            </div>
            {% include 'templates/dropdown_releases_and_languages.tmpl' %}
        </div>
    </div>
</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3 id="install-guides"><i class="fa fa-cogs"></i>Draft Installation Tutorials and Guides</h3>
                        <a href="/project-install-guide/draft/">Installation Tutorials and Guides</a>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="deploy-guides"><i class="fa fa-cogs"></i>Draft Deployment Guides</h3>
                        <a href="/project-deploy-guide/draft/">Deployment Guides</a>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="configuration-guides"><i class="fa fa-wrench"></i>Draft Configuration Guides</h3>
                        <a href="/draft/config-reference/">Configuration Reference</a>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="ops-and-admin-guides"><i class="fa fa-users"></i>Draft Operations and Administration Guides</h3>
                        <a href="/draft/networking-guide/">Networking Guide</a><a href="/draft/networking-guide/NetworkingGuide.pdf">[PDF]</a>
                        <a href="/draft/ha-guide-draft/">Draft High Availability Guide</a>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="api-guides"><i class="fa fa-book"></i>Draft API Guides</h3>
                        <a href="https://developer.openstack.org/draft/firstapp-dotnet/">Writing Your First Application: .Net</a>
                        <a href="https://developer.openstack.org/draft/firstapp-fog/">Writing Your First Application: Fog</a>
                        <a href="https://developer.openstack.org/draft/firstapp-pkgcloud/">Writing Your First Application: Pkgcloud</a>
                        <a href="https://developer.openstack.org/draft/firstapp-shade/">Writing Your First Application: Shade</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-pencil"></i>Draft Translated Guides</h3>
                        To help with translation, join the
                        <a href="/developer/i18n/">OpenStack I18n team</a>
                        <h4 id="zh_CN">Chinese (zh_CN)</h4>
                        <a href="/draft/zh_CN/install-guide-obs/">Installation Guide for openSUSE and SUSE Linux Enterprise</a>
                        <a href="/draft/zh_CN/install-guide-rdo/">Installation Guide for Red Hat Enterprise Linux and CentOS</a>
                        <a href="/draft/zh_CN/install-guide-ubuntu/">Installation Guide for Ubuntu</a>
                        <a href="/draft/zh_CN/install-guide-debian/">Installation Guide for Debian</a>
                        <a href="/newton/zh_CN/install-guide-obs/">(Newton) Installation Guide for openSUSE and SUSE Linux Enterprise</a>
                        <a href="/newton/zh_CN/install-guide-rdo/">(Newton) Installation Guide for Red Hat Enterprise Linux and CentOS</a>
                        <a href="/newton/zh_CN/install-guide-ubuntu/">(Newton) Installation Guide for Ubuntu</a>
                        <a href="/newton/zh_CN/install-guide-debian/">(Newton) Installation Guide for Debian</a>
                        <a href="/zh_CN/user-guide/">End User Guide</a>
                        <h4 id="cs">Czech (cs)</h4>
                        <a href="/draft/cs/install-guide-obs/">Installation Guide for openSUSE and SUSE Linux Enterprise</a>
                        <a href="/draft/cs/install-guide-rdo/">Installation Guide for Red Hat Enterprise Linux and CentOS</a>
                        <a href="/draft/cs/install-guide-ubuntu/">Installation Guide for Ubuntu</a>
                        <a href="/draft/cs/install-guide-debian/">Installation Guide for Debian</a>
                        <h4 id="fr">French (fr)</h4>
                        <a href="/draft/fr/install-guide-obs/">Installation Guide for openSUSE and SUSE Linux Enterprise</a>
                        <a href="/draft/fr/install-guide-rdo/">Installation Guide for Red Hat Enterprise Linux and CentOS</a>
                        <a href="/draft/fr/install-guide-ubuntu/">Installation Guide for Ubuntu</a>
                        <a href="/draft/fr/install-guide-debian/">Installation Guide for Debian</a>
                        <h4 id="de">German (de)</h4>
                        <a href="/draft/de/install-guide-obs/">Installation Guide for openSUSE and SUSE Linux Enterprise</a>
                        <a href="/draft/de/install-guide-rdo/">Installation Guide for Red Hat Enterprise Linux and CentOS</a>
                        <a href="/draft/de/install-guide-ubuntu/">Installation Guide for Ubuntu</a>
                        <h4 id="id">Indonesian (id)</h4>
                        <a href="/id/image-guide/">Virtual Machine Image Guide</a>
                        <a href="/draft/id/install-guide-obs/">Installation Guide for openSUSE and SUSE Linux Enterprise</a>
                        <a href="/draft/id/install-guide-rdo/">Installation Guide for Red Hat Enterprise Linux and CentOS</a>
                        <a href="/draft/id/install-guide-ubuntu/">Installation Guide for Ubuntu</a>
                        <a href="/draft/id/install-guide-debian/">Installation Guide for Debian</a>
                        <a href="/newton/id/install-guide-obs/">(Newton) Installation Guide for openSUSE and SUSE Linux Enterprise</a>
                        <a href="/draft/id/networking-guide/">Networking Guide</a>
                        <a href="/newton/id/networking-guide/">(Newton) Networking Guide</a>
                        <h4 id="ja">Japanese (ja)</h4>
                        <a href="/draft/ja/install-guide-obs/">Installation Guide for openSUSE and SUSE Linux Enterprise Server 12 版</a>
                        <a href="/draft/ja/install-guide-rdo/">Installation Guide for Red Hat Enterprise Linux and CentOS</a>
                        <a href="/draft/ja/install-guide-ubuntu/">Installation Guide for Ubuntu</a>
                        <a href="/draft/ja/install-guide-debian/">Installation Guide for Debian</a>
                        <a href="/draft/ja/networking-guide/">Networking Guide (master draft)</a>
                        <h4 id="ko_KR">Korean (ko_KR)</h4>
                        <a href="/draft/ko_KR/install-guide-obs/">Installation Guide for openSUSE and SUSE Linux Enterprise</a>
                        <a href="/draft/ko_KR/install-guide-rdo/">Installation Guide for Red Hat Enterprise Linux and CentOS</a>
                        <a href="/draft/ko_KR/install-guide-ubuntu/">Installation Guide for Ubuntu</a>
                        <a href="/draft/ko_KR/install-guide-debian/">Installation Guide for Debian</a>
                        <h4 id="ru">Russian (ru)</h4>
                        <a href="/draft/ru/install-guide-obs/">Installation Guide for openSUSE and SUSE Linux Enterprise</a>
                        <a href="/draft/ru/install-guide-rdo/">Installation Guide for Red Hat Enterprise Linux and CentOS</a>
                        <a href="/draft/ru/install-guide-ubuntu/">Installation Guide for Ubuntu</a>
                        <a href="/draft/ru/install-guide-debian/">Installation Guide for Debian</a>
                        <a href="/newton/ru/install-guide-obs/">(Newton) Installation Guide for openSUSE and SUSE Linux Enterprise</a>
                        <a href="/newton/ru/install-guide-rdo/">(Newton) Installation Guide for Red Hat Enterprise Linux and CentOS</a>
                        <a href="/newton/ru/install-guide-ubuntu/">(Newton) Installation Guide for Ubuntu</a>
                        <a href="/newton/ru/install-guide-debian/">(Newton) Installation Guide for Debian</a>
                        <h4 id="ru">Turkish (tr_TR)</h4>
                        <a href="/draft/tr_TR/install-guide-obs/">Installation Guide for openSUSE and SUSE Linux Enterprise</a>
                        <a href="/draft/tr_TR/install-guide-rdo/">Installation Guide for Red Hat Enterprise Linux and CentOS</a>
                        <a href="/draft/tr_TR/install-guide-ubuntu/">Installation Guide for Ubuntu</a>
                    </div>
                </div>
            </div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>Documentation treated like code, powered by the community - interested?</p>
                    <a href="/contributor-guide/index.html" class="overview-btn contribute-btn">How To Contribute <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
</div>
    <!-- End Page Content -->
{% endblock content %}
