{% set scriptdir = '../common/js/' %}
{% set cssdir = '../common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Draft{% endblock %}
{% block title %}{% endblock %}
{% block header %}
{% endblock header %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Welcome to OpenStack Documentation</h1>
                <p>
                    <strong>What is OpenStack?</strong> OpenStack is a cloud operating system that controls large pools of compute, storage, and networking resources throughout a datacenter, all managed through a dashboard that gives administrators control while empowering their users to provision resources through a web interface.
                </p>
                <hr>
                <h3>What are the next steps?</h3>
                <a href="#docs-main-body" class="overview-btn docs-btn">View The Docs <i class="fa fa-arrow-circle-o-down"></i></a>
                <a href="http://www.openstack.org/software/start/" class="overview-btn docs-btn">Get OpenStack <i class="fa fa-arrow-circle-o-right"></i></a>
                <a href="http://www.openstack.org/marketplace/training" class="overview-btn docs-btn">Get Training <i class="fa fa-arrow-circle-o-right"></i></a>
                <form class="docs-main-search-form">
      <script type="text/javascript">
        (function() {
        var cx = '000108871792296872333:noj9nikm74i';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' :
'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
       </script>
       <gcse:search gname="standard" as_sitesearch="docs.openstack.org">
       </gcse:search>
       </form>
       </div>
        <div class="col-lg-4 col-md-4 col-sm-4 superuser-wrapper">
            <div id="superuser-img"></div>
        </div>
    </div>
</div>
</div>
<div class="mid-docs-wrapper" id="docs-main-body">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <h2>Documentation preview for Kilo (April 2015)</h2>
                <p>This is documentation in progress for the next release. You can use the menu to select a prior release.</p>
            </div>
            {% include 'templates/dropdown_releases_and_languages.tmpl' %}
        </div>
    </div>
</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cogs"></i>Draft Install Guides</h3>
                        <a href="/draft/install-guide/install/zypper/content/">Installation Guide for openSUSE 13.2 and SUSE Linux Enterprise Server 12</a>
                        <a href="/draft/install-guide/install/yum/content/">Installation Guide for Red Hat Enterprise Linux 7, CentOS 7, and Fedora 21</a>
                        <a href="/draft/install-guide/install/apt/content/">Installation Guide for Ubuntu 14.04 (LTS)</a>
                    </div>
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-wrench"></i>Draft Configuration Guides</h3>
                        <a href="/draft/config-reference/content/">Configuration Reference</a>
                    </div>
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cloud"></i> User Guides</h3>
                        <a href="http://developer.openstack.org/draft/openstack-firstapp-libcloud/">Writing
                        your First OpenStack Application (using
                        Libcloud)</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-pencil"></i> Draft
                        Translated Guides</h3>
                        <h4>Catalan (ca)</h4>
                        <a href="/ca/api/quick-start/content/index.html">API Quick Start</a>
                        <h4>Chinese (zh_CN)</h4>
                        <a href="/ca/api/quick-start/content/index.html">API Quick Start</a>
                        <a href="/draft/zh_CN/install-guide/install/zypper/content/">Installation Guide for openSUSE 13.2 and SUSE Linux Enterprise Server 12</a>
                        <a href="/draft/zh_CN/install-guide/install/yum/content/">Installation Guide for Red Hat Enterprise Linux 7, CentOS 7, and Fedora 21</a>
                        <a href="/draft/zh_CN/install-guide/install/apt/content/">Installation Guide for Ubuntu 14.04 (LTS)</a>
                        <h4>French (fr)</h4>
                        <a href="/fr/user-guide/content/">User Guide</a>
                        <a href="/draft/fr/image-guide/content/">Virtual Maching Image Guide</a>
                        <h4>Japanese (ja)</h4>
                        <a href="/ja/openstack-ops/content/">Operations Guide</a>
                        <h4>Spanish (es)</h4>
                        <a href="/api/quick-start/content/index.html">API Quick Start</a>
                        <h4>Translation</h4>
                        To help with translation, join the
                        <a href="https://wiki.openstack.org/wiki/I18nTeam">
                          OpenStack I18N team</a>
                    </div>
                </div>
            </div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>Documentation treated like code, powered by the community - interested?</p>
                    <a href="https://wiki.openstack.org/wiki/Documentation/HowTo" class="overview-btn contribute-btn">How To Contribute <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
</div>
    <!-- End Page Content -->
{% endblock content %}
