{% extends "templates/indexbase.tmpl" %}
{% block pagetitle %}Newton{% endblock %}
{% block title %}{% endblock %}
{% block header %}
{% endblock header %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12"></div>
  </div>
  <div class="row docs-toc">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="docs-link-sections">
        <h3 id="release-notes"><i class="fa fa-refresh"></i>Release Notes</h3>
        <p>New features, upgrade and deprecation notes, known issues, and bug fixes</p>
        <a href="https://releases.openstack.org/newton/index.html">OpenStack Projects Release Notes</a>
        <a href="/releasenotes/openstack-manuals/newton.html">OpenStack Documentation Release Notes</a>
      </div>
      <div class="docs-link-sections">
        <h3 id="install-guides"><i class="fa fa-cogs"></i>Installation Guides</h3>
        <p>Getting started with the most commonly used OpenStack services</p>
        <a href="/project-install-guide/newton/">Installation Guides</a>
      </div>
      <div class="docs-link-sections">
        <h3 id="project-deploy-guide"><i class="fa fa-cogs"></i>Deployment Guides</h3>
        <p>Choose how to deploy OpenStack and get started with the most commonly used OpenStack services</p>
        <a href="/project-deploy-guide/newton/">Deployment Guides</a>
      </div>
      <div class="docs-link-sections">
        {% include 'templates/ops_and_admin_guides.tmpl' %}
        <a href="/newton/networking-guide/">Networking Guide</a>
        <p>Deploy and manage OpenStack Networking (neutron)</p>
      </div>
      <div class="docs-link-sections">
        <h3 id="configuration-guides"><i class="fa fa-wrench"></i>Configuration Guides</h3>
        <a href="/newton/config-reference/">Configuration Reference</a>
        <p>Installation and configuration options for OpenStack</p>
      </div>
      {% include 'templates/api_guides.tmpl' %}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      {% include 'templates/user_guides.tmpl' %}
      <div class="docs-link-sections">
        <h3 id="services-libraries"><i class="fa fa-leaf"></i>Project-specific Guides</h3>
        <a href="projects.html">Services and Libraries</a>
        <p>Documentation for OpenStack services and libraries</p>
        <a href="language-bindings.html">Language Bindings and Python Clients</a>
        <p>Documentation for the OpenStack Python bindings and clients</p>
      </div>
      {% include 'templates/contributor_guides.tmpl' %}
     </div>
  </div>
</div>
{% endblock content %}
