tr th .added { color: #E6E6FA; } 
tr th .changed {color: #99ff99; }
div.added tr, div.added    { background-color: #E6E6FA; }
div.deleted tr, div.deleted  { text-decoration: line-through;
               background-color: #FF7F7F; }
div.changed tr, div.changed  { background-color: #99ff99; }
div.off      {  }

span.added   { background-color: #E6E6FA; }
span.deleted { text-decoration: line-through;
               background-color: #FF7F7F; }
span.changed { background-color: #99ff99; }
span.off     {  }


body { font: 12px Verdana, Geneva, sans-serif; }
p, ul, ol, li { font: 10pt Verdana, Geneva, sans-serif; }
h1 { font: 15pt Arial, Helvetica, geneva;
     color: black!important!;
}
h2 { font: normal 12pt Arial, Helvetica, geneva;
	color: black!important;
}

#header {
    position: fixed;
    width: 100%;
    height: 97px;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    border-bottom: 1px solid #bbc4c5;
    z-index: 2000;
    background: #282828 url("../images/main_bg_fade.png") top left no-repeat;
}

#header h1 {
    color: #fff;
    margin-left: 310px;
}

#header h1, p.breadcrumbs {
    margin-top: 30px;
    margin-left: 310px;
}

#header img {
    float: left;
    margin-left: 20px;
    margin-top: 22px;
}

#header p.breadcrumbs a {
    color: #bbb;
}

.ie #leftnavigation {
    top: 96px;
}

.chrome #leftnavigation {
    top: 92px;
}

#leftnavigation {
    overflow: auto;
    position: fixed;
    height: auto;
    top: 90px;
    bottom: 0;
    left: 0;
    width: 280px;
    z-index: 1500;
    border-right:1px solid #bbc4c5;
    padding: 0px;
    background-color: #f0f0f0!important;
}

#treeDiv {
    overflow: auto;
    position: fixed;
    height: auto;
    top: 130px;
    bottom: 0;
    left: 0;
    width: 243px;
    z-index: 1500;
    border-right:2px solid #CCCCCC;
}

#searchDiv {
    overflow: auto;
    position: fixed;
    height: auto;
    top: 130px;
    bottom: 0;
    left: 0;
    width: 243px;
    z-index: 1500;
    border-right:2px solid #CCCCCC;
}
#content {
    position: relative;
    top: 90px; /* left: 240px;*/
    right: auto; /*  bottom: 20px;  */
    margin: 0px 0px 0px 280px;
    width: auto;
    height: inherit;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #000000;
    /*border-left: 2px solid #cccccc; overflow :scroll;*/
    z-index: 1000;
    min-width:800px;
}

#navheader {
    position: fixed;
    background: #fff;
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
    right: 0px;
    top: 37px;
}

#content h1, #content h2 { color: black; }
.navfooter { bottom: 2%; }
.highlight { background-color: #c5d3c3; }
.highlightButton{ font-size: 0; }

#content pre.literallayout, #content pre.programlisting 
{
    -x-system-font: none;
    background-color: silver;
    border-bottom-color: #DEDEDE !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-left-color-ltr-source: physical !important;
    border-left-color-rtl-source: physical !important;
    border-left-color-value: #DEDEDE !important;
    border-left-style-ltr-source: physical !important;
    border-left-style-rtl-source: physical !important;
    border-left-style-value: solid !important;
    border-left-width-ltr-source: physical !important;
    border-left-width-rtl-source: physical !important;
    border-left-width-value: 1px !important;
    border-right-color-ltr-source: physical !important;
    border-right-color-rtl-source: physical !important;
    border-right-color-value: #DEDEDE !important;
    border-right-style-ltr-source: physical !important;
    border-right-style-rtl-source: physical !important;
    border-right-style-value: solid !important;
    border-right-width-ltr-source: physical !important;
    border-right-width-rtl-source: physical !important;
    border-right-width-value: 1px !important;
    border-top-color: #DEDEDE !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    color: #23302D;
    display: block;
    font-family: Monaco,'Courier New','DejaVu Sans Mono','Bitstream Vera Sans Mono',monospace;
    font-size: 12px !important;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 1em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 1em !important;
    overflow-x: scroll;
    padding-bottom: 0.5em !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    padding-top: 0.5em !important;
    width: 100%;
}

/*  Show Hide TOC tree */
.pointLeft {
    cursor: pointer;
    padding-right: 20px;
    display: block;
}
.pointRight {
    cursor: pointer;
    padding-right: 20px;
    display: block;
}

/* Search results Styling */
.searchExpression {
    color: #0050A0;
    background-color: #EBEFF8;
    font-size: 12pt;
}
.searchresult li a {
    text-decoration: none;
    color: #0050A0;
}
.searchresult li {
    color: #0050A0;
}
.shortdesclink {
    color: gray;
    font-size: 9pt;
}
.searchText {
    border: #BFCEE9 solid 1pt;
    width: 11em
}
.searchButton {
	margin-left: 3px;
    background: #EBEFF8;
    color: #0050A0;
    border: #BFCEE9 solid 1pt;
    font-weight: bold;
    font-size: 10pt
}

.title, div.toc>p{
	font-weight: bold;
	}
	
p.breadcrumbs {
        display: inline;
	margin-bottom: 0px;
	margin-top: 33px;
}

p.breadcrumbs a {
	padding-right: 12px;
	margin-right: 5px;
	text-decoration: none;
	color: #575757;
	text-transform: uppercase;
	font-size: 10px;
}

p.breadcrumbs a:first-child {
    background: url(../images/breadcrumb-arrow-white.png) no-repeat right center;
}

p.breadcrumbs a:hover {
	text-decoration: underline;
}

#header h1 {
	margin-top: 2px;
}

table.navLinks {
	margin-right: 20px;
}

table.navLinks td a {
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-size: 11px;
}

a.navLinkPrevious {
	padding-left: 12px;
	background: url(../images/previous-arrow.png) no-repeat left center;
}

a.navLinkNext {
	padding-right: 12px;
	background: url(../images/next-arrow.png) no-repeat right center;
}

a#showHideButton {
	padding-left: 20px;
	background: url(../images/sidebar.png) no-repeat left center;
}

	
.filetree li span a { color: #777; }

#treediv { -webkit-box-shadow: #CCC 0px 1px 2px 0px inset; }

.legal, .legal *{
 color: #555;
 text-align: center;
 padding-bottom: 10px;
}

.internal
	{
	color : #0000CC;
	}

.writeronly
	{
	color : red;
	}

.remark, .remark .added, .remark .changed, .remark .deleted{
	background: yellow;
	} 

tr th, tr th .internal, tr th .added, tr th .changed
	{
	background: #00589E;
	color: white;
	font-weight: bold;
	text-align: left;
	}

.statustext{
    position:fixed;
    top:105px;
    width: 0%;
    height: 0%;
    opacity: .3;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    white-space: nowrap;
    color: red;
    font-weight: bold;
    font-size: 2em;
    margin-top: 30px;
    }

#toolbar {
	width: 100%;
	height: 33px;
	position: fixed;
	top: 93px;
	z-index: 99;
	left: 280px;
	color: #333;
	line-height: 28px;
	padding-left: 10px;
}

#toolbar-left {
	position: relative;
	left: 0px;
}
 
body p.breadcrumbs {
	margin: 0px;
	padding: 0px;
	line-height: 28px;
}

body #content {
	position: static;
	margin-top: 126px;
	top: 0px;
}

#header h1 {
    position: fixed;
    top: 35px;
    left: -15px;
    color: white!important;
}

body.sidebar #toolbar{
   left: 0px;
}

body.sidebar #toolbar-left{
   left: 0px;
}

div#toolbar-left img {
    vertical-align: text-top;
}


div.note *, div.caution *, div.important *, div.tip *, div.warning *, div.calloutlist * {
    background: inherit !important;
    color: inherit !important;
    border: inherit  !important;    
}

#content table thead, #content table th{
    background: gray;
    color: white;
    font-weight: bold;
}

#content table caption{
    font-weight: bold;
}

#content table td, #content table {
	border: 1px solid black;
}

#content table td, #content table th {
	padding: 5px;
}

#content table {
	margin-bottom: 20px;

}

*[align = 'center']{
    text-align: center;
}

/* tildehash stuff */

form td, form table{
    border: inherit !important;
}

#cmtfont {
   font-size: 18px;
   padding: 4px 0px 0px 3px;
   display: inline-block;
}

#cmtdiv {
   padding: 2px 4px 4px 4px;
   margin: 2px 0px 0px 0px;
   border: 2px solid #707070;
   background-color: #F5F5F9;
   -moz-border-radius: 8px 8px 8px 8px;
   -webkit-border-radius: 8px 8px 8px 8px;
   border-radius: 8px 8px 8px 8px;
   text-align: left;
}

#cmtnumber {
   font-size: 18px;
   padding: 2px 0px 0px 4px;
   font-family: helvetica;
}

#cmtdate {
   float: right;
   position: relative;
   font-style: italic;
   top: 6px;
}

#cmtopts {
   padding: 3px;
   background-color: #E4E4E4;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
}