# Redirecting End-of-Life (EOL) versions, see https://wiki.openstack.org/wiki/Releases:
redirectmatch 301 /bexar/.*$ /index.html
redirectmatch 301 /cactus/.*$ /index.html
redirectmatch 301 /diablo/.*$ /index.html
redirectmatch 301 /essex/.*$ /index.html
redirectmatch 301 /folsom/.*$ /index.html
redirectmatch 301 /grizzly/.*$ /index.html
redirectmatch 301 /havana/.*$ /index.html

# Redirect for the original version of compute
redirect 301 /openstack-compute/ /

# Redirect for the original version of storage
redirect 301 /openstack-object-storage/ /

# Redirect for the 1.1 version of the Compute API going to v2
redirect 301 /api/openstack-compute/1.1/ /api/openstack-compute/2/

# Redirect image metadata and format reference
redirect 301 /trunk/openstack-compute/admin/content/adding-images.html /cli-reference/content/chapter_cli-glance-property.html

# Redirect config reference precisely
redirect 301 /trunk/openstack-compute/admin/content/compute-options-reference.html /mitaka/config-reference/compute/nova-conf.html

redirect 301 /trunk/openstack-compute/starter/ /trunk/

# Redirecting incubation quantum
redirect 301 /incubation/openstack-network/admin/content/ /trunk/openstack-network/admin/content
redirect 301 /incubation/openstack-network/developer/quantum-api-1.0/content/ /api/openstack-network/1.0/content/

# Redirecting old install guide to apt (could be yum, analytics show more seek apt)
redirect 301 /trunk/openstack-compute/install/content /trunk/openstack-compute/install/yum/content

# Redirecting trunk basic install to install guide
redirect 301 /trunk/basic-install/apt/content /mitaka/install-guide-ubuntu/
redirect 301 /trunk/basic-install/yum/content /mitaka/install-guide-rdo/

# Redirecting trunk admin guides to admin-guide
redirect 301 /trunk/openstack-block-storage/admin/content/ /admin-guide/
redirect 301 /trunk/openstack-compute/admin/content/ /admin-guide/
redirect 301 /trunk/openstack-object-storage/admin/content/ /admin-guide/

# Redirecting Image Guide to new location
redirect 301 /trunk/openstack-image/content/ /image-guide/

# Redirecting HA Guide to new location
redirect 301 /trunk/openstack-ha/content/ /ha-guide
redirectmatch 301 /high-availability-guide/.*$ /ha-guide/index.html

# Redirecting security guide to new location
redirectmatch 301 /trunk/openstack-security/content/.*$ /security-guide/index.html
redirectmatch 301 /trunk/security-guide/content/.*$ /security-guide/index.html
redirectmatch 301 /security-guide/content/.*$ /security-guide/index.html

# Redirecting API Programming with Compute API to API Quick Start
redirectmatch 301 /api/openstack-compute/programmer/content/.*$ http://developer.openstack.org/api-guide/quick-start/

# Redirect docs.openstack.org index.html subpage pointers to main page
redirect 301 /install/ /
redirect 301 /basic-install/ /
redirect 301 /run/ /
redirect 301 /api/index.html /
redirect 301 /developer/index.html /developer/openstack-projects.html
redirect 301 /cli/ /
redirect 301 /incubation/ /

# Redirect old identity/api to api site
redirectmatch /identity/api/.*$ http://developer.openstack.org/

# Redirect old Networking Admin Guide to Configuration Reference
redirectmatch /trunk/openstack-network/admin/content/.*$ /admin-guide/index.html
redirectmatch /network-admin/admin/content/.*$ /admin-guide/index.html

# Redirect O'Reilly Operations Guide PDF to trunk version
redirect 301 /trunk/openstack-ops/oreilly-openstack-ops-guide.pdf /openstack-ops/openstack-ops-manual.pdf

# Redirect Operations Guide to /openstack-ops
redirectmatch 301 /trunk/openstack-ops/.*$ /ops-guide/

# A doc generation bug resulted in Google indexing links containing "//", which cause
# problems with linked content (images/css/etc).  This rule generates a 301 redirect
# for these links.
#
# details: https://bugs.launchpad.net/openstack-manuals/+bug/1288513
redirectmatch 301 (.*)//(.*) $1/$2

# Redirect links to Architecture Design Guide epub from arc to arch
redirect 301 /arc/OpenStackArchitectureDesignGuide.epub /arch/OpenStackArchitectureDesignGuide.epub

# Redirect renamed ironic developer doc directories
redirect 301 /developer/ironic/install/ironic-install.html /developer/ironic/deploy/install-guide.html
redirect 301 /developer/ironic/dev/api-spec-v1.html /developer/ironic/webapi/v1.html

# Redirect API docs that have been put in openstack-attic
redirectmatch 301 /api/openstack-block-storage/1.0/content/.*$ http://developer.openstack.org/api-ref-blockstorage-v1.html
redirectmatch 301 /api/openstack-block-storage/2.0/content/.*$ http://developer.openstack.org/api-ref-blockstorage-v2.html
redirectmatch 301 /api/openstack-compute/2/content/.*$ http://developer.openstack.org/api-ref-compute-v2.html
redirectmatch 301 /api/openstack-databases/content/.*$ http://developer.openstack.org/api-ref-databases-v1.html
redirectmatch 301 /api/openstack-identity-service/2.0/content/.*$ http://developer.openstack.org/api-ref-identity-v2.html
redirectmatch 301 /api/openstack-identity-service/3/content/.*$ http://developer.openstack.org/api-ref-identity-v3.html
redirectmatch 301 /api/openstack-image-service/1.0/content/.*$ http://developer.openstack.org/api-ref-image-v1.html
redirectmatch 301 /api/openstack-image-service/1.1/content/.*$ http://developer.openstack.org/api-ref-image-v1.html
redirectmatch 301 /api/openstack-image-service/2.0/content/.*$ http://developer.openstack.org/api-ref-image-v2.html
redirectmatch 301 /api/openstack-network/2.0/content/.*$ http://developer.openstack.org/api-ref-networking-v2.html
redirectmatch 301 /api/openstack-object-storage/1.0/content/.*$ http://developer.openstack.org/api-ref-objectstorage-v1.html
redirectmatch 301 /api/openstack-objectstorage/1.0/content/.*$ http://developer.openstack.org/api-ref-objectstorage-v1.html
redirect 301 /api/openstack-image-service/2.0/content/appendix-b-http-patch-media-types.html http://specs.openstack.org/openstack/glance-specs/specs/api/v2/http-patch-image-api-v2.html

# Redirect /trunk/index.html to /index.html
redirect 301 /trunk/index.html /index.html

# Redirect trunk/config-reference to mitaka/config-reference
redirectmatch 301 /trunk/config-reference/content/(.*) /mitaka/config-reference/index.html

# Redirect trove install guide
redirectmatch 301 "^/juno/install-guide/install/.*/ch_trove.html$" /
redirectmatch 301 "^/juno/install-guide/install/.*/trove.*$" /
redirectmatch 301 "^/kilo/install-guide/install/.*/ch_trove.html$" /
redirectmatch 301 "^/kilo/install-guide/install/.*/trove.*$" /

# Redirect sahara install guide
redirectmatch 301 "^/juno/install-guide/install/.*/ch_sahara.html$" /
redirectmatch 301 "^/juno/install-guide/install/.*/sahara.*$" /
redirectmatch 301 "^/kilo/install-guide/install/.*/ch_sahara.html$" /
redirectmatch 301 "^/kilo/install-guide/install/.*/sahara.*$" /

# Redirect old networking content to root for now
redirectmatch 301 /openstack-network/.*$ /index.html

# Redirect renamed common files
redirectmatch 301 ^/([a-z-]+)/common/app_support.html /$1/common/app-support.html
redirectmatch 301 ^/([a-z-]+)/common/cli_discover_version_number_for_a_client.html /$1/common/cli-discover-version-number-for-a-client.html
redirectmatch 301 ^/([a-z-]+)/common/cli_install_openstack_command_line_clients.html /$1/common/cli-install-openstack-command-line-clients.html
redirectmatch 301 ^/([a-z-]+)/common/cli_manage_images.html /$1/common/cli-manage-images.html
redirectmatch 301 ^/([a-z-]+)/common/cli_manage_volumes.html /$1/common/cli-manage-volumes.html
redirectmatch 301 ^/([a-z-]+)/common/cli_overview.html /$1/common/cli-overview.html
redirectmatch 301 ^/([a-z-]+)/common/cli_set_environment_variables_using_openstack_rc.html /$1/common/cli-set-environment-variables-using-openstack-rc.html
redirectmatch 301 ^/([a-z-]+)/common/dashboard_customizing.html /$1/common/dashboard-customizing.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_block_storage.html /$1/common/get-started-block-storage.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_compute.html /$1/common/get-started-compute.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_conceptual_architecture.html /$1/common/get-started-conceptual-architecture.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_dashboard.html /$1/common/get-started-dashboard.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_data_processing.html /$1/common/get-started-data-processing.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_database_service.html /$1/common/get-started-database-service.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_feedback.html /$1/common/get-started-feedback.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_identity.html /$1/common/get-started-identity.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_image_service.html /$1/common/get-started-image-service.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_logical_architecture.html /$1/common/get-started-logical-architecture.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_networking.html /$1/common/get-started-networking.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_object_storage.html /$1/common/get-started-object-storage.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_openstack_services.html /$1/common/get-started-openstack-services.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_orchestration.html /$1/common/get-started-orchestration.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_shared_file_systems.html /$1/common/get-started-shared-file-systems.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_storage_concepts.html /$1/common/get-started-storage-concepts.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_telemetry.html /$1/common/get-started-telemetry.html
redirectmatch 301 ^/([a-z-]+)/common/get_started_with_openstack.html /$1/common/get-started-with-openstack.html
redirectmatch 301 ^/([a-z-]+)/common/nova_show_usage_statistics_for_hosts_instances.html /$1/common/nova-show-usage-statistics-for-hosts-instances.html

# Redirect top ten (or so) User Guide pages post-migration
redirect 301 /user-guide/content/app_community_support.html /user-guide/common/app-support.html
redirect 301 /user-guide/content/checking_version_cli.html /user-guide/common/cli-discover-version-number-for-a-client.html
redirect 301 /user-guide/content/install_clients.html /user-guide/common/cli-install-openstack-command-line-clients.html
redirect 301 /user-guide/content/ssh-into-instance.html /user-guide/dashboard_launch_instances.html#connect-to-your-instance-by-using-ssh
redirect 301 /user-guide/content/app_cheat_sheet.html /user-guide/cli_cheat_sheet.html
redirect 301 /user-guide/content/Launching_Instances_using_Dashboard.html /user-guide/dashboard_launch_instances.html

# Redirect top ten (or so) Admin User Guide pages post-migration
redirect 301 /user-guide-admin/content/specify-host-to-boot-instances-on.html /admin-guide/cli_nova_specify_host.html
redirect 301 /user-guide-admin/content/nova_cli_migrate_single.html /admin-guide/cli_nova_migrate.html
redirect 301 /admin-guide-cloud/content/customize-flavors.html /admin-guide/compute-flavors.html

# Redirect renamed Admin Guide pages

redirectmatch 301 ^/([a-z-]+)/blockstorage_backup_disks.html /$1/blockstorage-backup-disks.html
redirectmatch 301 ^/([a-z-]+)/blockstorage_get_capabilities.html /$1/blockstorage-get-capabilities.html
redirectmatch 301 ^/([a-z-]+)/blockstorage_glusterfs_backend.html /$1/blockstorage-glusterfs-backend.html
redirectmatch 301 ^/([a-z-]+)/blockstorage_glusterfs_removal.html /$1/blockstorage-glusterfs-removal.html
redirectmatch 301 ^/([a-z-]+)/blockstorage_image_volume_cache.html /$1/blockstorage-image-volume-cache.html
redirectmatch 301 ^/([a-z-]+)/blockstorage_multi_backend.html /$1/blockstorage-multi-backend.html
redirectmatch 301 ^/([a-z-]+)/blockstorage_nfs_backend.html /$1/blockstorage-nfs-backend.html
redirectmatch 301 ^/([a-z-]+)/blockstorage_over_subscription.html /$1/blockstorage-over-subscription.html
redirectmatch 301 ^/([a-z-]+)/blockstorage_ratelimit_volume_copy_bandwidth.html /$1/blockstorage-ratelimit-volume-copy-bandwidth.html
redirectmatch 301 ^/([a-z-]+)/blockstorage_volume_backed_image.html /$1/blockstorage-volume-backed-image.html
redirectmatch 301 ^/([a-z-]+)/blockstorage_volume_backups.html /$1/blockstorage-volume-backups.html
redirectmatch 301 ^/([a-z-]+)/blockstorage_volume_backups_export_import.html /$1/blockstorage-volume-backups-export-import.html
redirectmatch 301 ^/([a-z-]+)/blockstorage_volume_migration.html /$1/blockstorage-volume-migration.html
redirectmatch 301 ^/([a-z-]+)/blockstorage_volume_number_weigher.html /$1/blockstorage-volume-number-weigher.html
redirectmatch 301 ^/([a-z-]+)/cli_admin_manage_environment.html /$1/cli-admin-manage-environment.html
redirectmatch 301 ^/([a-z-]+)/cli_admin_manage_ip_addresses.html /$1/cli-admin-manage-ip-addresses.html
redirectmatch 301 ^/([a-z-]+)/cli_admin_manage_stacks.html /$1/cli-admin-manage-stacks.html
redirectmatch 301 ^/([a-z-]+)/cli_analyzing-log-files-with-swift.html /$1/cli-analyzing-log-files-with-swift.html
redirectmatch 301 ^/([a-z-]+)/cli_cinder_quotas.html /$1/cli-cinder-quotas.html
redirectmatch 301 ^/([a-z-]+)/cli_cinder_scheduling.html /$1/cli-cinder-scheduling.html
redirectmatch 301 ^/([a-z-]+)/cli_keystone_manage_services.html /$1/cli-keystone-manage-services.html
redirectmatch 301 ^/([a-z-]+)/cli_manage_flavors.html /$1/cli-manage-flavors.html
redirectmatch 301 ^/([a-z-]+)/cli_manage_projects_users_and_roles.html /$1/cli-manage-projects-users-and-roles.html
redirectmatch 301 ^/([a-z-]+)/cli_manage_services.html /$1/cli-manage-services.html
redirectmatch 301 ^/([a-z-]+)/cli_manage_shares.html /$1/cli-manage-shares.html
redirectmatch 301 ^/([a-z-]+)/cli_networking_advanced_quotas.html /$1/cli-networking-advanced-quotas.html
redirectmatch 301 ^/([a-z-]+)/cli_nova_evacuate.html /$1/cli-nova-evacuate.html
redirectmatch 301 ^/([a-z-]+)/cli_nova_manage_projects_security.html /$1/cli-nova-manage-projects-security.html
redirectmatch 301 ^/([a-z-]+)/cli_nova_manage_services.html /$1/cli-nova-manage-services.html
redirectmatch 301 ^/([a-z-]+)/cli_nova_migrate.html /$1/cli-nova-migrate.html
redirectmatch 301 ^/([a-z-]+)/cli_nova_migrate_cfg_ssh.html /$1/cli-nova-migrate-cfg-ssh.html
redirectmatch 301 ^/([a-z-]+)/cli_nova_numa_libvirt.html /$1/cli-nova-numa-libvirt.html
redirectmatch 301 ^/([a-z-]+)/cli_nova_specify_host.html /$1/cli-nova-specify-host.html
redirectmatch 301 ^/([a-z-]+)/cli_set_compute_quotas.html /$1/cli-set-compute-quotas.html
redirectmatch 301 ^/([a-z-]+)/cli_set_quotas.html /$1/cli-set-quotas.html
redirectmatch 301 ^/([a-z-]+)/compute_arch.html /$1/compute-arch.html
redirectmatch 301 ^/([a-z-]+)/cross_project.html /$1/cross-project.html
redirectmatch 301 ^/([a-z-]+)/cross_project_cors.html /$1/cross-project-cors.html
redirectmatch 301 ^/([a-z-]+)/dashboard_admin_manage_roles.html /$1/dashboard-admin-manage-roles.html
redirectmatch 301 ^/([a-z-]+)/dashboard_admin_manage_stacks.html /$1/dashboard-admin-manage-stacks.html
redirectmatch 301 ^/([a-z-]+)/dashboard_manage_flavors.html /$1/dashboard-manage-flavors.html
redirectmatch 301 ^/([a-z-]+)/dashboard_manage_host_aggregates.html /$1/dashboard-manage-host-aggregates.html
redirectmatch 301 ^/([a-z-]+)/dashboard_manage_images.html /$1/dashboard-manage-images.html
redirectmatch 301 ^/([a-z-]+)/dashboard_manage_instances.html /$1/dashboard-manage-instances.html
redirectmatch 301 ^/([a-z-]+)/dashboard_manage_resources.html /$1/dashboard-manage-resources.html
redirectmatch 301 ^/([a-z-]+)/dashboard_manage_services.html /$1/dashboard-manage-services.html
redirectmatch 301 ^/([a-z-]+)/dashboard_manage_shares.html /$1/dashboard-manage-shares.html
redirectmatch 301 ^/([a-z-]+)/dashboard_manage_volumes.html /$1/dashboard-manage-volumes.html
redirectmatch 301 ^/([a-z-]+)/dashboard_sessions.html /$1/dashboard-sessions.html
redirectmatch 301 ^/([a-z-]+)/dashboard_set_quotas.html /$1/dashboard-set-quotas.html
redirectmatch 301 ^/([a-z-]+)/dashboard_view_cloud_resources.html /$1/dashboard-view-cloud-resources.html
redirectmatch 301 ^/([a-z-]+)/identity_auth_token_middleware.html /$1/identity-auth-token-middleware.html
redirectmatch 301 ^/([a-z-]+)/identity_concepts.html /$1/identity-concepts.html
redirectmatch 301 ^/([a-z-]+)/identity_keystone_usage_and_features.html /$1/identity-keystone-usage-and-features.html
redirectmatch 301 ^/([a-z-]+)/identity_management.html /$1/identity-management.html
redirectmatch 301 ^/([a-z-]+)/identity_service_api_protection.html /$1/identity-service-api-protection.html
redirectmatch 301 ^/([a-z-]+)/identity_start.html /$1/identity-start.html
redirectmatch 301 ^/([a-z-]+)/identity_troubleshoot.html /$1/identity-troubleshoot.html
redirectmatch 301 ^/([a-z-]+)/keystone_caching_layer.html /$1/keystone-caching-layer.html
redirectmatch 301 ^/([a-z-]+)/keystone_certificates_for_pki.html /$1/keystone-certificates-for-pki.html
redirectmatch 301 ^/([a-z-]+)/keystone_configure_with_SSL.html /$1/keystone-configure-with-SSL.html
redirectmatch 301 ^/([a-z-]+)/keystone_domain_specific_config.html /$1/keystone-domain-specific-config.html
redirectmatch 301 ^/([a-z-]+)/keystone_external_authentication.html /$1/keystone-external-authentication.html
redirectmatch 301 ^/([a-z-]+)/keystone_fernet_token_faq.html /$1/keystone-fernet-token-faq.html
redirectmatch 301 ^/([a-z-]+)/keystone_integrate_assignment_backend_ldap.html /$1/keystone-integrate-assignment-backend-ldap.html
redirectmatch 301 ^/([a-z-]+)/keystone_integrate_identity_backend_ldap.html /$1/keystone-integrate-identity-backend-ldap.html
redirectmatch 301 ^/([a-z-]+)/keystone_integrate_with_ldap.html /$1/keystone-integrate-with-ldap.html
redirectmatch 301 ^/([a-z-]+)/keystone_secure_identity_to_ldap_backend.html /$1/keystone-secure-identity-to-ldap-backend.html
redirectmatch 301 ^/([a-z-]+)/keystone_token-binding.html /$1/keystone-token-binding.html
redirectmatch 301 ^/([a-z-]+)/keystone_tokens.html /$1/keystone-tokens.html
redirectmatch 301 ^/([a-z-]+)/keystone_use_trusts.html /$1/keystone-use-trusts.html
redirectmatch 301 ^/([a-z-]+)/networking_adv-config.html /$1/networking-adv-config.html
redirectmatch 301 ^/([a-z-]+)/networking_adv-features.html /$1/networking-adv-features.html
redirectmatch 301 ^/([a-z-]+)/networking_adv-operational-features.html /$1/networking-adv-operational-features.html
redirectmatch 301 ^/([a-z-]+)/networking_arch.html /$1/networking-arch.html
redirectmatch 301 ^/([a-z-]+)/networking_auth.html /$1/networking-auth.html
redirectmatch 301 ^/([a-z-]+)/networking_config-agents.html /$1/networking-config-agents.html
redirectmatch 301 ^/([a-z-]+)/networking_config-identity.html /$1/networking-config-identity.html
redirectmatch 301 ^/([a-z-]+)/networking_config-plugins.html /$1/networking-config-plugins.html
redirectmatch 301 ^/([a-z-]+)/networking_introduction.html /$1/networking-introduction.html
redirectmatch 301 ^/([a-z-]+)/networking_multi-dhcp-agents.html /$1/networking-multi-dhcp-agents.html
redirectmatch 301 ^/([a-z-]+)/networking_use.html /$1/networking-use.html
redirectmatch 301 ^/([a-z-]+)/objectstorage_account_reaper.html /$1/objectstorage-account-reaper.html
redirectmatch 301 ^/([a-z-]+)/objectstorage_arch.html /$1/objectstorage-arch.html
redirectmatch 301 ^/([a-z-]+)/objectstorage_auditors.html /$1/objectstorage-auditors.html
redirectmatch 301 ^/([a-z-]+)/objectstorage_characteristics.html /$1/objectstorage-characteristics.html
redirectmatch 301 ^/([a-z-]+)/objectstorage_components.html /$1/objectstorage-components.html
redirectmatch 301 ^/([a-z-]+)/objectstorage_EC.html /$1/objectstorage-EC.html
redirectmatch 301 ^/([a-z-]+)/objectstorage_features.html /$1/objectstorage-features.html
redirectmatch 301 ^/([a-z-]+)/objectstorage_intro.html /$1/objectstorage-intro.html
redirectmatch 301 ^/([a-z-]+)/objectstorage_large-objects.html /$1/objectstorage-large-objects.html
redirectmatch 301 ^/([a-z-]+)/objectstorage_replication.html /$1/objectstorage-replication.html
redirectmatch 301 ^/([a-z-]+)/objectstorage_ringbuilder.html /$1/objectstorage-ringbuilder.html
redirectmatch 301 ^/([a-z-]+)/objectstorage_tenant_specific_image_storage.html /$1/objectstorage-tenant-specific-image-storage.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems.html /$1/shared-file-systems.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_cgroups.html /$1/shared-file-systems-cgroups.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_crud_share.html /$1/shared-file-systems-crud-share.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_intro.html /$1/shared-file-systems-intro.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_key_concepts.html /$1/shared-file-systems-key-concepts.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_manage_and_unmanage_share.html /$1/shared-file-systems-manage-and-unmanage-share.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_manage_shares_cli.html /$1/shared-file-systems-manage-shares-cli.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_multi_backend.html /$1/shared-file-systems-multi-backend.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_network_plugins.html /$1/shared-file-systems-network-plugins.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_networking.html /$1/shared-file-systems-networking.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_quotas.html /$1/shared-file-systems-quotas.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_scheduling.html /$1/shared-file-systems-scheduling.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_security_services.html /$1/shared-file-systems-security-services.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_services_manage.html /$1/shared-file-systems-services-manage.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_share_management.html /$1/shared-file-systems-share-management.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_share_networks.html /$1/shared-file-systems-share-networks.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_share_replication.html /$1/shared-file-systems-share-replication.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_share_resize.html /$1/shared-file-systems-share-resize.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_share_types.html /$1/shared-file-systems-share-types.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_snapshots.html /$1/shared-file-systems-snapshots.html
redirectmatch 301 ^/([a-z-]+)/shared_file_systems_troubleshoot.html /$1/shared-file-systems-troubleshoot.html
redirectmatch 301 ^/([a-z-]+)/ts_cinder_config.html /$1/ts-cinder-config.html
redirectmatch 301 ^/([a-z-]+)/ts_multipath_warn.html /$1/ts-multipath-warn.html
redirectmatch 301 ^/([a-z-]+)/ts_no_emulator_x86_64.html /$1/ts-no-emulator-x86-64.html
redirectmatch 301 ^/([a-z-]+)/ts_non_existent_host.html /$1/ts-non-existent-host.html
redirectmatch 301 ^/([a-z-]+)/ts_non_existent_vlun.html /$1/ts-non-existent-vlun.html
redirectmatch 301 ^/([a-z-]+)/ts_vol_attach_miss_sg_scan.html /$1/ts-vol-attach-miss-sg-scan.html

# Since we don't have a direct match for all file, redirect to the index page.

redirectmatch 301 "^/user-guide/content/.*$" /user-guide/index.html
redirectmatch 301 "^/user-guide-admin/.*$" /admin-guide/index.html
redirectmatch 301 "^/image-guide/content/.*$" /image-guide/index.html
redirectmatch 301 "^/arch-design/content/.*$" /arch-design/index.html
redirectmatch 301 "^/cli-reference/content/.*$" /cli-reference/index.html
redirectmatch 301 "^/admin-guide-cloud/.*$" /admin-guide/index.html
redirectmatch 301 "^/openstack-ops/content/.*$" /ops-guide/index.html

# Hot-guide has moved to heat repo
redirect 301 /user-guide/hot-guide/hot.html /developer/heat/template_guide/hot_guide.html
redirect 301 /user-guide/hot-guide/ /developer/heat/template_guide/

# All these files should be a direct match, file name for file name.
redirect 301 /hot-guide/content/ /developer/heat/template_guide/

# Redirect HOT reference guide to heat template guide
redirect 301 /hot-reference/content/ /developer/heat/template_guide/

# Redirect networking-guide since it is now versioned
redirect 301 /networking-guide/ /mitaka/networking-guide/

# Redirect nova/devref/
redirectmatch 301 ^/developer/nova/devref/(.+)$ /developer/nova/$1
redirect 301 /developer/nova/nova.concepts.html /developer/nova/

# Redirect API Quick Start after migration to RST
redirect 301 /api/quick-start/content/ http://developer.openstack.org/api-guide/quick-start/
redirect 301 /de/api/quick-start/content/ http://developer.openstack.org/de/api-guide/quick-start/
redirect 301 /ja/api/quick-start/content/ http://developer.openstack.org/ja/api-guide/quick-start/
redirect 301 /ko_KR/api/quick-start/content/ http://developer.openstack.org/ko_KR/api-guide/quick-start/
redirect 301 /zh_CN/api/quick-start/content/ http://developer.openstack.org/zh_CN/api-guide/quick-start/

# Redirect old releases content to new location
redirectmatch 301 "^/releases.*$" http://releases.openstack.org$1

# Redirect outdated glossary to new location
redirectmatch 301 /glossary/content/glossary.html /user-guide/common/glossary.html

# Temporary redirect (307) until these guides are ready
redirectmatch 307 ^/mitaka/install-guide-debian/.*$ /mitaka/index.html

# Redirect old Configuration Reference pages to new location
redirect 301 /mitaka/config-reference/database-service/databaseservice_db.html /mitaka/config-reference/database-service/database.html
redirect 301 /mitaka/config-reference/database-service/databaseservice_rpc.html /mitaka/config-reference/database-service/rpc.html
redirect 301 /mitaka/config-reference/image-service/image_service_api.html /mitaka/config-reference/image-service/api.html
redirect 301 /mitaka/config-reference/image-service/image_service_backends.html /mitaka/config-reference/image-service/backends.html
redirect 301 /mitaka/config-reference/image-service/image_service_rpc.html /mitaka/config-reference/image-service/rpc.html
redirect 301 /mitaka/config-reference/orchestration/orchestration_api.html /mitaka/config-reference/orchestration/api.html
redirect 301 /mitaka/config-reference/orchestration/orchestration_clients.html /mitaka/config-reference/orchestration/clients.html
redirect 301 /mitaka/config-reference/orchestration/orchestration_rpc.html /mitaka/config-reference/orchestration/rpc.html
redirect 301 /mitaka/config-reference/telemetry/alarming_service_config_opts.html /mitaka/config-reference/telemetry/alarming-config-options.html
redirect 301 /mitaka/config-reference/telemetry/telemetry_service_config_opts.html /mitaka/config-reference/telemetry/telemetry-config-options.html
