# Redirecting End-of-Life (EOL) versions, see https://wiki.openstack.org/wiki/Releases:
redirectmatch 301 /bexar/.*$ /index.html
redirectmatch 301 /cactus/.*$ /index.html
redirectmatch 301 /diablo/.*$ /index.html
redirectmatch 301 /essex/.*$ /index.html
redirectmatch 301 /folsom/.*$ /index.html
redirectmatch 301 /grizzly/.*$ /index.html
redirectmatch 301 /havana/.*$ /index.html

# Redirect for the original version of compute
redirect 301 /openstack-compute/ /

# Redirect for the original version of storage
redirect 301 /openstack-object-storage/ /

# Redirect for the 1.1 version of the Compute API going to v2
redirect 301 /api/openstack-compute/1.1/ /api/openstack-compute/2/

# Redirect image metadata and format reference
redirect 301 /trunk/openstack-compute/admin/content/adding-images.html /cli-reference/content/chapter_cli-glance-property.html

# Redirect config reference precisely
redirect 301 /trunk/openstack-compute/admin/content/compute-options-reference.html /liberty/config-reference/content/list-of-compute-config-options.html

redirect 301 /trunk/openstack-compute/starter/ /trunk/

# Redirecting incubation quantum
redirect 301 /incubation/openstack-network/admin/content/ /trunk/openstack-network/admin/content
redirect 301 /incubation/openstack-network/developer/quantum-api-1.0/content/ /api/openstack-network/1.0/content/

# Redirecting old install guide to apt (could be yum, analytics show more seek apt)
redirect 301 /trunk/openstack-compute/install/content /trunk/openstack-compute/install/yum/content

# Redirecting trunk basic install to install guide
redirect 301 /trunk/basic-install/apt/content /liberty/install-guide-ubuntu/
redirect 301 /trunk/basic-install/yum/content /liberty/install-guide-rdo/

# Redirecting trunk admin guides to admin-guide-cloud
redirect 301 /trunk/openstack-block-storage/admin/content/ /admin-guide-cloud/
redirect 301 /trunk/openstack-compute/admin/content/ /admin-guide-cloud/
redirect 301 /trunk/openstack-object-storage/admin/content/ /admin-guide-cloud/

# Redirecting Image Guide to new location
redirect 301 /trunk/openstack-image/content/ /image-guide/

# Redirecting HA Guide to new location
redirect 301 /trunk/openstack-ha/content/ /ha-guide
redirectmatch 301 /high-availability-guide/.*$ /ha-guide/index.html

# Redirecting security guide to new location
redirectmatch 301 /trunk/openstack-security/content/.*$ /security-guide/index.html
redirectmatch 301 /trunk/security-guide/content/.*$ /security-guide/index.html
redirectmatch 301 /security-guide/content/.*$ /security-guide/index.html

# Redirecting API Programming with Compute API to API Quick Start
redirectmatch 301 /api/openstack-compute/programmer/content/.*$ http://developer.openstack.org/api-guide/quick-start/

# Redirect docs.openstack.org index.html subpage pointers to main page
redirect 301 /install/ /
redirect 301 /basic-install/ /
redirect 301 /run/ /
redirect 301 /api/index.html /
redirect 301 /developer/index.html /developer/openstack-projects.html
redirect 301 /cli/ /
redirect 301 /incubation/ /

# Redirect old identity/api to api site
redirectmatch /identity/api/.*$ http://developer.openstack.org/

# Redirect old Networking Admin Guide to Configuration Reference
redirect 301 /trunk/openstack-network/admin/content/under_the_hood_openvswitch.html /liberty/config-reference/content/networking-plugin-openvswitch_agent.html
redirect 301 /trunk/openstack-network/admin/content/under_the_hood_linuxbridge.html /liberty/config-reference/content/networking-plugin-linuxbridge_agent.html
redirectmatch /trunk/openstack-network/admin/content/.*$ /admin-guide-cloud/index.html
redirectmatch /network-admin/admin/content/.*$ /admin-guide-cloud/index.html

# Redirect old openstack-identity links
redirect 301 /trunk/openstack-identity/admin/content/ /admin-guide-cloud/content/ch-identity-mgmt-config.html

# Redirect O'Reilly Operations Guide PDF to trunk version
redirect 301 /trunk/openstack-ops/oreilly-openstack-ops-guide.pdf /openstack-ops/openstack-ops-manual.pdf

# Redirect Operations Guide to /openstack-ops
redirectmatch 301 /trunk/openstack-ops/(.*) /openstack-ops/$1

# A doc generation bug resulted in Google indexing links containing "//", which cause
# problems with linked content (images/css/etc).  This rule generates a 301 redirect
# for these links.
#
# details: https://bugs.launchpad.net/openstack-manuals/+bug/1288513
redirectmatch 301 (.*)//(.*) $1/$2

# Redirect links to Architecture Design Guide epub from arc to arch
redirect 301 /arc/OpenStackArchitectureDesignGuide.epub /arch/OpenStackArchitectureDesignGuide.epub

# Redirect renamed ironic developer doc directories
redirect 301 /developer/ironic/install/ironic-install.html /developer/ironic/deploy/install-guide.html
redirect 301 /developer/ironic/dev/api-spec-v1.html /developer/ironic/webapi/v1.html

# Redirect API docs that have been put in openstack-attic
redirectmatch 301 /api/openstack-block-storage/1.0/content/.*$ http://developer.openstack.org/api-ref-blockstorage-v1.html
redirectmatch 301 /api/openstack-block-storage/2.0/content/.*$ http://developer.openstack.org/api-ref-blockstorage-v2.html
redirectmatch 301 /api/openstack-compute/2/content/.*$ http://developer.openstack.org/api-ref-compute-v2.html
redirectmatch 301 /api/openstack-databases/content/.*$ http://developer.openstack.org/api-ref-databases-v1.html
redirectmatch 301 /api/openstack-identity-service/2.0/content/.*$ http://developer.openstack.org/api-ref-identity-v2.html
redirectmatch 301 /api/openstack-identity-service/3/content/.*$ http://developer.openstack.org/api-ref-identity-v3.html
redirectmatch 301 /api/openstack-image-service/1.0/content/.*$ http://developer.openstack.org/api-ref-image-v1.html
redirectmatch 301 /api/openstack-image-service/1.1/content/.*$ http://developer.openstack.org/api-ref-image-v1.html
redirectmatch 301 /api/openstack-image-service/2.0/content/.*$ http://developer.openstack.org/api-ref-image-v2.html
redirectmatch 301 /api/openstack-network/2.0/content/.*$ http://developer.openstack.org/api-ref-networking-v2.html
redirectmatch 301 /api/openstack-object-storage/1.0/content/.*$ http://developer.openstack.org/api-ref-objectstorage-v1.html
redirectmatch 301 /api/openstack-objectstorage/1.0/content/.*$ http://developer.openstack.org/api-ref-objectstorage-v1.html
redirect 301 /api/openstack-image-service/2.0/content/appendix-b-http-patch-media-types.html http://specs.openstack.org/openstack/glance-specs/specs/api/v2/http-patch-image-api-v2.html

# Redirect /trunk/index.html to /index.html
redirect 301 /trunk/index.html /index.html

# Redirect trunk/config-reference to liberty/config-reference
redirectmatch 301 /trunk/config-reference/content/(.*) /liberty/config-reference/content/$1

# Redirect apt-debian install guide for Icehouse
redirectmatch 301 /icehouse/install-guide/install/apt-debian/.*$ /

# Redirect trove install guide for Icehouse
redirectmatch 301 "^/icehouse/install-guide/install/.*/ch_trove.html$" /
redirectmatch 301 "^/icehouse/install-guide/install/.*/trove.*$" /

# Redirect trove install guide
redirectmatch 301 "^/juno/install-guide/install/.*/ch_trove.html$" /
redirectmatch 301 "^/juno/install-guide/install/.*/trove.*$" /
redirectmatch 301 "^/kilo/install-guide/install/.*/ch_trove.html$" /
redirectmatch 301 "^/kilo/install-guide/install/.*/trove.*$" /

# Redirect sahara install guide
redirectmatch 301 "^/juno/install-guide/install/.*/ch_sahara.html$" /
redirectmatch 301 "^/juno/install-guide/install/.*/sahara.*$" /
redirectmatch 301 "^/kilo/install-guide/install/.*/ch_sahara.html$" /
redirectmatch 301 "^/kilo/install-guide/install/.*/sahara.*$" /

# Redirect old networking content to root for now
redirectmatch 301 /openstack-network/.*$ /index.html

# Redirect top ten (or so) User Guide pages post-migration
redirect 301 /user-guide/content/app_community_support.html /user-guide/common/app_support.html
redirect 301 /user-guide/content/checking_version_cli.html /user-guide/common/cli_discover_version_number_for_a_client.html
redirect 301 /user-guide/content/install_clients.html /user-guide/common/cli_install_openstack_command_line_clients.html
redirect 301 /user-guide/content/ssh-into-instance.html /user-guide/dashboard_launch_instances.html#connect-to-your-instance-by-using-ssh
redirect 301 /user-guide/content/app_cheat_sheet.html /user-guide/cli_cheat_sheet.html
redirect 301 /user-guide/content/Launching_Instances_using_Dashboard.html /user-guide/dashboard_launch_instances.html

# Redirect top ten (or so) Admin User Guide pages post-migration
redirect 301 /user-guide-admin/content/admin_cli_manage_projects_users.html /user-guide-admin/manage_projects_users_and_roles.html
redirect 301 /user-guide-admin/content/specify-host-to-boot-instances-on.html /user-guide-admin/cli_nova_specify_host.html
redirect 301 /user-guide-admin/content/nova_cli_migrate_single.html /user-guide-admin/cli_nova_migrate.html

redirect 301 /admin-guide-cloud/content/customize-flavors.html /admin-guide-cloud/compute-flavors.html

# Since we don't have a direct match for all file, redirect to the index page.

redirectmatch 301 "^/user-guide/content/.*$" /user-guide/index.html
redirectmatch 301 "^/user-guide-admin/content/.*" /user-guide-admin/index.html
redirectmatch 301 "^/admin-guide-cloud/content/.*$" /admin-guide-cloud/index.html
redirectmatch 301 "^/image-guide/content/.*$" /image-guide/index.html
redirectmatch 301 "^/arch-design/content/.*$" /arch-design/index.html
redirectmatch 301 "^/cli-reference/content/.*$" /cli-reference/index.html

# Hot-guide has moved to heat repo
redirect 301 /user-guide/hot-guide/hot.html /developer/heat/template_guide/hot_guide.html
redirect 301 /user-guide/hot-guide/ /developer/heat/template_guide/

# All these files should be a direct match, file name for file name.
redirect 301 /hot-guide/content/ /developer/heat/template_guide/

# Redirect HOT reference guide to heat template guide
redirect 301 /hot-reference/content/ /developer/heat/template_guide/

# Redirect networking-guide since it is now versioned
redirect 301 /networking-guide/ /liberty/networking-guide/

# Redirect nova/devref/
redirectmatch 301 ^/developer/nova/devref/(.+)$ /developer/nova/$1
redirect 301 /developer/nova/nova.concepts.html /developer/nova/

# Redirect API Quick Start after migration to RST
redirect 301 /api/quick-start/content/ http://developer.openstack.org/api-guide/quick-start/

# Temporary redirect (307) until these guides are ready
redirectmatch 307 ^/liberty/install-guide-debian/.*$ /liberty/index.html
