{% extends "templates/indexbase.tmpl" %}
{% block pagetitle %}{{SERIES_TITLE}}{% endblock %}
{% block title %}{% endblock %}
{% block header %}
{% endblock header %}
{% block content %}
<!-- Begin Page Content -->
<div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Welcome to OpenStack Documentation</h1>
                <p>
                    <strong>What is OpenStack?</strong> OpenStack is a cloud operating system that controls large pools of compute, storage, and networking resources throughout a datacenter, all managed through a dashboard that gives administrators control while empowering their users to provision resources through a web interface.
                </p>
                <hr>
                <h3>What are the next steps?</h3>
                <a href="#docs-main-body" class="overview-btn docs-btn">View The Docs <i class="fa fa-arrow-circle-o-down"></i></a>
                <a href="https://www.openstack.org/software/start/" class="overview-btn docs-btn">Get OpenStack <i class="fa fa-arrow-circle-o-right"></i></a>
                <a href="https://www.openstack.org/marketplace/training" class="overview-btn docs-btn">Get Training <i class="fa fa-arrow-circle-o-right"></i></a>
                {% include 'templates/swiftype_search.tmpl' %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 superuser-wrapper">
                <div id="superuser-img"></div>
            </div>
        </div>
    </div>
    <div class="mid-docs-wrapper" id="docs-main-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <h2>Documentation for Bexar (February 2011)</h2>

                    <p>
                      The {{SERIES_TITLE}} release of OpenStack is no
                      longer supported by the community. For more
                      information about the release, refer to
                      the <a href="https://releases.openstack.org/{{SERIES}}/">releases
                      web site</a>.
                    </p>
                    <p>
                      For documentation, please refer to a newer
                      release. The most recently released version is
                      <a href="../{{RELEASED_SERIES}}/">{{RELEASED_SERIES|title}}</a>
                      and the version in development is
                      <a href="../{{SERIES_IN_DEVELOPMENT}}">{{SERIES_IN_DEVELOPMENT|title}}</a>.
                    </p>
                </div>
                {% include 'templates/dropdown_releases_and_languages.tmpl' %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row docs-contribute-wrapper">
            <div class="col-lg-12">
                <p>Documentation treated like code, powered by the community - interested?</p>
                <a href="/contributor-guide/index.html" class="overview-btn contribute-btn">How To Contribute <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- End Page Content -->
{% endblock content %}
