{% extends "templates/base.tmpl" %}
{% block title %}Grizzly{% endblock %}
{% block pagetitle %}Documentation (Grizzly){% endblock %}
{% block content %}
<div class="container">
{% include 'templates/dropdown_releases_and_languages.tmpl' %}
 <div class="span-12 last">
  <p>
  </p>
 </div>
 <div class="span-12">
  <h4>
   <a class="headerlink" href="http://openstack.org/software/start/">
    How to Get Started with OpenStack
   </a>
  </h4>
  <h4 class="special">
   Install OpenStack
  </h4>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/grizzly/basic-install/apt/content">
     Basic Installation Guide for Ubuntu 12.04 (LTS) and Debian Wheezy
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/grizzly/basic-install/yum/content">
     Basic Installation Guide for Fedora 18
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/grizzly/openstack-compute/install/yum/content/">
     Installation Guide for Red Hat Enterprise Linux, CentOS, and Fedora
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/grizzly/openstack-compute/install/apt/content/">
     Installation Guide for Ubuntu 12.04 (LTS)
    </a>
   </dd>
  </dl>
  <h4 class="special">
   Configure and run an OpenStack cloud
  </h4>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/grizzly/openstack-block-storage/admin/content/">
     Block Storage Administration Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/grizzly/openstack-compute/admin/content/">
     Compute Administration Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/grizzly/openstack-network/admin/content/">
     Networking Administration Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/grizzly/openstack-object-storage/admin/content/">
     Object Storage Administration Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/ops/">
     Operations Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/high-availability-guide/content/index.html">
     High Availability Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/image-guide/content/">
     Virtual Machine Image Guide
    </a>
   </dd>
  </dl>
 </div>
 <div class="span-12 last">
  <p>
  </p>
  <h4 class="special">
   Develop applications for OpenStack clouds
  </h4>
  <dl>
   <dd>
    <a href="http://developer.openstack.org/">
     Open source software for application development
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/api/quick-start/content/">
     API Quick Start
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/user-guide/content/">
     End User Guide (includes Python SDK)
    </a>
   </dd>
   <dd>
    <a href="http://developer.openstack.org/api-ref.html">
     API Complete Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/api/openstack-block-storage/2.0/content/">
     Block Storage API v2.0 Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/api/openstack-block-storage/1.0/content/">
     Block Storage API v1.0 Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/api/openstack-compute/2/content/">
     Compute API v2 and Extensions Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/api/openstack-identity-service/2.0/content/">
     Identity API v2.0 Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/api/openstack-network/2.0/content/">
     Networking API v2.0 Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/api/openstack-image-service/2.0/content/">
     Image Service API v2 Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/api/openstack-image-service/1.1/content/">
     Image Service API v1 Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/api/openstack-object-storage/1.0/content/">
     Object Storage API v1 Reference
    </a>
   </dd>
  </dl>
  <h4 class="special">
   Contribute to OpenStack docs, infrastructure, and code
  </h4>
  <dl>
   <dd>
    <a href="http://wiki.openstack.org/Documentation/HowTo">
     OpenStack Documentation
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/openstack-projects.html">
     Python Developer Documentation
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/language-bindings.html">
     Language Bindings and Python Clients
    </a>
   </dd>
   <dd>
    <a href="http://ci.openstack.org/">
     OpenStack Project Infrastructure
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/tempest/">
     Tempest Test Suite for OpenStack
    </a>
   </dd>
  </dl>
 </div>
</div>
{% endblock content %}
