# Redirect for the original version of compute
redirect 301 /openstack-compute/ /

# Redirect for the original version of storage
redirect 301 /openstack-object-storage/ /

# Redirect for the 1.1 version of the Compute API going to v2
redirect 301 /api/openstack-compute/1.1/ /api/openstack-compute/2/

# Redirect image metadata and format reference
redirect 301 /trunk/openstack-compute/admin/content/adding-images.html /image-guide/content/image-formats.html

# Redirect config reference precisely
redirect 301 /trunk/openstack-compute/admin/content/compute-options-reference.html /trunk/config-reference/content/list-of-compute-config-options.html

# Redirect the Clients Guide to new End User Guide 
redirect 301 /cli/quick-start/content/keystone_client.html /user-guide/content/keystone_commands.html
redirect 301 /cli/quick-start/content/glance_client.html /user-guide/content/glance_commands.html
redirect 301 /cli/quick-start/content/cinder_client.html /user-guide/content/cinder_commands.html
redirect 301 /cli/quick-start/content/nova_client.html /user-guide/content/nova_commands.html
redirect 301 /cli/quick-start/content/swift_client.html /user-guide/content/swift_commands.html
redirect 301 /cli/quick-start/content/quantum_client.html /user-guide/content/neutron_commands.html
redirect 301 /cli/quick-start/content/authenticate.html /user-guide/content/cli_openrc.html
redirect 301 /cli/quick-start/content/prereq_software.html /user-guide/content/install_clients.html
redirect 301 /cli/quick-start/content/ /user-guide/content/

# Redirecting  folsom version
redirectmatch 301 /folsom/.*$ /index.html

# Redirecting  essex version
redirectmatch 301 /essex/.*$ /index.html

# Redirecting diablo version
redirect 301 /diablo/ /trunk/
redirect 301 /trunk/openstack-compute/starter/ /trunk/

# Redirecting cactus version
redirect 301 /cactus/ /trunk/

# Redirecting bexar version
redirect 301 /bexar/ /trunk/

# Redirecting incubation quantum
redirect 301 /incubation/openstack-network/admin/content/ /trunk/openstack-network/admin/content
redirect 301 /incubation/openstack-network/developer/quantum-api-1.0/content/ /api/openstack-network/1.0/content/

# Redirecting old install guide to apt (could be yum, analytics show more seek apt)
redirect 301 /trunk/openstack-compute/install/content /trunk/openstack-compute/install/yum/content

# Redirecting trunk basic install to install guide
redirect 301 /trunk/basic-install/apt/content /trunk/install-guide/apt/content/
redirect 301 /trunk/basic-install/yum/content /trunk/install-guide/yum/content/

# Redirecting trunk admin guides to admin-guide-cloud
redirect 301 /trunk/openstack-block-storage/admin/content/ /admin-guide-cloud/content/
redirect 301 /trunk/openstack-compute/admin/content/ /admin-guide-cloud/content/
redirect 301 /trunk/openstack-object-storage/admin/content/ /admin-guide-cloud/content/

# Redirecting Image Guide to new location
redirect 301 /trunk/openstack-image/content/ /image-guide/content

# Redirecting HA Guide to new location
redirect 301 /trunk/openstack-ha/content/ /high-availability-guide/content/

# Redirecting security guide to new location
redirect 301 /trunk/openstack-security/content/ /security-guide/content/
redirect 301 /trunk/security-guide/content/ /security-guide/content/

# Redirecting API Programming with Compute API to API Quick Start
redirectmatch 301 /api/openstack-compute/programmer/content/.*$ /api/quick-start/content/

# Redirect CLI Guide to new End User Guide
redirectmatch 301 /trunk/cli/quick-start/content/.*$ /user-guide/content/

# Redirecting removed pages from the user guide
redirect 301 /user-guide/content/dashboard_launch_instances_from_volume.html /user-guide/content/dashboard_launch_instances_from_image.html

# Redirect docs.openstack.org index.html subpage pointers to main page
redirect 301 /install/ /
redirect 301 /basic-install/ /
redirect 301 /run/ /
redirect 301 /api/index.html /
redirect 301 /developer/index.html /developer/openstack-projects.html
redirect 301 /cli/ /

# Redirect old identity/api to api site
redirectmatch /identity/api/.*$ http://api.openstack.org/

# Redirect old Networking Admin Guide to Configuration Reference
redirect 301 /trunk/openstack-network/admin/content/ch_adv_features.html /admin-guide-cloud/content/ch_networking.html#section_networking-adv-features
redirect 301 /trunk/openstack-network/admin/content/under_the_hood_openvswitch.html /havana/config-reference/content/networking-plugin-openvswitch_agent.html
redirect 301 /trunk/openstack-network/admin/content/under_the_hood_linuxbridge.html /havana/config-reference/content/networking-plugin-linuxbridge_agent.html
redirectmatch /trunk/openstack-network/admin/content/.*$ /admin-guide-cloud/content/index.html
redirectmatch /network-admin/admin/content/.*$ /admin-guide-cloud/content/index.html

# Redirect old openstack-identity links
redirect 301 /trunk/openstack-identity/admin/content/ /admin-guide-cloud/content/ch-identity-mgmt-config.html

# Redirect training-manuals project to new location
redirect 301 /trunk/openstack-training/ /training-guides/
redirect 301 /trunk/training-guide/ /training-guides/
redirect 301 /trunk/training-guides/ /training-guides/

# A doc generation bug resulted in Google indexing links containing "//", which cause
# problems with linked content (images/css/etc).  This rule generates a 301 redirect
# for these links.
#
# details: https://bugs.launchpad.net/openstack-manuals/+bug/1288513
redirectmatch 301 (.*)//(.*) $1/$2

