# Redirect for the original version of compute
redirect 301 /openstack-compute/ /trunk/openstack-compute/

# Redirect for the original version of storage
redirect 301 /openstack-object-storage/ /trunk/openstack-object-storage/

# Redirect for the 1.1 version of the Compute API going to v2
redirect 301 /api/openstack-compute/1.1/ /api/openstack-compute/2/

# Redirecting diablo version
redirect 301 /diablo/ /trunk/
redirect 301 /trunk/openstack-compute/starter/ /trunk/

# Redirecting cactus version
redirect 301 /cactus/ /trunk/

# Redirecting bexar version
redirect 301 /bexar/ /trunk/

# Redirecting incubation quantum
redirect 301 /incubation/openstack-network/admin/content/ /trunk/openstack-network/admin/content
redirect 301 /incubation/openstack-network/developer/quantum-api-1.0/content/ /api/openstack-network/1.0/content/

# Redirecting old install guide to apt (could be yum, analytics show more seek apt)
redirect 301 /trunk/openstack-compute/install/content /trunk/openstack-compute/install/yum/content

# Redirecting old install files in the CLI Guide to generic install file
redirect 301 /trunk/cli/quick-start/content/install_openstack_glance_cli.html /trunk/cli/quick-start/content/cli_install.html
redirect 301 /trunk/cli/quick-start/content/install_openstack_keystone_cli.html /trunk/cli/quick-start/content/cli_install.html
redirect 301 /trunk/cli/quick-start/content/install_openstack_nova_cli.html /trunk/cli/quick-start/content/cli_install.html
redirect 301 /trunk/cli/quick-start/content/install_openstack_quantum_cli.html /trunk/cli/quick-start/content/cli_install.html
redirect 301 /trunk/cli/quick-start/content/install_openstack_swift_cli.html /trunk/cli/quick-start/content/cli_install.html

# Redirect docs.openstack.org index.html subpage pointers to main page
redirect 301 /install/ /
redirect 301 /basic-install/ /
redirect 301 /run/ /
redirect 301 /api/index.html /
redirect 301 /developer/index.html /
