{% extends "templates/base.tmpl" %}
{% block title %}Draft Localized Documents{% endblock %}
{% block pagetitle %}Draft Localized Documents{% endblock %}
{% block content %}
<div class="container">
 <div class="span-12" id="subnav">
  <p>
   This page contains links to localized documents that are in
      draft state.
  </p>
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Catalan (ca)
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/ca/api/quick-start/content/index.html">
     API Quick Start
    </a>
   </dd>
  </dl>
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Chinese (zh_CN)
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/zh_CN/api/quick-start/content/index.html">
     API Quick Start
    </a>
   </dd>
  </dl>
  <ul class="subsectionNav">
   <li class="link">
    <a>
     French (fr)
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/fr/user-guide/content/">
     User Guide
    </a>
   </dd>
  </dl>
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Japanese (ja)
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/ja/openstack-ops/content/">
     Operations Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/ja/image-guide/content/">
     Virtual Machine Image Guide
    </a>
   </dd>
  </dl>
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Korean (ko_KR)
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/ko_KR/api/quick-start/content/index.html">
     API Quick Start
    </a>
   </dd>
  </dl>
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Spanish (es)
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/es/api/quick-start/content/index.html">
     API Quick Start
    </a>
   </dd>
  </dl>
 </div>
 <div class="span-12 last" id="subnav">
  <ul class="subsectionNav last-right">
   <li class="link">
    <a>
     Translation
    </a>
   </li>
  </ul>
  <dl>
   <dt>
    To help with translation, join the
    <a href="https://wiki.openstack.org/wiki/I18nTeam">
     OpenStack I18N team
    </a>
    .
   </dt>
  </dl>
 </div>
</div>
{% endblock content %}
