{% set scriptdir = 'common/js/' %}
{% set cssdir = 'common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Localized{% endblock %}
{% block title %}Documentation (Localized){% endblock %}
{% block content %}
<div class="container">
 <div class="span-12" id="subnav">
  <p>
   This page contains links to localized documents that are in
      draft state.
  </p>
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Catalan (ca)
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/ca/api/quick-start/content/index.html">
     API Quick Start
    </a>
   </dd>
  </dl>
  <ul class="subsectionNav">
   <li class="link">
    <a>
     French (fr)
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/fr/user-guide/content/">
     User Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/fr/image-guide/content/">
     Virtual Maching Image Guide
    </a>
   </dd>

  </dl>
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Japanese (ja)
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/ja/openstack-ops/content/">
     Operations Guide
    </a>
   </dd>
  </dl>
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Simplified Chinese (zh_CN)
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/zh_CN/arch-design/content/index.html">
     Architecture Design Guide
    </a>
   </dd>
  </dl>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/zh_CN/image-guide/content/index.html">
     Virtual Machine Image Guide
    </a>
   </dd>
  </dl>
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Spanish (es)
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/es/api/quick-start/content/index.html">
     API Quick Start
    </a>
   </dd>
  </dl>
 </div>
 <div class="span-12 last" id="subnav">
  <ul class="subsectionNav last-right">
   <li class="link">
    <a>
     Translation
    </a>
   </li>
  </ul>
  <dl>
   <dt>
    To help with translation, join the
    <a href="https://wiki.openstack.org/wiki/I18nTeam">
     OpenStack I18N team
    </a>
    .
   </dt>
  </dl>
 </div>
</div>
{% endblock content %}
