{% extends "templates/base.tmpl" %}
{% block pagetitle %}Current{% endblock %}
{% block title %}Documentation (Current){% endblock %}
{% block content %}
<div class="container">
{% include 'templates/dropdown_releases_and_languages.tmpl' %}
</div>
<div class="container">
 <div class="span-12">
 </div>

 <div class="span-12" id="subnav">
  <ul class="subsectionNav-link">
   <li class="link">
    <a href="http://openstack.org/software/start/" title='Go to the "How to Get Started with OpenStack" page'>
     Get started
    </a>
   </li>
  </ul>
  <ul class="subsectionNav-link">
   <li class="link">
    <a href="http://docs.openstack.org/training-guides/content/" title='Go to the "OpenStack Training Guides" page'>
     Get training
    </a>
   </li>
  </ul>
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Install OpenStack
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/juno/install-guide/install/apt-debian/content/">
     Installation Guide for Debian 7
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/juno/install-guide/install/zypper/content/">
     Installation Guide for openSUSE 13.1 and SUSE Linux Enterprise
     Server 11 SP3
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/juno/install-guide/install/yum/content/">
     Installation Guide for Red Hat Enterprise Linux 7, CentOS 7, and
     Fedora 20
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/juno/install-guide/install/apt/content/">
     Installation Guide for Ubuntu 14.04
    </a>
   </dd>
  </dl>
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Configure and run OpenStack
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/arch-design/content/">
     Architecture Design Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/juno/config-reference/content/">
     Configuration Reference
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/admin-guide-cloud/content/">
     Cloud Administrator Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/high-availability-guide/content/index.html">
     High Availability Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/ops/">
     Operations Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/security-guide/content/">
     Security Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/image-guide/content/">
     Virtual Machine Image Guide
    </a>
   </dd>
  </dl>
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Use OpenStack
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://docs.openstack.org/api/quick-start/content/">
     API Quick Start
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/user-guide/content/">
     End User Guide (includes Python SDK)
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/user-guide-admin/content/">
     Admin User Guide
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/cli-reference/content/">
     Command-Line Interface Reference
    </a>
   </dd>
   <dd>
    <a href="http://developer.openstack.org/">
     Open source software for application development
    </a>
   </dd>
  </dl>
 </div>

 <div class="span-12 last-right" id="subnav-right">
  <ul class="subsectionNav last-right">
   <li class="link">
    <a>
     Get API reference information
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://developer.openstack.org/api-ref.html">
     API Complete Reference (HTML)
    </a>
   </dd>
   <dd>
    <a href="http://developer.openstack.org/api-ref-guides/bk-api-ref.pdf">
     API Complete Reference (PDF)
    </a>
   </dd>
   <dd>
    <a href="http://developer.openstack.org/api-ref-blockstorage-v2.html">
     Block Storage API v2.0 Reference
    </a>
   </dd>
   <dd>
    <a href="http://developer.openstack.org/api-ref-blockstorage-v1.html">
     Block Storage API v1.0 Reference
    </a>
   </dd>
   <dd>
    <a href="http://developer.openstack.org/api-ref-compute-v2.html">
     Compute API v2 Reference
    </a>
   </dd>
   <dd>
    <a href="http://developer.openstack.org/api-ref-compute-v2-ext.html">
     Compute API v2 Extensions
    </a>
   </dd>
   <dd>
    <a href="http://developer.openstack.org/api-ref-databases-v1.html">
     Database Service API v1.0
    </a>
   </dd>
   <dd>
    <a href="http://developer.openstack.org/api-ref-identity-v2.html">
     Identity API v2.0 Reference
    </a>
   </dd>
   <dd>
    <a href="http://developer.openstack.org/api-ref-image-v2.html">
     Image Service API v2 Reference
    </a>
   </dd>
   <dd>
    <a href="http://developer.openstack.org/api-ref-image-v1.html">
     Image Service API v1 Reference
    </a>
   </dd>
   <dd>
    <a href="http://developer.openstack.org/api-ref-networking-v2.html">
     Networking API v2.0 Reference
    </a>
   </dd>
   <dd>
    <a href="http://developer.openstack.org/api-ref-objectstorage-v1.html">
     Object Storage API v1 Reference
    </a>
   </dd>
   <dd>
    <a href="http://developer.openstack.org/api-ref-orchestration-v1.html">
     Orchestration API v1 Reference
    </a>
   </dd>
   <dd>
    <a href="http://developer.openstack.org/api-ref-telemetry-v2.html">
     Telemetry API v2 Reference
    </a>
   </dd>
  </dl>
  <ul class="subsectionNav last-right-more">
   <li class="link last-right-more">
    <a>
     Contribute to OpenStack
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://wiki.openstack.org/Documentation/HowTo">
     OpenStack Documentation
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/openstack-projects.html">
     Python Developer Documentation
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/language-bindings.html">
     Language Bindings and Python Clients
    </a>
   </dd>
   <dd>
    <a href="http://ci.openstack.org/">
     OpenStack Project Infrastructure
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/infra/manual/">
     OpenStack Infrastructure User Manual
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/tempest/">
     Tempest Test Suite for OpenStack
    </a>
   </dd>
   <dd>
    <a href="http://docs.openstack.org/developer/devstack/">
     DevStack: Deploying OpenStack for Developers
    </a>
   </dd>
  </dl>
  <ul class="subsectionNav last-right-most">
   <li class="link last-right-most">
    <a>
     Get involved
    </a>
   </li>
  </ul>
  <dl>
   <dd>
    <a href="http://www.openstack.org/join">
     Join the OpenStack Foundation
    </a>
   </dd>
   <dd>
    <a href="http://www.openstack.org/user-survey/">
     Take the Deployment Survey
    </a>
   </dd>
  </dl>
 </div>
</div>
{% endblock content %}
