{% set scriptdir = '../../common/js/' %}
{% set cssdir = '../../common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Newton Installation Tutorials and Guides{% endblock %}
{% block title %}
<a href="https://docs.openstack.org">Documentation</a> &gt; Newton Installation Tutorials and Guides
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Newton Installation Tutorials and Guides</h1>
                <p>The following tutorials and guides support basic installation
                of core and optional OpenStack services on variants of
                Debian with debconf, Debian, Red Hat, SUSE, and Ubuntu
                distributions. A minimal deployment necessary to launch a simple
                instance (VM) requires following the core content.
                Optional content augments a minimal deployment with
                additional services.</p>
       </div>
    </div>
</div>
<div class="mid-docs-wrapper" id="docs-main-body">
        <div class="container">
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cogs"></i>By distribution</h3>
                        <a href="/newton/install-guide-debconf/">Debian 8 with debconf</a></li>
                        <a href="/newton/install-guide-debian/">Debian 8</a></li>
                        <a href="/newton/install-guide-obs/">openSUSE Leap 42.2 And SUSE Linux Enterprise Server 12 SP2</a></li>
                        <a href="/newton/install-guide-rdo/">Red Hat Enterprise Linux 7 and CentOS 7</a></li>
                        <a href="/newton/install-guide-ubuntu/">Ubuntu 16.04</a></li>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cogs"></i>By chapter</h3>
                        <p>Abstract (
                        <a href="/newton/install-guide-debconf/">Debconf</a>,
                        <a href="/newton/install-guide-debian/">Debian</a>,
                        <a href="/newton/install-guide-obs/">SUSE</a>,
                        <a href="/newton/install-guide-rdo/">RDO</a>,
                        <a href="/newton/install-guide-ubuntu/">Ubuntu</a>)</p>
                        <p>Conventions (
                        <a href="/newton/install-guide-debconf/common/conventions.html">Debconf</a>,
                        <a href="/newton/install-guide-debian/common/conventions.html">Debian</a>,
                        <a href="/newton/install-guide-obs/common/conventions.html">SUSE</a>,
                        <a href="/newton/install-guide-rdo/common/conventions.html">RDO</a>,
                        <a href="/newton/install-guide-ubuntu/common/conventions.html">Ubuntu</a>)</p>
                        <p>Overview (
                        <a href="/newton/install-guide-debconf/overview.html">Debconf</a>,
                        <a href="/newton/install-guide-debian/overview.html">Debian</a>,
                        <a href="/newton/install-guide-obs/overview.html">SUSE</a>,
                        <a href="/newton/install-guide-rdo/overview.html">RDO</a>,
                        <a href="/newton/install-guide-ubuntu/overview.html">Ubuntu</a>)</p>
                        <p>Environment (Basic) (
                        <a href="/newton/install-guide-debconf/environment.html">Debconf</a>,
                        <a href="/newton/install-guide-debian/environment.html">Debian</a>,
                        <a href="/newton/install-guide-obs/environment.html">SUSE</a>,
                        <a href="/newton/install-guide-rdo/environment.html">RDO</a>,
                        <a href="/newton/install-guide-ubuntu/environment.html">Ubuntu</a>)</p>
                        <p>Identity service (Basic) (
                        <a href="/newton/install-guide-debconf/keystone.html">Debconf</a>,
                        <a href="/newton/install-guide-debian/keystone.html">Debian</a>,
                        <a href="/newton/install-guide-obs/keystone.html">SUSE</a>,
                        <a href="/newton/install-guide-rdo/keystone.html">RDO</a>,
                        <a href="/newton/install-guide-ubuntu/keystone.html">Ubuntu</a>)</p>
                        <p>Image service (Basic) (
                        <a href="/newton/install-guide-debconf/glance.html">Debconf</a>,
                        <a href="/newton/install-guide-debian/glance.html">Debian</a>,
                        <a href="/newton/install-guide-obs/glance.html">SUSE</a>,
                        <a href="/newton/install-guide-rdo/glance.html">RDO</a>,
                        <a href="/newton/install-guide-ubuntu/glance.html">Ubuntu</a>)</p>
                        <p>Compute service (Basic) (
                        <a href="/newton/install-guide-debconf/nova.html">Debconf</a>,
                        <a href="/newton/install-guide-debian/nova.html">Debian</a>,
                        <a href="/newton/install-guide-obs/nova.html">SUSE</a>,
                        <a href="/newton/install-guide-rdo/nova.html">RDO</a>,
                        <a href="/newton/install-guide-ubuntu/nova.html">Ubuntu</a>)</p>
                        <p>Networking service (Basic) (
                        <a href="/newton/install-guide-debconf/neutron.html">Debconf</a>,
                        <a href="/newton/install-guide-debian/neutron.html">Debian</a>,
                        <a href="/newton/install-guide-obs/neutron.html">SUSE</a>,
                        <a href="/newton/install-guide-rdo/neutron.html">RDO</a>,
                        <a href="/newton/install-guide-ubuntu/neutron.html">Ubuntu</a>)</p>
                        <p>Dashboard (Optional) (
                        <a href="/newton/install-guide-debconf/horizon.html">Debconf</a>,
                        <a href="/newton/install-guide-debian/horizon.html">Debian</a>,
                        <a href="/newton/install-guide-obs/horizon.html">SUSE</a>,
                        <a href="/newton/install-guide-rdo/horizon.html">RDO</a>,
                        <a href="/newton/install-guide-ubuntu/horizon.html">Ubuntu</a>)</p>
                        <p>Block Storage service (Optional) (
                        <a href="/newton/install-guide-debconf/cinder.html">Debconf</a>,
                        <a href="/newton/install-guide-debian/cinder.html">Debian</a>,
                        <a href="/newton/install-guide-obs/cinder.html">SUSE</a>,
                        <a href="/newton/install-guide-rdo/cinder.html">RDO</a>,
                        <a href="/newton/install-guide-ubuntu/cinder.html">Ubuntu</a>)</p>
                        <p>Shared File Systems service (Optional) (
                        <a href="/project-install-guide/shared-file-systems/newton/">Debconf</a>,
                        <a href="/project-install-guide/shared-file-systems/newton/">Debian</a>,
                        <a href="/project-install-guide/shared-file-systems/newton/">SUSE</a>,
                        <a href="/project-install-guide/shared-file-systems/newton/">RDO</a>,
                        <a href="/project-install-guide/shared-file-systems/newton/">Ubuntu</a>)</p>
                        <p>Object Storage service (Optional) (
                        <a href="/project-install-guide/object-storage/newton/">Debconf</a>,
                        <a href="/project-install-guide/object-storage/newton/">Debian</a>,
                        <a href="/project-install-guide/object-storage/newton/">SUSE</a>,
                        <a href="/project-install-guide/object-storage/newton/">RDO</a>,
                        <a href="/project-install-guide/object-storage/newton/">Ubuntu</a>)</p>
                        <p>Orchestration service (Optional) (
                        <a href="/project-install-guide/orchestration/newton/">Debconf</a>,
                        <a href="/project-install-guide/orchestration/newton/">Debian</a>,
                        <a href="/project-install-guide/orchestration/newton/">SUSE</a>,
                        <a href="/project-install-guide/orchestration/newton/">RDO</a>,
                        <a href="/project-install-guide/orchestration/newton/">Ubuntu</a>)</p>
                        <p>Telemetry Data Collection service (Optional) (
                        <a href="/project-install-guide/telemetry/newton/">Debconf</a>,
                        <a href="/project-install-guide/telemetry/newton/">Debian</a>,
                        <a href="/project-install-guide/telemetry/newton/">SUSE</a>,
                        <a href="/project-install-guide/telemetry/newton/">RDO</a>,
                        <a href="/project-install-guide/telemetry/newton/">Ubuntu</a>)</p>
                        <p>Telemetry Alarming services (Optional) (
                        <a href="/project-install-guide/telemetry-alarming/newton/">Debconf</a>,
                        <a href="/project-install-guide/telemetry-alarming/newton/">Debian</a>,
                        <a href="/project-install-guide/telemetry-alarming/newton/">SUSE</a>,
                        <a href="/project-install-guide/telemetry-alarming/newton/">RDO</a>,
                        <a href="/project-install-guide/telemetry-alarming/newton/">Ubuntu</a>)</p>
                        <p>Database service (Optional) (
                        <a href="/project-install-guide/database/newton/">Debconf</a>,
                        <a href="/project-install-guide/database/newton/">Debian</a>,
                        <a href="/project-install-guide/database/newton/">SUSE</a>,
                        <a href="/project-install-guide/database/newton/">RDO</a>,
                        <a href="/project-install-guide/database/newton/">Ubuntu</a>)</p>
                        <p>Container Infrastructure Management service (Optional) (
                        <a href="/project-install-guide/container-infrastructure-management/newton/">Debconf</a>,
                        <a href="/project-install-guide/container-infrastructure-management/newton/">Debian</a>,
                        <a href="/project-install-guide/container-infrastructure-management/newton/">SUSE</a>,
                        <a href="/project-install-guide/container-infrastructure-management/newton/">RDO</a>,
                        <a href="/project-install-guide/container-infrastructure-management/newton/">Ubuntu</a>)</p>
                        <p>Messaging service (Optional) (
                        <a href="/project-install-guide/messaging/newton/">Debconf</a>,
                        <a href="/project-install-guide/messaging/newton/">Debian</a>,
                        <a href="/project-install-guide/messaging/newton/">SUSE</a>,
                        <a href="/project-install-guide/messaging/newton/">RDO</a>,
                        <a href="/project-install-guide/messaging/newton/">Ubuntu</a>)</p>
                        <p>Key Manager service (Optional) (
                        <a href="/project-install-guide/key-manager/newton/">Debconf</a>,
                        <a href="/project-install-guide/key-manager/newton/">Debian</a>,
                        <a href="/project-install-guide/key-manager/newton/">SUSE</a>,
                        <a href="/project-install-guide/key-manager/newton/">RDO</a>,
                        <a href="/project-install-guide/key-manager/newton/">Ubuntu</a>)</p>
                        <p>Bare Metal service (Optional) (
                        <a href="/project-install-guide/baremetal/newton/">Debconf</a>,
                        <a href="/project-install-guide/baremetal/newton/">Debian</a>,
                        <a href="/project-install-guide/baremetal/newton/">SUSE</a>,
                        <a href="/project-install-guide/baremetal/newton/">RDO</a>,
                        <a href="/project-install-guide/baremetal/newton/">Ubuntu</a>)</p>
                        <p>Launch an instance (Basic) (
                        <a href="/newton/install-guide-debconf/launch-instance.html">Debconf</a>,
                        <a href="/newton/install-guide-debian/launch-instance.html">Debian</a>,
                        <a href="/newton/install-guide-obs/launch-instance.html">SUSE</a>,
                        <a href="/newton/install-guide-rdo/launch-instance.html">RDO</a>,
                        <a href="/newton/install-guide-ubuntu/launch-instance.html">Ubuntu</a>)</p>
                    </div>
                </div>
            </div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>Documentation treated like code, powered by the community - interested?</p>
                    <a href="/contributor-guide/" class="overview-btn contribute-btn">How To Contribute <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
</div>

{% endblock content %}
