{% set scriptdir = '../../common/js/' %}
{% set cssdir = '../../common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Newton Installation Tutorials and Guides{% endblock %}
{% block title %}
<a href="http://docs.openstack.org">Documentation</a> &gt; Newton Installation Tutorials and Guides
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Newton Installation Tutorials and Guides</h1>
                <p>For openSUSE and SUSE
                Linux Enterprise, Red Hat Enterprise Linux and CentOS,
                Ubuntu.</p>
       </div>
    </div>
</div>
<div class="mid-docs-wrapper" id="docs-main-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cogs"></i>Newton Installation Tutorial for openSUSE Leap 42.1 and SUSE Linux Enterprise Server 12 SP1</h3>
                        <a href="/newton/install-guide-obs/">Abstract</a></li>
                        <a href="/newton/install-guide-obs/common/conventions.html">Conventions</a></li>
                        <a href="/newton/install-guide-obs/overview.html">Overview</a></li>
                        <a href="/newton/install-guide-obs/environment.html">Environment</a></li>
                        <a href="/newton/install-guide-obs/keystone.html">Identity service</a></li>
                        <a href="/newton/install-guide-obs/glance.html">Image service</a></li>
                        <a href="/newton/install-guide-obs/nova.html">Compute service</a></li>
                        <a href="/newton/install-guide-obs/neutron.html">Networking service</a></li>
                        <a href="/newton/install-guide-obs/horizon.html">Dashboard</a></li>
                        <a href="/newton/install-guide-obs/cinder.html">Block Storage service</a></li>
                        <a href="/project-install-guide/shared-file-systems/newton/">Shared File Systems service</a></li>
                        <a href="/project-install-guide/object-storage/newton/">Object Storage service</a></li>
                        <a href="/project-install-guide/orchestration/newton/">Orchestration service</a></li>
                        <a href="/project-install-guide/telemetry/newton/">Telemetry Data Collection service</a></li>
                        <a href="/project-install-guide/telemetry-alarming/newton/">Telemetry Alarming services</a></li>
                        <a href="/project-install-guide/database/newton/">Database service</a></li>
                        <a href="/project-install-guide/container-infrastructure-management/newton/">Container Infrastructure Management service</a></li>
                        <a href="/project-install-guide/messaging/newton/">Messaging service</a></li>
                        <a href="/project-install-guide/key-manager/newton/">Key Manager service</a></li>
                        <a href="/project-install-guide/baremetal/newton/">Bare Metal service</a></li>
                        <a href="/newton/install-guide-obs/launch-instance.html">Launch an instance</a></li>
                    </div>
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cogs"></i>Newton Installation Tutorial for Red Hat Enterprise Linux 7 and CentOS 7</h3>
                        <a href="/newton/install-guide-rdo/">Abstract</a></li>
                        <a href="/newton/install-guide-rdo/common/conventions.html">Conventions</a></li>
                        <a href="/newton/install-guide-rdo/overview.html">Overview</a></li>
                        <a href="/newton/install-guide-rdo/environment.html">Environment</a></li>
                        <a href="/newton/install-guide-rdo/keystone.html">Identity service</a></li>
                        <a href="/newton/install-guide-rdo/glance.html">Image service</a></li>
                        <a href="/newton/install-guide-rdo/nova.html">Compute service</a></li>
                        <a href="/newton/install-guide-rdo/neutron.html">Networking service</a></li>
                        <a href="/newton/install-guide-rdo/horizon.html">Dashboard</a></li>
                        <a href="/newton/install-guide-rdo/cinder.html">Block Storage service</a></li>
                        <a href="/project-install-guide/shared-file-systems/newton/">Shared File Systems service</a></li>
                        <a href="/project-install-guide/object-storage/newton/">Object Storage service</a></li>
                        <a href="/project-install-guide/orchestration/newton/">Orchestration service</a></li>
                        <a href="/project-install-guide/telemetry/newton/">Telemetry Data Collection service</a></li>
                        <a href="/project-install-guide/telemetry-alarming/newton/">Telemetry Alarming services</a></li>
                        <a href="/project-install-guide/database/newton/">Database service</a></li>
                        <a href="/project-install-guide/container-infrastructure-management/newton/">Container Infrastructure Management service</a></li>
                        <a href="/project-install-guide/messaging/newton/">Messaging service</a></li>
                        <a href="/project-install-guide/key-manager/newton/">Key Manager service</a></li>
                        <a href="/project-install-guide/baremetal/newton/">Bare Metal service</a></li>
                        <a href="/newton/install-guide-rdo/launch-instance.html">Launch an instance</a></li>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cogs"></i>Newton Installation Tutorial for Ubuntu 16.04 (LTS)</h3>
                        <a href="/newton/install-guide-ubuntu/">Abstract</a></li>
                        <a href="/newton/install-guide-ubuntu/common/conventions.html">Conventions</a></li>
                        <a href="/newton/install-guide-ubuntu/overview.html">Overview</a></li>
                        <a href="/newton/install-guide-ubuntu/environment.html">Environment</a></li>
                        <a href="/newton/install-guide-ubuntu/keystone.html">Identity service</a></li>
                        <a href="/newton/install-guide-ubuntu/glance.html">Image service</a></li>
                        <a href="/newton/install-guide-ubuntu/nova.html">Compute service</a></li>
                        <a href="/newton/install-guide-ubuntu/neutron.html">Networking service</a></li>
                        <a href="/newton/install-guide-ubuntu/horizon.html">Dashboard</a></li>
                        <a href="/newton/install-guide-ubuntu/cinder.html">Block Storage service</a></li>
                        <a href="/project-install-guide/shared-file-systems/newton/">Shared File Systems service</a></li>
                        <a href="/project-install-guide/object-storage/newton/">Object Storage service</a></li>
                        <a href="/project-install-guide/orchestration/newton/">Orchestration service</a></li>
                        <a href="/project-install-guide/telemetry/newton/">Telemetry Data Collection service</a></li>
                        <a href="/project-install-guide/telemetry-alarming/newton/">Telemetry Alarming services</a></li>
                        <a href="/project-install-guide/database/newton/">Database service</a></li>
                        <a href="/project-install-guide/container-infrastructure-management/newton/">Container Infrastructure Management service</a></li>
                        <a href="/project-install-guide/messaging/newton/">Messaging service</a></li>
                        <a href="/project-install-guide/key-manager/newton/">Key Manager service</a></li>
                        <a href="/project-install-guide/baremetal/newton/">Bare Metal service</a></li>
                        <a href="/newton/install-guide-ubuntu/launch-instance.html">Launch an instance</a></li>
                    </div>
                </div>
            </div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>Documentation treated like code, powered by the community - interested?</p>
                    <a href="/contributor-guide/" class="overview-btn contribute-btn">How To Contribute <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
</div>

{% endblock content %}
