{% extends "templates/base.tmpl" %}
{% block pagetitle %}Portuguese{% endblock %}
{% block title %} Documentação{% endblock %}
{% block content %}
   <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Documentação português</h1>
                <p>
Esta página lista a documentação OpenStack traduzidas para o português.
                </p>
</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
         </div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>Participar</p>
                      A tradução do OpenStack é dividida por projetos e precisamos de grande apoio de voluntários que possam contribuir com a tradução do OpenStack para o português Brasileiro (pt_BR). Se você tem interesse, basta se registrar ao site translate.openstack.org e começar a traduzir!
      <a href="https://wiki.openstack.org/wiki/I18nTeam/pt_BR">
       Time de tradução do OpenStack Brasil - Português
      </a>
                </div>
            </div>
        </div>
</div>
    <!-- End Page Content -->

{% endblock content %}
