{% extends "templates/base.tmpl" %}
{% block pagetitle %}{% endblock %}
{% block title %}Documentation (Portuguese){% endblock %}
{% block content %}
<div class="container">
 <div class="span-12">
  <p>
   Esta página lista a documentação OpenStack traduzidas para o português.
  </p>
 </div>
 <div class="span-12" id="subnav">
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Instale OpenStack
    </a>
   </li>
  </ul>
  <dl>
   <dt>
    <a href="http://docs.openstack.org/pt_BR/trunk/install-guide/install/apt-debian/content/">
     Guia de Instalação do Debian 7
    </a>
   </dt>
   <dt>
    <a href="http://docs.openstack.org/pt_BR/trunk/install-guide/install/zypper/content/">
     Guia de Instalação para o openSUSE 13.1 e SUSE Linux Enterprise Server 11 SP3
    </a>
   </dt>
   <dt>
    <a href="http://docs.openstack.org/pt_BR/trunk/install-guide/install/yum/content/">
     Guia de Instalação do Red Hat Enterprise Linux 7, CentOS 7, e Fedora 20
    </a>
   </dt>
   <dt>
    <a href="http://docs.openstack.org/pt_BR/trunk/install-guide/install/apt/content/">
     Guia de Instalação do Ubuntu 14.04
    </a>
   </dt>
  </dl>
 </div>
 <div class="span-12 last" id="subnav">
  <ul class="subsectionNav last-right">
   <li class="link">
    <a>
     Participar
    </a>
   </li>
  </ul>
  <dl>
   <dt>
     A tradução do Openstack é dividida por projetos e precisamos de grande apoio de voluntários que possam contribuir com a tradução do Openstack para o português Brasileiro (pr_BR). Se você tem interesse, basta se registrar ao site www.transifex.com e começar a traduzir!
    <a href="https://wiki.openstack.org/wiki/I18nTeam/pt_BR">
     Time de tradução do Openstack Brasil - Português
    </a>
    .
   </dt>
  </dl>
 </div>
</div>
{% endblock content %}
