{% set scriptdir = '../common/js/' %}
{% set cssdir = '../common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Portuguese{% endblock %}
{% block title %} Documentação{% endblock %}
{% block content %}
   <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Documentação português</h1>
                <p>
Esta página lista a documentação OpenStack traduzidas para o português.
                </p>
</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-cogs"></i> Instale OpenStack</h3>

      <a href="http://docs.openstack.org/pt_BR/trunk/install-guide/install/apt-debian/content/">
       Guia de Instalação do Debian 7
      </a>
      <a href="http://docs.openstack.org/pt_BR/trunk/install-guide/install/zypper/content/">
       Guia de Instalação para o openSUSE 13.1 e SUSE Linux Enterprise Server 11 SP3
      </a>
      <a href="http://docs.openstack.org/pt_BR/trunk/install-guide/install/yum/content/">
       Guia de Instalação do Red Hat Enterprise Linux 7, CentOS 7, e Fedora 20
      </a>
      <a href="http://docs.openstack.org/pt_BR/trunk/install-guide/install/apt/content/">
       Guia de Instalação do Ubuntu 14.04
      </a>
                    </div>
            </div>
         </div>
         </div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>Participar</p>
                      A tradução do Openstack é dividida por projetos e precisamos de grande apoio de voluntários que possam contribuir com a tradução do Openstack para o português Brasileiro (pt_BR). Se você tem interesse, basta se registrar ao site www.transifex.com e começar a traduzir!
      <a href="https://wiki.openstack.org/wiki/I18nTeam/pt_BR">
       Time de tradução do Openstack Brasil - Português
      </a>
                </div>
            </div>
        </div>
</div>
    <!-- End Page Content -->

{% endblock content %}
