{% extends "templates/indexbase.tmpl" %}
{% block pagetitle %}{{SERIES_TITLE}}{% endblock %}
{% block title %}{% endblock %}
{% block header %}
{% endblock header %}
{% block content %}
<!-- Begin Page Content -->
<div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Welcome to OpenStack Documentation</h1>
                <p>
                    <strong>What is OpenStack?</strong> OpenStack is a cloud operating system that controls large pools of compute, storage, and networking resources throughout a datacenter, all managed through a dashboard that gives administrators control while empowering their users to provision resources through a web interface.
                </p>
                <hr>
                <h3>What are the next steps?</h3>
                <a href="#docs-main-body" class="overview-btn docs-btn">View The Docs <i class="fa fa-arrow-circle-o-down"></i></a>
                <a href="https://www.openstack.org/software/start/" class="overview-btn docs-btn">Get OpenStack <i class="fa fa-arrow-circle-o-right"></i></a>
                <a href="https://www.openstack.org/marketplace/training" class="overview-btn docs-btn">Get Training <i class="fa fa-arrow-circle-o-right"></i></a>
                {% include 'templates/swiftype_search.tmpl' %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 superuser-wrapper">
                <div id="superuser-img"></div>
            </div>
        </div>
    </div>
    <div class="mid-docs-wrapper" id="docs-main-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <h2>Documentation for {{SERIES_TITLE}} ({{SERIES_INFO.date}})</h2>
                    {% include "templates/series_status.tmpl" %}
                </div>
                {% include 'templates/dropdown_releases_and_languages.tmpl' %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
        <div class="row docs-toc">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="docs-link-sections">
                    <h3 id="release-notes"><i class="fa fa-refresh"></i>Release Notes</h3>
                    <p>New features, upgrade and deprecation notes, known issues, and bug fixes</p>
                    <a href="http://releases.openstack.org/pike/index.html">OpenStack Projects Release Notes</a>
                    <a href="/releasenotes/openstack-manuals/pike.html">OpenStack Documentation Release Notes</a>
                </div>
                <div class="docs-link-sections">
                    <h3 id="install-guides"><i class="fa fa-cogs"></i> Installation Tutorials and Guides</h3>
                    <p>Getting started with the most commonly used OpenStack services</p>
                    <a href="install/">Installation Tutorials and Guides</a>
                </div>
                <div class="docs-link-sections">
                    <h3 id="project-deploy-guide"><i class="fa fa-cogs"></i> Deployment Guides</h3>
                    <p>Choose how to deploy OpenStack and get started with the most commonly used OpenStack services</p>
                    <a href="deploy/">Deployment Guides</a>
                </div>
                <div class="docs-link-sections">
                    <h3 id="ops-and-admin-guides"><i class="fa fa-users"></i> Operations and Administration Guides</h3>
                    <a href="admin/">Administrator Guides</a>
                    <p>Manage and troubleshoot an OpenStack cloud</p>
                    <a href="/ha-guide/">High Availability Guide</a><a href="/ha-guide/HAGuide.pdf">[PDF]</a>
                    <p>Install and configure OpenStack for high availability</p>
                    <a href="/image-guide/">Virtual Machine Image Guide</a><a href="/image-guide/ImageGuide.pdf">[PDF]</a>
                    <p>Obtain, create, and modify OpenStack-compatible virtual machine images</p>
                </div>
                <div class="docs-link-sections">
                    <h3 id="configuration-guides"><i class="fa fa-wrench"></i> Configuration Guides</h3>
                    <a href="configuration/">Configuration Reference</a>
                    <p>Installation and configuration options for OpenStack</p>
                </div>
                <div class="docs-link-sections">
                    <h3 id="api-guides"><i class="fa fa-book"></i> API Guides</h3>
                    <a href="api/">API Guides</a>
                    <p>OpenStack API Documentation</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="docs-link-sections">
                    <h3 id="user-guides"><i class="fa fa-cloud"></i> User Guides</h3>
                    <a href="user/">End User Guides</a>
                    <p>Create and manage resources using the OpenStack dashboard, command-line client, and Python SDK</p>
                    <a href="https://developer.openstack.org">Open source software for application development</a>
                    <p>Resources for application development on OpenStack clouds</p>
                </div>
                    <div class="docs-link-sections">
                        <h3 id="contributor-guides"><i class="fa fa-leaf"></i> Project-specific Guides</h3>
                        <a href="projects.html">Services and Libraries</a>
                        <p>Documentation for OpenStack services and libraries</p>
                        <a href="language-bindings.html">Language Bindings and Python Clients</a>
                        <p>Documentation for the OpenStack Python bindings and clients</p>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="contributor-guides"><i class="fa fa-pencil"></i> Contributor Guides</h3>
                        <a href="/contributor-guide/index.html">OpenStack Documentation Contributor Guide</a>
                        <p>Documentation workflow and conventions</p>
                        <a href="https://governance.openstack.org/tc/">OpenStack Technical Committee Governance Documents</a>
                        <p>OpenStack Technical Committee reference documents and official resolutions</p>
                        <a href="http://specs.openstack.org/">OpenStack Project specifications</a>
                        <p>Specifications for future project features</p>
                        <a href="/project-team-guide/">OpenStack Project Team Guide</a>
                        <p>Guide to the OpenStack project and community</p>
                        <a href="/infra/">OpenStack Developer and Community Infrastructure Documentation</a>
                        <p>Development and infrastructure documentation</p>
                        <a href="/i18n/">OpenStack I18n Guide</a>
                        <p>Internationalization workflow and conventions</p>
                        <a href="https://www.openstack.org/join/">Join the OpenStack Foundation</a>
                        <p>How to join the OpenStack Foundation</p>
                        <a href="https://www.openstack.org/user-survey/">Take the Deployment Survey</a>
                        <p>Influence the future of OpenStack</p>
                    </div>
                <div class="docs-link-sections">
                    <h3 id="training-guides"><i class="fa fa-university"></i> Training Guides And Training Labs</h3>
                    <a href="/upstream-training/">Upstream training</a>
                    <p>Resources for the OpenStack Upstream Training program</p>
                    <a href="/training_labs/">Training Labs</a>
                    <p>Tools for OpenStack Training. Automatic deployment of lean virtualized multi-node openstack cluster.</p>
                </div>
            </div>
        </div>
        <div class="row docs-contribute-wrapper">
            <div class="col-lg-12">
                <p>Documentation treated like code, powered by the community - interested?</p>
                <a href="/contributor-guide/index.html" class="overview-btn contribute-btn">How To Contribute <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- End Page Content -->
{% endblock content %}
