{% extends "templates/base.tmpl" %}
{% block pagetitle %}French{% endblock %}
{% block title %}{% endblock %}
{% block header %}
{% endblock header %}
{% block content %}
<!-- Begin Page Content -->
<div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Bienvenue dans la documentation OpenStack</h1>
                <p>
                    <strong>Qu'est-ce qu'OpenStack ?</strong> OpenStack est un système d'exploitation de cloud capable de contrôler un grand nombre de ressources serveur, réseau et stockage réparties dans le data center et administrables grâce à une console web qui permet aussi aux utilisateurs du Cloud de les consommer aisément.
                </p>
                <hr>
                <h3>Quelles sont les prochaines étapes ?</h3>
                <a href="#docs-main-body" class="overview-btn docs-btn">Consulter les manuels <i class="fa fa-arrow-circle-o-down"></i></a>
                <a href="https://www.openstack.org/software/start/" class="overview-btn docs-btn">Obtenir OpenStack <i class="fa fa-arrow-circle-o-right"></i></a>
                <a href="https://www.openstack.org/marketplace/training" class="overview-btn docs-btn">Se former <i class="fa fa-arrow-circle-o-right"></i></a>
                {% include 'templates/os_search.tmpl' %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 superuser-wrapper">
                <div id="superuser-img"></div>
            </div>
        </div>
    </div>
    <div class="mid-docs-wrapper" id="docs-main-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <h2> Documentation en Français</h2>
                    <p>Cette page contient la liste des documentations OpenStack disponibles en version française. Documents that have not been translated, translated into different languages, or English version of the previous releases can be found in the following menu.</p>
                </div>
                {% include 'templates/dropdown_languages.tmpl' %}
            </div>
        </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3 id="install-guides"><i class="fa fa-cogs"></i>Guides d'Installation (Mitaka)</h3>
                        <p>Démarrer avec les services OpenStack les plus courants</p>
                        <a href="/mitaka/fr/install-guide-obs/">Guide d'Installation pour openSUSE Leap 42.1 et SUSE Linux Enterprise Server 12 SP1</a>
                        <a href="/mitaka/fr/install-guide-rdo/">Guide d'Installation pour Red Hat Enterprise Linux 7 et CentOS 7</a>
                        <a href="/mitaka/fr/install-guide-ubuntu/">Guide d'Installation pour Ubuntu 14.04 (LTS)</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row docs-contribute-wrapper">
            <div class="col-lg-12">
                <p>La documentation gérée comme du code et propulsée par la communauté - intéressé ?</p>
                <a href="/doc-contrib-guide/index.html" class="overview-btn contribute-btn">Comment contribuer <i class="fa fa-chevron-right"></i></a>
            </div>
            <div class="col-lg-12">
                <p>Participer</p>
Pour participer à la traduction de la documentation et des projets OpenStack, rejoignez
                <a href="https://translate.openstack.org/language/view/fr"> l'équipe de traduction française sur Zanata</a>.
            </div>
        </div>
    </div>
</div>
<!-- End Page Content -->
{% endblock content %}
