{% extends "templates/base.tmpl" %}
{% block pagetitle %}French{% endblock %}
{% block title %}Documentation (French){% endblock %}
{% block content %}
<div class="container">
 <div class="span-12">
  <p>
   Cette page fournit la liste des documentations OpenStack traduites en Français.
  </p>
 </div>
 <div class="span-12" id="subnav">
  <ul class="subsectionNav">
   <li class="link">
    <a>
     Utiliser l'API
    </a>
   </li>
  </ul>
  <dl>
   <dt>
    <a href="http://docs.openstack.org/fr/api/quick-start/content/index.html">
     Démarrage rapide pour l'API OpenStack
    </a>
   </dt>
  </dl>
 </div>
 <div class="span-12 last" id="subnav">
  <ul class="subsectionNav last-right">
   <li class="link">
    <a>
     Participer
    </a>
   </li>
  </ul>
  <dl>
   <dt>
    Pour participer à la traduction de la documentation et des projets OpenStack,
            rejoignez l'
    <a href="https://www.transifex.com/projects/p/openstack/language/fr/">
     équipe de traduction française de Transifex
    </a>
    .
   </dt>
  </dl>
 </div>
</div>
{% endblock content %}
