{% set scriptdir = '../common/js/' %}
{% set cssdir = '../common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Training Labs{% endblock %}
{% block title %}
<a href="http://docs.openstack.org/">Documentation</a> &gt; Training Labs
{% endblock %}
{% block content %}
<div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>OpenStack Training Labs</h1>
                    <p>
                     Training Labs provides an easy way to deploy virtualized OpenStack in a desktop environment. Training
                     Labs supports all modern Linux, Windows and Mac OSx platforms. You need to have VirtualBox or KVM/libvirt
                     installed and configured for running Training Labs.
                    </p>
                    <p>
                     Download Training Labs below. Extract the compressed file to a folder and be ready to one-click deployment
                     of your own OpenStack Training Labs cluster.
                    </p>
                <hr />
                <h3>Get Training Labs</h3>
                <table>
                    <tr>
                        <th>Release</th>
                        <th>Linux</th>
                        <th>Mac OSx</th>
                        <th>Windows</th>
                    </tr>
                    <tr>
                        <th>Master</th>
                        <td><a href="http://tarballs.openstack.org/training-labs/dist/labs-master.tgz">Master Linux</a></td>
                        <td><a href="http://tarballs.openstack.org/training-labs/dist/labs-master.tgz">Master Mac OS X</a></td>
                        <td><a href="http://tarballs.openstack.org/training-labs/dist/labs-master.zip">Master Windows</a></td>
                    </tr>
                    <tr>
                        <th>Liberty</th>
                        <td><a href="http://tarballs.openstack.org/training-labs/dist/labs-stable-liberty.tgz">Liberty Linux</a></td>
                        <td><a href="http://tarballs.openstack.org/training-labs/dist/labs-stable-liberty.tgz">Liberty Mac OS X</a></td>
                        <td><a href="http://tarballs.openstack.org/training-labs/dist/labs-stable-liberty.zip">Liberty Windows</a></td>
                    </tr>
                    <tr>
                        <th>Kilo</th>
                        <td><a href="http://tarballs.openstack.org/training-labs/dist/labs-stable-kilo.tgz">Kilo Linux</a></td>
                        <td><a href="http://tarballs.openstack.org/training-labs/dist/labs-stable-kilo.tgz">Kilo Mac OS X</a></td>
                        <td><a href="http://tarballs.openstack.org/training-labs/dist/labs-stable-kilo.zip">Kilo Windows</a></td>
                    </tr>
                </table>
                <p>To generate the scripts manually follow <a href="https://wiki.openstack.org/wiki/Documentation/training-labs#Building_the_cluster">
                    Training Labs Wiki</a> page.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
