{% extends "templates/base.tmpl" %}
{% block pagetitle %}Training Labs{% endblock %}
{% block title %}
<a href="http://docs.openstack.org/">Documentation</a> &gt; Training Labs
{% endblock %}
{% block content %}
<div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>OpenStack Training Labs</h1>
                    <p>
                     Training Labs provides an easy way to deploy virtualized OpenStack in a desktop environment. Training
                     Labs supports all modern Linux, Windows and macOS platforms. You need to have VirtualBox or KVM/libvirt
                     installed before running Training Labs.
                    </p>
                    <p>
                     Extract the compressed file to a folder and be ready for one-click deployment of your own OpenStack Training Labs cluster.
                    </p>
               <p>For further details and instructions, see the <a href="https://wiki.openstack.org/wiki/Documentation/training-labs#Building_the_cluster">
                  Training Labs Wiki</a> page.
               </p>
            </div>
            <div class='col-lg-4 col-md-4 col-sm-4 superuser-wrapper'>
                <h2>Get Training Labs</h2>
                <div>
                    <h3>Linux</h3>
                    <a class="overview-btn docs-btn" href="http://tarballs.openstack.org/training-labs/dist/labs-master.tgz">
                        Master
                        <i class="fa fa-arrow-circle-o-down"></i>
                    </a>
                    <a class="overview-btn docs-btn" href="http://tarballs.openstack.org/training-labs/dist/labs-stable-pike.tgz">
                        Pike
                        <i class="fa fa-arrow-circle-o-down"></i>
                    </a>
                    <a class="overview-btn docs-btn" href="http://tarballs.openstack.org/training-labs/dist/labs-stable-ocata.tgz">
                        Ocata
                        <i class="fa fa-arrow-circle-o-down"></i>
                    </a>
                </div>
                <br/>
                <hr/>
                <div>
                    <h3>Mac OS X</h3>
                    <a class="overview-btn docs-btn" href="http://tarballs.openstack.org/training-labs/dist/labs-master.tgz">
                        Master
                        <i class="fa fa-arrow-circle-o-down"></i>
                    </a>
                    <a class="overview-btn docs-btn" href="http://tarballs.openstack.org/training-labs/dist/labs-stable-pike.tgz">
                        Pike
                        <i class="fa fa-arrow-circle-o-down"></i>
                    </a>
                    <a class="overview-btn docs-btn" href="http://tarballs.openstack.org/training-labs/dist/labs-stable-ocata.tgz">
                        Ocata
                        <i class="fa fa-arrow-circle-o-down"></i>
                    </a>
                </div>
                <br/>
                <hr/>
                <div>
                    <h3>Windows</h3>
                    <a class="overview-btn docs-btn" href="http://tarballs.openstack.org/training-labs/dist/labs-master.zip">
                        Master
                        <i class="fa fa-arrow-circle-o-down"></i>
                    </a>
                    <a class="overview-btn docs-btn" href="http://tarballs.openstack.org/training-labs/dist/labs-stable-pike.zip">
                        Pike
                        <i class="fa fa-arrow-circle-o-down"></i>
                    </a>
                    <a class="overview-btn docs-btn" href="http://tarballs.openstack.org/training-labs/dist/labs-stable-ocata.zip">
                        Ocata
                        <i class="fa fa-arrow-circle-o-down"></i>
                    </a>
                </div>
                <br/>
                <hr/>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
