{% extends "templates/base.tmpl" %}
{% block pagetitle %}Security Guide{% endblock %}
{% block title %}
<a href="http://docs.openstack.org/">Documentation</a> &gt; Security Guide
{% endblock %}
{% block content %}
<div class="container">
 <div class="span-12">
  <div class="photo">
   <img src="../common/images/openstack-security-guide.jpg" width="100%"/>
  </div>
  <p>
   <a class="button" href="http://docs.openstack.org/security-guide/content/" onclick="recordOutboundLink(this, 'Outbound Links', 'security-guide.html');return false;">
    HTML
   </a>
   <a class="button" href="http://docs.openstack.org/security-guide/security-guide.pdf" onclick="recordOutboundLink(this, 'Outbound Links', security-guide.pdf');return false;">
    PDF
   </a>
  </p>
 </div>
 <div class="span-12 last">
  <div class="photo">
   <img src="../common/images/openstack-security-guide-team.jpg" width="100%"/>
  </div>
  <p>
   <b>
    The OpenStack Security Guide provides best practices learned by real cloud operators while hardening their OpenStack deployments.
   </b>
  </p>
  <p>
   This book was written by a close community of security experts from the
   <a href="https://launchpad.net/~openstack-ossg">
    OpenStack Security Group
   </a>
   in a short, intense
ek-long effort at an undisclosed location. One of the goals for this book is to bring together interested members to capture their collective knowledge and give it 
ck to the OpenStack community.
  </p>
  <p>
   In this book you'll find practical security guidance:
  </p>
  <ul>
   <li>
    Discussions about each OpenStack service
   </li>
   <li>
    Information about isolating security domains and securing domain bridges
   </li>
   <li>
    Public and private cloud considerations
   </li>
   <li>
    Best practices for management layers and access
   </li>
   <li>
    Secure node bootstrapping and hardening
   </li>
   <li>
    SSL, SSH, and PKI availability per OpenStack service
   </li>
   <li>
    API endpoint best practices
   </li>
   <li>
    Security for messaging transport and queues
   </li>
   <li>
    Database and data security best practices and considerations
   </li>
   <li>
    Hypervisor selection advice
   </li>
   <li>
    Security services available for OpenStack instances and trusted images
   </li>
   <li>
    Migration information
   </li>
   <li>
    Logging information and considerations
   </li>
   <li>
    Access control and identity management concepts
   </li>
  </ul>
  <p>
   You can get the
   <a href="http://docs.openstack.org/security-guide/security-guide.pdf" onclick="recordOutboundLink(this, 'Outbound Links', security-guide.pdf');return false;">
    PDF
   </a>
   to print yourself. If you'd like a bound copy,
   <a href="http://www.lulu.com/commerce/index.php?fBuyContent=13956188" onclick="recordOutboundLink(this, 'Outbound Links', 'securitylulu.com');return false;">
    buy it from Lulu
   </a>
   and all proceeds go to the Foundation to support more book sprints efforts like this one.
  </p>
  <p>
   <a href="http://www.lulu.com/commerce/index.php?fBuyContent=13956188">
    <img alt="Support independent publishing: Buy this book on Lulu." border="0" src="http://static.lulu.com/images/services/buy_now_buttons/us/blue2.gif?20130702092152"/>
   </a>
  </p>
  <p align="right">
   <a href="http://creativecommons.org/licenses/by/3.0/us/" rel="license">
    <img alt="Creative Commons License" src="http://i.creativecommons.org/l/by/3.0/us/88x31.png" style="border-width:0"/>
   </a>
   <br/>
   This work is licensed under a
   <a href="http://creativecommons.org/licenses/by/3.0/us/" rel="license">
    Creative Commons Attribution 3.0 United States License
   </a>
   .
  </p>
 </div>
</div>
{% endblock content %}
