{% set scriptdir = '../common/js/' %}
{% set cssdir = '../common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}German{% endblock %}
{% block title %} Dokumente{% endblock %}
{% block content %}
   <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Deutsch Dokumentation</h1>
                <p>
Auf dieser Seite sind die auf Deutsch übersetzten OpenStack Dokumente hinterlegt.
                </p>
</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-book"></i> API Referenzen</h3>
<a href="http://docs.openstack.org/de/api/quick-start/content/index.html">
       OpenStack API Schnellstart
      </a>
                    </div>
            </div>
          </div>
          </div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>Unterstützung</p>
     Um bei der Übersetzung der Dokumentation oder einzelner Projekte von OpenStack zu helfen,
            tritt dem
      <a href="https://www.transifex.com/projects/p/openstack/language/de/">
       Deutschen Übersetzungsteam auf Transifex
      </a>
                </div>
            </div>
        </div>
</div>
    <!-- End Page Content -->

{% endblock content %}
