{% extends "templates/base.tmpl" %}
{% block title %}German{% endblock %}
{% block pagetitle %}Dokumente{% endblock %}
{% block content %}
<div class="container">
 <div class="span-12">
  <p>
   Auf dieser Seite sind die auf Deutsch übersetzten OpenStack Dokumente hinterlegt.
  </p>
 </div>
 <div class="span-12" id="subnav">
  <ul class="subsectionNav">
   <li class="link">
    <a>
     API Referenzen
    </a>
   </li>
  </ul>
  <dl>
   <dt>
    <a href="http://docs.openstack.org/de/api/quick-start/content/index.html">
     OpenStack API Schnellstart
    </a>
   </dt>
  </dl>
 </div>
 <div class="span-12 last" id="subnav">
  <ul class="subsectionNav last-right">
   <li class="link">
    <a>
     Unterstützung
    </a>
   </li>
  </ul>
  <dl>
   <dt>
    Um bei der Übersetzung der Dokumentation oder einzelner Projekte von OpenStack zu helfen,
            tritt dem
    <a href="https://www.transifex.com/projects/p/openstack/language/de/">
     Deutschen Übersetzungsteam auf Transifex
    </a>
    bei.
   </dt>
  </dl>
 </div>
</div>
{% endblock content %}
