{% extends "templates/base.tmpl" %}
{% block pagetitle %}German{% endblock %}
{% block title %}{% endblock %}
{% block header %}
{% endblock header %}
{% block content %}
<!-- Begin Page Content -->
<div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Willkommen bei der OpenStack Dokumentation</h1>
                <p>
                    <strong>Was ist OpenStack ?</strong> OpenStack ist ein Cloud-Betriebssystem, das eine große Anzahl von Compute-, Storage- und Netzwerk-Ressourcen in einem Datencenter steuert. Die Verwaltung erfolgt über ein Dashboard, das dem Administrator Kontrolle gibt und den Benutzern ermöglicht, Ressourcen durch ein Webinterface zu provisionieren.
                </p>
                <hr>
                <h3>Was sind die nächsten Schritte?</h3>
                <a href="#docs-main-body" class="overview-btn docs-btn">Anleitungen lesen <i class="fa fa-arrow-circle-o-down"></i></a>
                <a href="https://www.openstack.org/software/start/" class="overview-btn docs-btn">OpenStack holen <i class="fa fa-arrow-circle-o-right"></i></a>
                <a href="https://www.openstack.org/marketplace/training" class="overview-btn docs-btn">Trainieren <i class="fa fa-arrow-circle-o-right"></i></a>
                {% include 'templates/os_search.tmpl' %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 superuser-wrapper">
                <div id="superuser-img"></div>
            </div>
        </div>
    </div>
    <div class="mid-docs-wrapper" id="docs-main-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <h2> Dokumentation in Deutsch</h2>
                    <p>Auf dieser Seite finden Sie die auf Deutsch übersetzten OpenStack Dokumente. Bitte beachten Sie, dass noch nicht alle Dokumente auf Deutsch zur Verfügung stehen und Sie durch Verweise auf andere Dokumente auch in den englischsprachigen Originalen landen können. Weitere Sprachen und Releases finden Sie über den Button rechts.</p>
                    <p>Das Team hat sich darauf geeinigt, Fachbegriffe soweit möglich zu übersetzen. Nur Begriffe, deren Übersetzung nicht sinnvoll erscheint (z.B. Kommandos oder in der Gemeinschaft übliche Ausdrücke), bleiben unübersetzt. Hier finden Sie das vom Team gepflegte <a href="https://wiki.openstack.org/wiki/German_Translation_Dictionary">Wörterbuch</a>.</p>
                </div>
                {% include 'templates/dropdown_releases_and_languages.tmpl' %}
            </div>
        </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3 id="release-notes"><i class="fa fa-refresh"></i>Release Notes</h3>
                        <p>Neue Funktionen, Aktualisierungen und Abkündigungen, bekannte Probleme und Fehlerkorrekturen</p>
                        <a href="/releasenotes/horizon/de/">Horizon Release Notes</a>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="install-guides"><i class="fa fa-cogs"></i>Installationsanleitungen</h3>
                        <p>Erste Schritte mit den am häufigsten verwendeten OpenStack-Diensten</p>
                        <a href="/de/install-guide/">OpenStack-Installationsleitfaden (aktuelle Version)</a>
                        <a href="/mitaka/de/">OpenStack-Installationsleitfaden (Mitaka)</a>
                        <a href="/newton/de/">OpenStack-Installationsleitfaden (Newton)</a>
                        <a href="/ocata/de/">OpenStack-Installationsleitfaden (Ocata)</a>
                    </div>
                    <div class="docs-link-sections">
                      <h3 id="ops-and-admin-guides"><i class="fa fa-users"></i>Betriebs- und Administrationsanleitungen</h3>
                      <a href="/de/security-guide/">OpenStack Sicherheitshandbuch</a>
                      <p>Richtlinien und Szenarien für mehr Sicherheit in OpenStack Clouds</p>
                      <a href="/de/image-guide/">Virtuelle Maschine Abbild Anleitung</a>
                      <p>Bezug, erstellen und anpassen von OpenStack kompatiblen Virtuellen Maschinen Abbildern</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3 id="api-guides"><i class="fa fa-cloud"></i>
                        API Guides</h3>
                        <p>OpenStack API Dokumentation</p>
                        <a href="https://developer.openstack.org/de/api-guide/quick-start/">API Guide</a>
                        <p>Schreiben Sie Ihre erste OpenStack Anwendung (FirstApp)</p>
                            <!-- The original version of these guides is still in draft, so we do not publish them yet
                            <a href="https://developer.openstack.org/de/firstapp-dotnet/">mit Dotnet</a>|
                            <a href="https://developer.openstack.org/de/firstapp-fog/">mit Fog</a>|
                            <a href="https://developer.openstack.org/de/firstapp-openstacksdk/">mit OpenStackSDK</a>|
                            <a href="https://developer.openstack.org/de/firstapp-pkgcloud/">mit Pkgcloud</a>|
                            -->
                            <a href="https://developer.openstack.org/de/firstapp-libcloud/">mit Libcloud</a>|
                            <a href="https://developer.openstack.org/de/firstapp-shade/">mit Shade</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3 id="services-libraries">
                            <i class="fa fa-leaf">
                           </i>
                           Projektspezifische Leitfäden
                           </h3>
                       <a href="/openstack-ansible/latest/de/index.html">
                        OpenStack-Ansible Leitfaden
                       </a>
                       <p>
                        Betriebshandbuch, Benutzerhandbuch und Entwicklerdokumentation
                        vom OpenStack-Ansible Projekt (OSA)
                       </p>
                       <a href="/i18n/latest/de/index.html">
                        OpenStack I18n Leitfaden
                       </a>
                       <p>
                        Konventionen und Arbeitsabläufe bei Internationalisierung
                       </p>
                       <a href="https://www.openstack.org/user-survey/landing?lang=de_DE">
                        Machen Sie mit bei der OpenStack Benutzerumfrage
                       </a>
                       <p>
                        Beeinflussen Sie die Zukunft von OpenStack
                       </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                      <h3 id="training-guides">
                        <i class="fa fa-university"> </i>
                             Training Guide
                      </h3>
                          <p>Ressourcen für das  OpenStack Upstream Training Programm</p>
                          <a href="/de/upstream-training/">
                            Upstream Training Guide
                          </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row docs-contribute-wrapper">
            <div class="col-lg-12">
                <p>Verwaltung der Dokumentation wie Quellcode, angetrieben von der Gemeinschaft - interessiert?</p>
                <a href="/doc-contrib-guide/index.html" class="overview-btn contribute-btn">Wie kann man mitarbeiten <i class="fa fa-chevron-right"></i></a>
            </div>
            <div class="col-lg-12">
                <p>Unterstützung des Detuschen Übersetzerteams</p>
Wir freuen uns über jede helfende Hand bei der Übersetzung der Dokumentation oder einzelner OpenStack Projekte! Kontakt zum Team finden Sie <a href="https://wiki.openstack.org/wiki/I18nTeam/team/de">über unsere Wiki-Seite</a> oder direkt beim <a href="https://translate.openstack.org/language/view/de">Deutschen Übersetzersteam auf Zanata</a>
            </div>
        </div>
    </div>
</div>
<!-- End Page Content -->
{% endblock content %}
