{% extends "templates/base.tmpl" %}
{% block pagetitle %}Indonesian{% endblock %}
{% block title %}{% endblock %}
{% block header %}
{% endblock header %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Selamat Datang di Dokumentasi OpenStack</h1>
                <p>
                    <strong>Apa OpenStack?</strong> OpenStack adalah sistem operasi cloud yang mengontrol kolam besar sumber daya komputasi, penyimpanan, dan jaringan di seluruh pusat data, dimana semuanya dikelola melalui dashboard yang memberikan administrator untuk  mengontrol dan sekaligus memberdayakan penggunanya dalam pemanfaatan sumber daya melalui antarmuka web.
                </p>
                <hr>
                <h3>Apakah Langkah Selanjutnya?</h3>
                <a href="#docs-main-body" class="overview-btn docs-btn">Melihat Dokumen <i class="fa fa-arrow-circle-o-down"></i></a>
                <a href="https://www.openstack.org/software/start/" class="overview-btn docs-btn">Mendapatkan OpenStack <i class="fa fa-arrow-circle-o-right"></i></a>
                <a href="https://www.openstack.org/marketplace/training" class="overview-btn docs-btn">Mendapatkan Pelatihan <i class="fa fa-arrow-circle-o-right"></i></a>
               {% include 'templates/os_search.tmpl' %}
       </div>
        <div class="col-lg-4 col-md-4 col-sm-4 superuser-wrapper">
            <div id="superuser-img"></div>
        </div>
    </div>
</div>
<div class="mid-docs-wrapper" id="docs-main-body">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h2>Dokumen Indonesia</h2>
                <p>Ini adalah rilis Indonesian terbaru. Gunakan menu untuk memilih rilis sebelumnya atau bahasa yang berbeda jika diperlukan.</p>
            </div>
            {% include 'templates/dropdown_releases_and_languages.tmpl' %}
        </div>
    </div>
</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3 id="release-notes"><i class="fa fa-refresh"></i>Catatan Rilis</h3>
                        <p>Fitur baru, catatan upgrade dan depresiasi, masalah yang diketahui, dan perbaikan bug</p>
                        <a href="/releasenotes/horizon/id/">Catatan rilis Horizon</a>
                        <a href="/releasenotes/openstack-manuals/id/">Dokumentasi catatan rilis tim</a>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="install-guides"><i class="fa fa-cogs"></i>Panduan Instalasi</h3>
                        <p>Mulailah dengan layanan OpenStack yang paling umum digunakan</p>
                        <h4>Pike (dan selanjutnya)</h4>
                        <a href="/id/install-guide">Panduan Instalasi OpenStack</a>
                        <h4>Ocata</h4>
                        <a href="/ocata/id/install-guide-obs/">Panduan Instalasi openSUSE dan SUSE Linux Enterprise Server</a>
                        <a href="/ocata/id/install-guide-rdo/">Panduan Instalasi Red Hat Enterprise Linux dan CentOS</a>
                        <a href="/ocata/id/install-guide-ubuntu/">Panduan instalasi Ubuntu</a>
                        <h4>Newton</h4>
                        <a href="/newton/id/install-guide-debian/">Panduan instalasi Debian 8</a>
                        <a href="/newton/id/install-guide-obs/">Panduan Instalasi openSUSE Leap 42.2 dan SUSE Linux Enterprise Server 12 SP2</a>
                        <a href="/newton/id/install-guide-rdo/">Panduan Instalasi Red Hat Enterprise Linux 7 dan CentOS 7</a>
                        <a href="/newton/id/install-guide-ubuntu/">Panduan instalasi Ubuntu 16.04</a>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="ops-and-admin-guides"><i class="fa fa-users"></i>Panduan Operasi dan Administrasi</h3>
                        <a href="/ocata/id/networking-guide/">Panduan Jaringan (Ocata)</a>
                        <p>Mengerahkan dan mengelola Jaringan OpenStack (neutron)</p>
                        <a href="/id/security-guide/">Panduan Keamanan</a>
                        <p>Pedoman dan skenario untuk menciptakan awan OpenStack yang lebih aman</p>
                        <a href="/id/image-guide/">Panduan Image Mesin Virtual</a>
                        <p>Dapatkan, buat, dan modifikasi image mesin virtual OpenStack yang kompatibel</p>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="api-guides"><i class="fa fa-book"></i>Panduan OpenStack API</h3>
                        <a href="https://developer.openstack.org/id/api-guide/quick-start/">Pengantar menggunakan OpenStack API</a>
                        <p>Pengantar menggunakan OpenStack API</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3 id="training-guides"><i class="fa fa-university"></i> Panduan Pelatihan dan Lab Pelatihan</h3>
                        <a href="/id/upstream-training/">Pelatihan Hulu</a>
                        <p>Sumber Daya untuk program Pelatihan Hulu OpenStack</p>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="contributor-guides"><i class="fa fa-pencil"></i> Panduan Kontributor</h3>
                        <a href="/i18n/latest/id/">Panduan OpenStack I18n</a>
                        <p>Alur kerja internasionalisasi dan konvensi</p>
                        <a href="https://www.openstack.org/user-survey/?lang=id_ID">Ikutilah Survei Penerapannya</a>
                        <p>Mempengaruhi masa depan OpenStack</p>
                    </div>
                </div>
            </div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>Dokumentasi diperlakukan seperti kode, didukung oleh masyarakat yang tertarik?</p>
                    <a href="/doc-contrib-guide/" class="overview-btn contribute-btn">Cara berkontribusi <i class="fa fa-chevron-right"></i></a>
                    <p>Untuk berpartisipasi dalam terjemahan dokumentasi dan proyek OpenStack, silahkan bergabung dengan <a href="https://translate.openstack.org/language/view/id">tim penerjemah Indonesia di Zanata</a>.</p>
                </div>
            </div>
        </div>
</div>
    <!-- End Page Content -->
{% endblock content %}
