{% extends "templates/base.tmpl" %}
{% block pagetitle %}Italiano{% endblock %}
{% block title %} Documentazione{% endblock %}
{% block content %}
   <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>Documentazione Italiana</h1>
                <p>
                    In questa pagine troverete la documentazione di OpenStack in Italiano con i seguenti documenti.
                </p>
</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                    </div>
                    <div class="docs-link-sections">
                      <h3 id="training-guides">
                        <i class="fa fa-university"> </i>
                             Guida di Tirocinio
                      </h3>
                          <a href="/it/upstream-training/">
                            Manuale di OpenStack Upstream Training
                          </a>
                          <p>
                           Questa documentazione e' per il Programma di OpenStack Upstream Training
                       </p>
                    </div>
                </div>
            </div>
          </div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>Collaborazione</p>
                    <p>Per aiutare a tradurre la documentazione, o di singoli progetti di OpenStack,
                    entra in Zanata di OpenStack</p>
      <a href="https://translate.openstack.org/language/view/it">
       Il gruppo di traduzione per la lingua Italiana e' composto dai segenti collaboratori.
      </a>
                </div>
            </div>
        </div>
</div>
    <!-- End Page Content -->

{% endblock content %}
