{% extends "templates/indexbase.tmpl" %}
{% block pagetitle %}{{SERIES_TITLE}}{% endblock %}
{% block title %}{% endblock %}
{% block header %}
{% endblock header %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12"></div>
  </div>

  <div class="row docs-toc">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="docs-link-sections">
        <h3 id="configuration-guides"><i class="fa fa-wrench"></i> Configuration Guides</h3>
        <a href="config-guide/">Configuration Reference</a>
        <p>Installation and configuration options for OpenStack</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="docs-link-sections">
        <h3 id="ops-and-admin-guides"><i class="fa fa-users"></i> Operations and Administration Guides</h3>
        <a href="networking-guide/">Networking Guide</a>
        <p>Deploy and manage OpenStack Networking (neutron)</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
