{% set scriptdir = '../common/js/' %}
{% set cssdir = '../common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Architecture Design Guide{% endblock %}
{% block title %}
<a href="http://docs.openstack.org/">Documentation</a> &gt; Architecture Design Guide
{% endblock %}
{% block content %}
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>OpenStack Architecture Design Guide</h1>
  <p><strong>The OpenStack Architecture Design Guide offers examples of OpenStack deployments for different use cases.</strong>
Authors who know how to design clouds that meet users' needs wrote this book in a five-day book sprint.</p>
<hr />
                <h3>Get the Book!</h3>

   <a class="overview-btn docs-btn" href="http://docs.openstack.org/arch-design/content/" onclick="recordOutboundLink(this, 'Outbound Links', 'arch-guide.html');return false;">Current HTML<i class="fa fa-arrow-circle-o-down"></i></a>
   <a class="overview-btn docs-btn" href="http://docs.openstack.org/arch-design/arch-design.pdf" onclick="recordOutboundLink(this, 'Outbound Links', arch-design.pdf');return false;"> Current PDF<i class="fa fa-arrow-circle-o-down"></i></a>
   <a class="overview-btn docs-btn" href="http://www.lulu.com/shop/openstack-foundation/openstack-architecture-design-guide/paperback/product-21740250.html" onclick="recordOutboundLink(this, 'Outbound Links', 'archlulu.com');return false;"> buy it from Lulu<i class="fa fa-arrow-circle-o-right"></i></a>

       </div>
        <div class="col-lg-4 col-md-4 col-sm-4 superuser-wrapper">
        <img src="../common/images/arch-guide-cover.png" width="100%"/>
        </div>

       </div>
    </div>
</div>


<div class="mid-docs-wrapper" id="docs-main-body">
 <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>

 <div class="row">
  <p>
   Read this book to learn about these types of use cases for OpenStack clouds:
  </p>
  <ul>
   <li>
    General purpose: compute, network, and storage components balanced for scale-out, general purpose applications.
   </li>
   <li>
    Compute focused: built and designed specifically to support compute intensive workloads such as high performance computing, big data analysis, continuous integration or continuous deployment, and platform as a service.
   </li>
   <li>
    Storage focused: data management through cloud storage solutions to support applications like archiving, data analytics, content storage and synchronization, media streaming, databases, and content distribution.
   </li>
   <li>
    Network focused: when users require network services beyond the usual cloud use cases, such as content delivery networks, network services like VPN or GRE tunnels, and web portals or web services.
   </li>
   <li>
    Multi-site clouds: when services are hosted in more than one data center to spread out the geographic footprint for redundancy or for location-sensitive data
   </li>
   <li>
    Hybrid clouds: when the design spans more than one cloud, you plan for a hybrid cloud architecture.
   </li>
   <li>
    Massively scalable: for large deployments serving many users with many resources available, often for public clouds
   </li>
   <li>
    Specialized cases: describes multi-hypervisor examples, specialized networking, desktop-as-a-service, OpenStack on OpenStack, and the use of specialized hardware in a cloud's design.
   </li>
  </ul>
  <p>
   You can get the
   <a href="http://docs.openstack.org/arch-design/arch-design.pdf" onclick="recordOutboundLink(this, 'Outbound Links', arch-design.pdf');return false;">
    PDF
   </a>
   to print yourself. If you'd like a bound copy,
   <a href="http://www.lulu.com/shop/openstack-foundation/openstack-architecture-design-guide/paperback/product-21740250.html" onclick="recordOutboundLink(this, 'Outbound Links', 'archlulu.com');return false;">
    buy it from Lulu
   </a>
   and all proceeds go to the Foundation to support more book sprints efforts like this one.
  </p>
  <p>
   <a href="http://www.lulu.com/commerce/index.php?fBuyContent=15006967"><img src="http://static.lulu.com/images/services/buy_now_buttons/en/blue.gif?20140805085029" border="0" alt="Support independent publishing: Buy this book on Lulu."></a>
  </p>
<div class="photo">
   <img src="../common/images/openstack-arch-guide-team.png" width="100%"/>
  </div>

  <p align="right">
   <a href="http://creativecommons.org/licenses/by/3.0/us/" rel="license">
    <img alt="Creative Commons License" src="http://i.creativecommons.org/l/by/3.0/us/88x31.png" style="border-width:0"/>
   </a>
   <br/>
   This work is licensed under a
   <a href="http://creativecommons.org/licenses/by/3.0/us/" rel="license">
    Creative Commons Attribution 3.0 United States License
   </a>
   .
  </p>
 </div>
</div>
</div>
</div>
{% endblock content %}
