{% set scriptdir = '../common/js/' %}
{% set cssdir = '../common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Chinese (Simplified){% endblock %}
{% block title %} 文档{% endblock %}
{% block content %}
   <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>OpenStack中文文档</h1>
                <p>
此处的文档均是英文版的简体中文翻译版。如需要访问英文文档站点，请点击
     <a href="http://docs.openstack.org/">
      英文文档
     </a>
                </p>
</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-book"></i> 使用OpenStack</h3>
<a href="http://docs.openstack.org/zh_CN/api/quick-start/content/index.html">
 API快速指南
      </a>
                    </div>
            </div>
          </div>
          </div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>文档翻译</p>
文档翻译由OpenStack简体中文翻译团队提供. 如想加入请点击这里
      <a href="https://wiki.openstack.org/wiki/I18n/team/zh_cn">
       团队简介
      </a>
      .
                </div>
            </div>
        </div>
</div>
    <!-- End Page Content -->

{% endblock content %}
