{% extends "templates/base.tmpl" %}
{% block pagetitle %}Chinese(Simplified){% endblock %}
{% block title %}{% endblock %}
{% block header %}
{% endblock header %}
{% block content %}
<!-- Begin Page Content -->
<div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>欢迎访问OpenStack文档</h1>
                <p>
                    <strong>OpenStack是什么?</strong> OpenStack是一个云操作系统，通过数据中心可控制大型的计算、存储、网络等资源池。所有的管理通过前端界面管理员就可以完成，同样也可以通过web接口让最终用户部署资源。
                </p>
                <hr>
                <h3>想深入了解OpenStack?</h3>
                <a href="#docs-main-body" class="overview-btn docs-btn">查看文档 <i class="fa fa-arrow-circle-o-down"></i></a>
                <a href="http://www.openstack.org/software/start/" class="overview-btn docs-btn">获取OpenStack <i class="fa fa-arrow-circle-o-right"></i></a>
                <a href="http://www.openstack.org/marketplace/training" class="overview-btn docs-btn">获得培训<i class="fa fa-arrow-circle-o-right"></i></a>
               {% include 'templates/swiftype_search.tmpl' %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 superuser-wrapper">
                <div id="superuser-img"></div>
            </div>
        </div>
    </div>
    <div class="mid-docs-wrapper" id="docs-main-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <h2>中文</h2>
                    <p>最新的中文文档。包括安装手册，API文档</p>
                </div>
                {% include 'templates/dropdown_releases_and_languages.tmpl' %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
        <div class="row docs-toc">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="docs-link-sections">
                    <h3 id="install-guides"><i class="fa fa-cogs"></i>安装文档</h3>
                    <p>从最通用的OpenStack服务开始</p>
                    <h4>Mitaka 版本</h4>
                    <a href="/mitaka/zh_CN/install-guide-obs/">openSUSE Leap 42.1、SUSE Linux Enterprise Server 12 SP1</a>
                    <a href="/mitaka/zh_CN/install-guide-rdo/">Red Hat Enterprise Linux 7、CentOS 7</a>
                    <a href="/mitaka/zh_CN/install-guide-ubuntu/">Ubuntu 14.04 (LTS) </a>
                    <h4>Liberty 版本</h4>
                    <a href="/liberty/zh_CN/install-guide-obs/">openSUSE 13.2、SUSE Linux Enterprise Server 12</a>
                    <a href="/liberty/zh_CN/install-guide-rdo/">Red Hat Enterprise Linux 7、CentOS 7</a>
                    <a href="/liberty/zh_CN/install-guide-ubuntu/">Ubuntu 14.04 (LTS)</a>
                </div>
                <div class="docs-link-sections">
                    <h3 id="user-guides"><i class="fa fa-book"></i>API手册</h3>
                    <a href="http://developer.openstack.org/zh_CN/api-guide/quick-start/">API快速手册</a>
                    <p>OpenStack API 使用方法介绍</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="docs-link-sections">
                    <h3 id="doc-contrib-guides"><i class="fa fa-pencil"></i> 贡献者指南</h3>
                    <a href="https://www.openstack.org/user-survey/?lang=zh_CN">参加用户调查</a>
                    <p>影响OpenStack的未来</p>
                </div>
            </div>
        </div>
        <div class="row docs-contribute-wrapper">
            <div class="col-lg-12">
                <p>像在OpenStack社区里贡献代码那样贡献文档和翻译! 感兴趣?</p>
                <a href="https://wiki.openstack.org/wiki/I18nTeam/team/zh_cn" class="overview-btn contribute-btn">了解如何贡献 <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- End Page Content -->
{% endblock content %}
