{% extends "templates/base.tmpl" %}
{% block pagetitle %}Chinese{% endblock %}
{% block title %}OpenStack中文文档{% endblock %}
{% block content %}
<div class="container">
 <div class="span-12">
  <p>
   此处的文档均是英文版的简体中文翻译版。如需要访问英文文档站点，请点击<a href="http://docs.openstack.org/">英文文档
  </p>
 </div>
 <div class="span-12" id="subnav">
  <ul class="subsectionNav">
   <li class="link">
    <a>
     使用OpenStack
    </a>
   </li>
  </ul>
  <dl>
   <dt>
    <a href="http://docs.openstack.org/zh_CN/api/quick-start/content/index.html">
     API快速指南
    </a>
   </dt>
  </dl>
 </div>
 <div class="span-12 last" id="subnav">
  <ul class="subsectionNav last-right">
   <li class="link">
    <a>
     文档翻译
    </a>
   </li>
  </ul>
  <dl>
   <dt>
    文档翻译由OpenStack简体中文翻译团队提供. 如想加入请点击这里
    <a href="https://wiki.openstack.org/wiki/I18n/team/zh_cn">团队简介</a>
    .
   </dt>
  </dl>
 </div>
</div>
{% endblock content %}
