{% extends "templates/base.tmpl" %}
{% block pagetitle %}Korean{% endblock %}
{% block title %}{% endblock %}
{% block header %}
{% endblock header %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>OpenStack 문서에 오신 것을 환영합니다</h1>
                <p>
                    <strong>OpenStack이란?</strong> OpenStack은 클라우드 운영체제입니다. 데이터 센터의 컴퓨팅 자원, 스토리지 자원, 네트워크 자원의 대규모 풀을 제어합니다. 이런 것들은 모두 웹 인터페이스로 관리됩니다. 관리자는 자원을 제어하며, 이용자에게 리소스를 제공할 수 있습니다.
                </p>
                <hr>
                <h3>다음 단계는?</h3>
                <a href="#docs-main-body" class="overview-btn docs-btn">문서보기 <i class="fa fa-arrow-circle-o-down"></i></a>
                <a href="https://www.openstack.org/software/start/" class="overview-btn docs-btn">OpenStack 시작하기 <i class="fa fa-arrow-circle-o-right"></i></a>
                <a href="https://www.openstack.org/marketplace/training" class="overview-btn docs-btn">배우기 <i class="fa fa-arrow-circle-o-right"></i></a>
                {% include 'templates/os_search.tmpl' %}
       </div>
        <div class="col-lg-4 col-md-4 col-sm-4 superuser-wrapper">
            <div id="superuser-img"></div>
        </div>
    </div>
</div>
<div class="mid-docs-wrapper" id="docs-main-body">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h2>한국어 문서</h2>
                <p>한국어 문서는 최신 버전만 제공합니다. 번역되지 않았거나 이전 릴리즈의 영어 문서와 다른 언어로 된 문서는 다음 메뉴에서 확인할 수 있습니다.</p>
            </div>
            {% include 'templates/dropdown_releases_and_languages.tmpl' %}
        </div>
    </div>
</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3 id="install-guides"><i class="fa fa-cogs"></i>설치 가이드</h3>
                        <p>가장 일반적으로 사용하는 OpenStack 서비스 시작하기</p>
                        <h4>Pike 및 이후</h4>
                        <a href="/ko_KR/install-guide">OpenStack 설치 가이드</a>
                        <h4>Ocata 릴리즈 설치 가이드</h4>
                        <a href="/ocata/ko_KR/install-guide-obs/">openSUSE 및 SUSE Linux Enterprise를 위한 OpenStack 설치 튜토리얼</a>
                        <a href="/ocata/ko_KR/install-guide-rdo/">Red Hat Enterprise Linux 및 CentOS를 위한 OpenStack 설치 튜토리얼</a>
                        <a href="/ocata/ko_KR/install-guide-ubuntu/">Ubuntu를 위한 OpenStack 설치 튜토리얼</a>
                        <h4>Newton 릴리즈 설치 가이드</h4>
                        <a href="/newton/ko_KR/install-guide-debian/">Debian 8을 위한 설치 가이드</a>
                        <a href="/newton/ko_KR/install-guide-obs/">openSUSE Leap 42.2 및 SUSE Linux Enterprise Server 12 SP2를 위한 설치 가이드</a>
                        <a href="/newton/ko_KR/install-guide-rdo/">Red Hat Enterprise Linux 7 및 CentOS 7을 위한 설치 가이드</a>
                        <a href="/newton/ko_KR/install-guide-ubuntu/">Ubuntu 16.04를 위한 설치 가이드</a>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="api-guides"><i class="fa fa-book"></i>API 가이드</h3>
                        <a href="https://developer.openstack.org/ko_KR/api-guide/quick-start/">API 가이드</a>
                        <p>OpenStack API 사용에 대한 소개</p>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="configuration-guides"><i class="fa fa-wrench"></i>구성 가이드</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3 id="ops-and-admin-guides"><i class="fa fa-users"></i>운영 및 관리자 가이드</h3>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="user-guides"><i class="fa fa-cloud"></i>사용자 가이드</h3>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="doc-contrib-guides"><i class="fa fa-pencil"></i>컨트리뷰터 가이드</h3>
                        <a href="/i18n/latest/ko_KR/">OpenStack I18n 가이드</a>
                        <p>국제화 워크플로우 및 통용규칙</p>
                        <a href="https://www.openstack.org/user-survey/?lang=ko_KR">배포 설문하기</a>
                        <p>OpenStack 미래에 영향을 미치기</p>
                    </div>
                    <div class="docs-link-sections">
                        <h3 id="training-guides"><i class="fa fa-university"></i>트레이닝 가이드</h3>
                        <a href="/ko_KR/upstream-training/">Upstream training</a>
                        <p>OpenStack Upstream Training 프로그램을 위한 리소스</p>
                    </div>
                </div>
            </div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>문서들 또한 코드처럼 커뮤니티에서 관리됩니다 - 관심 있으신가요?</p>
                    <a href="/doc-contrib-guide/" class="overview-btn contribute-btn">기여하려면 <i class="fa fa-chevron-right"></i></a>
                </div>
                <div class="col-lg-12">
                    <p>한국어 번역에 참여하시고 싶으신 분께서는 <a href="https://wiki.openstack.org/wiki/I18nTeam/team/ko_KR">한국 번역팀 Wiki page</a>를 확인하세요.</p>
                    <p><a href="https://groups.openstack.org/groups/south-korea">OpenStack 한국 커뮤니티</a>를 중심으로 활동하고 있습니다.</p>
                </div>
            </div>
        </div>
</div>
    <!-- End Page Content -->
{% endblock content %}
