{% extends "templates/base.tmpl" %}
{% block pagetitle %}Korean{% endblock %}
{% block title %}OpenStack 문서{% endblock %}
{% block content %}
<div class="container">
 <div class="span-12">
  <p>
   이 문서들은 한국어로 번역된 문서들입니다.
    영문 문서는
     <a href="http://docs.openstack.org/">
      여기서
     </a>
    확인하세요.
  </p>
 </div>
 <div class="span-12" id="subnav">
  <ul class="subsectionNav">
   <li class="link">
    <a>
     OpenStack 사용
    </a>
   </li>
  </ul>
  <dl>
   <dt>
    <a href="http://docs.openstack.org/ko_KR/api/quick-start/content/index.html">
       API 빠른 시작 (초안)
    </a>
   </dt>
  </dl>
 </div>
 <div class="span-12 last" id="subnav">
  <ul class="subsectionNav last-right">
   <li class="link">
    <a>
     한국어 번역 정보
    </a>
   </li>
  </ul>
  <dl>
   <dt>
   오픈스택 매뉴얼 번역은
     <a href="https://www.transifex.com/projects/p/openstack-manuals-i18n/language/ko_KR/">
      Transifex
     </a>
     에서 진행됩니다.
     가입방법은
     <a href="https://wiki.openstack.org/wiki/I18nTeam/ko_KR">
         한국 번역팀 Wiki page
     </a>
     에서 확인하시면 됩니다.
    </p>
    <p>
     <a href="https://wiki.openstack.org/wiki/OpenStack_User_Groups#South_Korea">
      OpenStack 한국 커뮤니티
     </a>
     중심을 활동하고 있습니다.
   </dt>
  </dl>
 </div>
</div>
{% endblock content %}
