{% set scriptdir = '../common/js/' %}
{% set cssdir = '../common/css/' %}
{% extends "templates/base.tmpl" %}
{% block pagetitle %}Korean{% endblock %}
{% block title %} 문서{% endblock %}
{% block content %}
   <!-- Begin Page Content -->
    <div class="top-docs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h1>OpenStack 문서</h1>
                <p>
이 문서들은 한국어로 번역된 문서들입니다.
    영문 문서는
     <a href="http://docs.openstack.org/">
      여기서
     </a>
     확인하세요.
                </p>
</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="row docs-toc">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="docs-link-sections">
                        <h3><i class="fa fa-book"></i> OpenStack 사용</h3>
<a href="http://docs.openstack.org/ko_KR/api/quick-start/content/index.html">
       API 빠른 시작 (초안)
      </a>
                    </div>
            </div>
          </div>
          </div>
            <div class="row docs-contribute-wrapper">
                <div class="col-lg-12">
                    <p>한국어 번역 정보</p>
 오픈스택 매뉴얼 번역은
      <a href="https://www.transifex.com/projects/p/openstack-manuals-i18n/language/ko_KR/">
       Transifex
      </a>
      에서 진행됩니다.
     가입방법은
      <a href="https://wiki.openstack.org/wiki/I18nTeam/ko_KR">
       한국 번역팀 Wiki page
      </a>
      에서 확인하시면 됩니다.
      <p>
       <a href="https://wiki.openstack.org/wiki/OpenStack_User_Groups#South_Korea">
        OpenStack 한국 커뮤니티
       </a>
       중심을 활동하고 있습니다.
      </p>
                </div>
            </div>
        </div>
</div>
    <!-- End Page Content -->

{% endblock content %}
